<article class="col-md">
  <h2>{{ i18n "live-images" }}</h2>
  <p>{{ i18n "live-images-text" }}</p>
  <a href="https://community.kde.org/Plasma/Live_Images" class="learn-more">{{ i18n "download-plasma" }}</a>
  <a href="https://community.kde.org/Plasma/Docker_Images" class="learn-more">{{ i18n "docker-plasma" }}</a>
</article>
<article class="col-md">
  <h2>{{ i18n "package-downloads" }}</h2>
  <p>{{ i18n "package-downloads-text" }}</p>
  <p class="alert alert-info">{{ i18n "package-distro" }}</p>
  <a href="https://community.kde.org/Plasma/Packages" class="learn-more">{{ i18n "package-wiki" }}</a>
</article>
