<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/baloo-5.5.95.tar.xz">baloo-5.5.95</a></td>
   <td align="right">133kB</td>
   <td><tt>8a831876d1c0600133b3c5af6519e0ea99deecdf107a64bd36f91966622d1cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/bluedevil-5.1.95.tar.xz">bluedevil-5.1.95</a></td>
   <td align="right">67kB</td>
   <td><tt>07a3fae8db63905c51bd4d66abeb4c171230b9dec0e19b460014852c2b895b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/breeze-5.1.95.tar.xz">breeze-5.1.95</a></td>
   <td align="right">26MB</td>
   <td><tt>c9309d8e4484430808be1374b54dd328494c8b04ff7427a70e094bfc84251262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kcm-touchpad-5.1.95.tar.xz">kcm-touchpad-5.1.95</a></td>
   <td align="right">80kB</td>
   <td><tt>499a0a6844936d1aef5c84904d7f992a370a31eb43890b27f5418fbe7d510627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kde-cli-tools-5.1.95.tar.xz">kde-cli-tools-5.1.95</a></td>
   <td align="right">465kB</td>
   <td><tt>09869262bdad7c0ce372ff2d536759455b1a2ecbd027eb0505be343287f893b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kde-gtk-config-5.1.95.tar.xz">kde-gtk-config-5.1.95</a></td>
   <td align="right">160kB</td>
   <td><tt>cb76aaafdc15df8845374c30e32b8b99068c8efbaefa99ef7e77c6a6ebf0a1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kdecoration-5.1.95.tar.xz">kdecoration-5.1.95</a></td>
   <td align="right">32kB</td>
   <td><tt>b1a4e362158ccf02c4f55314f2f81427daa00816f21790be0af13e0bde0c6baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kdeplasma-addons-5.1.95.tar.xz">kdeplasma-addons-5.1.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b546a744637d23a1efa57cd6e073be95e5ed76297ee1c9a082d30d02cc787144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kfilemetadata-5.5.95.tar.xz">kfilemetadata-5.5.95</a></td>
   <td align="right">109kB</td>
   <td><tt>c24819b4a79cfc289bb68ae60daa4b19c42a28a920a194c0593deb047ac3653a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/khelpcenter-5.1.95.tar.xz">khelpcenter-5.1.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1ce766fcc0f6170c21eb9ea06cfd0fe1b06ebd4056f2db5cd01b5d63bd2c45cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/khotkeys-5.1.95.tar.xz">khotkeys-5.1.95</a></td>
   <td align="right">726kB</td>
   <td><tt>05e03bff80a8e805a7546a6f944aec310dc875044ac2f6cf7731f8297003988d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kinfocenter-5.1.95.tar.xz">kinfocenter-5.1.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d76fb6a9a40d27001870b8a45137b09528eb3b01f2182604c48034b7b1e6ea86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kio-extras-5.1.95.tar.xz">kio-extras-5.1.95</a></td>
   <td align="right">503kB</td>
   <td><tt>626e8002a43a900ab464908f0ef752ee7239c9e04566c83a49e2beb332740597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kmenuedit-5.1.95.tar.xz">kmenuedit-5.1.95</a></td>
   <td align="right">365kB</td>
   <td><tt>ce41c32e6650ca55255a8753d97d1e33a20df2d41d5ce8054ca63ed24a7ff38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kscreen-5.1.95.tar.xz">kscreen-5.1.95</a></td>
   <td align="right">61kB</td>
   <td><tt>65b0734bfee371639c7e96330902dbd3a5883024afe827c1041dd4f31d247712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/ksshaskpass-5.1.95.tar.xz">ksshaskpass-5.1.95</a></td>
   <td align="right">10kB</td>
   <td><tt>d4b8c0a5648e5f5e2df1318af0dc7c91a02d6c636c2ecee8a2b55d76cdaa9faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/ksysguard-5.1.95.tar.xz">ksysguard-5.1.95</a></td>
   <td align="right">458kB</td>
   <td><tt>f7411a66dbe393d9d59dab61a4db8490359f06df161ce6be70b2dd99d8e1d579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kwayland-5.1.95.tar.xz">kwayland-5.1.95</a></td>
   <td align="right">83kB</td>
   <td><tt>5705761b54b34413da3e025bb3865fee25c97a74778143758cc91899e4a7ffb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kwin-5.1.95.tar.xz">kwin-5.1.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ca1f61613448c2ac6d675061ddd53df5ca3b3277ee1079d4f2327eb8bb14d7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/kwrited-5.1.95.tar.xz">kwrited-5.1.95</a></td>
   <td align="right">18kB</td>
   <td><tt>52a132c6c41a455ca3342b8ac48306bb763b7a9e0733f8f30b04bb07dfb0bf28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/libbluedevil-5.1.95.tar.xz">libbluedevil-5.1.95</a></td>
   <td align="right">187kB</td>
   <td><tt>1a72e5ee3def3e1abc652624993b6455c7d9a396a480b43046cbd7c58010468e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/libkscreen-5.1.95.tar.xz">libkscreen-5.1.95</a></td>
   <td align="right">69kB</td>
   <td><tt>e9a358faa123afcc4873aa989738d41ec28c006f8af1f4e4618c7da9c171057d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/libksysguard-5.1.95.tar.xz">libksysguard-5.1.95</a></td>
   <td align="right">539kB</td>
   <td><tt>d1ff7ccdf57beb9b78aa0a5d35b6c99a256051bf8ac981981a0b0cf3054f8fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/libmm-qt-5.1.95.tar.xz">libmm-qt-5.1.95</a></td>
   <td align="right">74kB</td>
   <td><tt>27d60fa9ad8827342336d9186cda5dc9ac32f869f1fde10ba28d424e41ea79fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/milou-5.1.95.tar.xz">milou-5.1.95</a></td>
   <td align="right">49kB</td>
   <td><tt>f1707a1a2e5da7c5072fc32069e51e47a9f59c1866a0b42bab3ba7204337dd2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/muon-5.1.95.tar.xz">muon-5.1.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>32f4435ec8a5f04566269566ccfb1eed7c6b58446337746fd970e1120829f696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/oxygen-5.1.95.tar.xz">oxygen-5.1.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>68bb07d720f323875c4f19d66bf761231ca1b4dde95e11fe1ff628b07320d0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/oxygen-fonts-5.1.95.tar.xz">oxygen-fonts-5.1.95</a></td>
   <td align="right">157kB</td>
   <td><tt>6c637ca5c77b6ed937182a04e41bfe3360589a42f8727a3d78c8b2365c722cf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/plasma-desktop-5.1.95.tar.xz">plasma-desktop-5.1.95</a></td>
   <td align="right">5.4MB</td>
   <td><tt>85b9164084fa289412e6295e527e4a4af8beae581e09ce188a687039c12b689e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/plasma-nm-5.1.95.tar.xz">plasma-nm-5.1.95</a></td>
   <td align="right">485kB</td>
   <td><tt>b6f66cac2cb0587f581485f8cfb8ca2385cb4e8ad22927fad4b7cc9e2a388feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/plasma-workspace-5.1.95.tar.xz">plasma-workspace-5.1.95</a></td>
   <td align="right">6.4MB</td>
   <td><tt>bee09af92e19bddd7f008c54347952d01b3381ad0c40b678202c77b58fa10ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/plasma-workspace-wallpapers-5.1.95.tar.xz">plasma-workspace-wallpapers-5.1.95</a></td>
   <td align="right">27MB</td>
   <td><tt>b9d2a80cb3ce46f6e6d06416cbbcb555b875d88bbdd5fb7dc74d64f3476073f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/polkit-kde-agent-1-5.1.95.tar.xz">polkit-kde-agent-1-5.1.95</a></td>
   <td align="right">37kB</td>
   <td><tt>8c99d40e6738fc7af6baab4c1ad3cd84d1d0b88be5bfb3604758e578b469077f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/powerdevil-5.1.95.tar.xz">powerdevil-5.1.95</a></td>
   <td align="right">407kB</td>
   <td><tt>7936216f220c4a13fef0cc9ef030401cbbba96f7cbb9b949b5c01417cb69c4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/sddm-kcm-5.1.95.tar.xz">sddm-kcm-5.1.95</a></td>
   <td align="right">40kB</td>
   <td><tt>9b6201b216af4c2a20ee35496cd323c635d9ac4a6c3818d1bbdb27c7e76b661f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/systemsettings-5.1.95.tar.xz">systemsettings-5.1.95</a></td>
   <td align="right">153kB</td>
   <td><tt>495483b4792056e914a58aa2991bb2cf284d88ecf46aac6f7a0dd6ac2b5f54c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.1.95/user-manager-5.1.95.tar.xz">user-manager-5.1.95</a></td>
   <td align="right">25kB</td>
   <td><tt>24694e3eb6700e4b547aa5fc6db7abe4d5647f9cfbd8f09f4802beb46e31c5db</tt></td>
</tr>

</table>
