
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/attica-5.47.0.tar.xz">attica-5.47.0</a></td>
   <td align="right">59kB</td>
   <td><tt>26f5e623d5306ca5a8359081479c38abd3aa8d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/baloo-5.47.0.tar.xz">baloo-5.47.0</a></td>
   <td align="right">223kB</td>
   <td><tt>666204e72e05439940bb6184cfbf976ec8f1e957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/bluez-qt-5.47.0.tar.xz">bluez-qt-5.47.0</a></td>
   <td align="right">73kB</td>
   <td><tt>c4c903fcfcf8a87ea3cd6d15cc3b1208779af4c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/breeze-icons-5.47.0.tar.xz">breeze-icons-5.47.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ce41d060eec506ebcbd064a0a0a3ba37580fa432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/extra-cmake-modules-5.47.0.tar.xz">extra-cmake-modules-5.47.0</a></td>
   <td align="right">309kB</td>
   <td><tt>317a79a738af276c6ed17dceee7983626f0d3854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/frameworkintegration-5.47.0.tar.xz">frameworkintegration-5.47.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>94587623c288c29d39ded590bcc36b822dedb88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kactivities-5.47.0.tar.xz">kactivities-5.47.0</a></td>
   <td align="right">59kB</td>
   <td><tt>75e7814a6dc1c92dd489144ba2292b018541d9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kactivities-stats-5.47.0.tar.xz">kactivities-stats-5.47.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bf50c371f2989e3253f0ef9d3ce6d6529d0457d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kapidox-5.47.0.tar.xz">kapidox-5.47.0</a></td>
   <td align="right">387kB</td>
   <td><tt>d39eb94a13cbbc1581a7198b87afe1df089ef453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/karchive-5.47.0.tar.xz">karchive-5.47.0</a></td>
   <td align="right">428kB</td>
   <td><tt>3f68e3297c69a16b0445d6c45d9f5de80e6440ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kauth-5.47.0.tar.xz">kauth-5.47.0</a></td>
   <td align="right">82kB</td>
   <td><tt>a150374bd1430b4361cb0f7f7bf90dcf2e88209d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kbookmarks-5.47.0.tar.xz">kbookmarks-5.47.0</a></td>
   <td align="right">115kB</td>
   <td><tt>79d71dca5ee955f54b2404904b5a3c06592fbbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kcmutils-5.47.0.tar.xz">kcmutils-5.47.0</a></td>
   <td align="right">231kB</td>
   <td><tt>e6ac79a23e4e2a18c0840284a684122a0ee38a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kcodecs-5.47.0.tar.xz">kcodecs-5.47.0</a></td>
   <td align="right">214kB</td>
   <td><tt>81ce3c7b45bf26711bb5b537e7ed5e7a8ab0c094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kcompletion-5.47.0.tar.xz">kcompletion-5.47.0</a></td>
   <td align="right">112kB</td>
   <td><tt>68e3fd779b89f1cbd6fdd0f8cd0873a287343a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kconfig-5.47.0.tar.xz">kconfig-5.47.0</a></td>
   <td align="right">230kB</td>
   <td><tt>84bf30d5872aa22a16c9a8eb940b6ba24ab8c9b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kconfigwidgets-5.47.0.tar.xz">kconfigwidgets-5.47.0</a></td>
   <td align="right">366kB</td>
   <td><tt>7c495df374bfc86f3e863869d30d731b76e933f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kcoreaddons-5.47.0.tar.xz">kcoreaddons-5.47.0</a></td>
   <td align="right">342kB</td>
   <td><tt>8a4f129f17593b9892ada7d8172e52d5991cf9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kcrash-5.47.0.tar.xz">kcrash-5.47.0</a></td>
   <td align="right">21kB</td>
   <td><tt>4158f72d380db2411e2cf219cddde48011bec1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdbusaddons-5.47.0.tar.xz">kdbusaddons-5.47.0</a></td>
   <td align="right">36kB</td>
   <td><tt>878dbd0a416424e0bc8fa8c0c4d6219af20bb635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdeclarative-5.47.0.tar.xz">kdeclarative-5.47.0</a></td>
   <td align="right">167kB</td>
   <td><tt>b8e8ddb9d5fd1b807e645295c1cc3da685d83fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kded-5.47.0.tar.xz">kded-5.47.0</a></td>
   <td align="right">36kB</td>
   <td><tt>09dd0bfc20b56a7c92d40f174704b8e313e718e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdesignerplugin-5.47.0.tar.xz">kdesignerplugin-5.47.0</a></td>
   <td align="right">88kB</td>
   <td><tt>8018d6a007c17ee20d8c824aaf090439de6430de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdesu-5.47.0.tar.xz">kdesu-5.47.0</a></td>
   <td align="right">43kB</td>
   <td><tt>433e132e0380ab4add4dceda4655bfc5d2f8b8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdewebkit-5.47.0.tar.xz">kdewebkit-5.47.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4d1d0d49a40f98711c07b6e35f815d7d6a30ac10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdnssd-5.47.0.tar.xz">kdnssd-5.47.0</a></td>
   <td align="right">55kB</td>
   <td><tt>3fe882feee22c59f30f1534a126761489f3a091d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kdoctools-5.47.0.tar.xz">kdoctools-5.47.0</a></td>
   <td align="right">413kB</td>
   <td><tt>5f81a8a45bee5b0fb511306ccb36ec102ccd2bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kemoticons-5.47.0.tar.xz">kemoticons-5.47.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c08dd8cc83d8787e9a0c4282e87d304638a32a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kfilemetadata-5.47.0.tar.xz">kfilemetadata-5.47.0</a></td>
   <td align="right">248kB</td>
   <td><tt>3532a4d1c837ed87519db129a5a98f5448a9d03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kglobalaccel-5.47.0.tar.xz">kglobalaccel-5.47.0</a></td>
   <td align="right">81kB</td>
   <td><tt>fbe4d1ae4708cd1a17b56ee11c3a1e86b5f2bb0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kguiaddons-5.47.0.tar.xz">kguiaddons-5.47.0</a></td>
   <td align="right">39kB</td>
   <td><tt>c8023fabfb74dd9d371f170e9965494081b48a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kholidays-5.47.0.tar.xz">kholidays-5.47.0</a></td>
   <td align="right">194kB</td>
   <td><tt>49d5d9b09f8ec6fd9955c2542b4ea49f4d64cddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/ki18n-5.47.0.tar.xz">ki18n-5.47.0</a></td>
   <td align="right">573kB</td>
   <td><tt>0bd77354c825f8502ab49ae33de33e17e0c34336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kiconthemes-5.47.0.tar.xz">kiconthemes-5.47.0</a></td>
   <td align="right">201kB</td>
   <td><tt>61060fd920220fd1ff96eb738eeb978e98a3f0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kidletime-5.47.0.tar.xz">kidletime-5.47.0</a></td>
   <td align="right">25kB</td>
   <td><tt>e0fc1fccd09a8368ec8e1d60716f2d2cd35628e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kimageformats-5.47.0.tar.xz">kimageformats-5.47.0</a></td>
   <td align="right">199kB</td>
   <td><tt>49f9e3a88727a763b7504f802ee8c5a619b2996f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kinit-5.47.0.tar.xz">kinit-5.47.0</a></td>
   <td align="right">117kB</td>
   <td><tt>3a388afad5b8fe3f5ad637ce66523673ea6f1098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kio-5.47.0.tar.xz">kio-5.47.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>7b0ddaadc6871a4263939264bf13175a9d896d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kirigami2-5.47.0.tar.xz">kirigami2-5.47.0</a></td>
   <td align="right">310kB</td>
   <td><tt>bae0a08ec9c524f8bb32b64f39fc758e81b8c29d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kitemmodels-5.47.0.tar.xz">kitemmodels-5.47.0</a></td>
   <td align="right">380kB</td>
   <td><tt>2655fcf1d017755f0d5429f4b5c30f6a45940d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kitemviews-5.47.0.tar.xz">kitemviews-5.47.0</a></td>
   <td align="right">73kB</td>
   <td><tt>8b7f8aa3f8a6f388d78fa4da42abdf021ea540ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kjobwidgets-5.47.0.tar.xz">kjobwidgets-5.47.0</a></td>
   <td align="right">85kB</td>
   <td><tt>0ddc9bc9d7fe237270f56ed6d5d38e5aeb46e4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/knewstuff-5.47.0.tar.xz">knewstuff-5.47.0</a></td>
   <td align="right">976kB</td>
   <td><tt>d5e2b787c649b2440874dcf7ec2370252bf1a35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/knotifications-5.47.0.tar.xz">knotifications-5.47.0</a></td>
   <td align="right">98kB</td>
   <td><tt>ae2056e61fc90a895e7b1a41bb2e9a5a2a27c227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/knotifyconfig-5.47.0.tar.xz">knotifyconfig-5.47.0</a></td>
   <td align="right">81kB</td>
   <td><tt>2517944f8083f2ac9e73e97b2423c8fb0ae489f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kpackage-5.47.0.tar.xz">kpackage-5.47.0</a></td>
   <td align="right">129kB</td>
   <td><tt>fbf21e57831261db012f71f124492c8392c047b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kparts-5.47.0.tar.xz">kparts-5.47.0</a></td>
   <td align="right">171kB</td>
   <td><tt>e4daec9a370a4c09eba85a68911ea2951f5d251a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kpeople-5.47.0.tar.xz">kpeople-5.47.0</a></td>
   <td align="right">58kB</td>
   <td><tt>fc277fa10c7618877dd25fa9bf127e9674864152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kplotting-5.47.0.tar.xz">kplotting-5.47.0</a></td>
   <td align="right">29kB</td>
   <td><tt>e8923c26f042a05124cd7ec575f54639601b7026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kpty-5.47.0.tar.xz">kpty-5.47.0</a></td>
   <td align="right">56kB</td>
   <td><tt>de880fcab2b2f81a4dcd2a31e0299756ac8a0f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/krunner-5.47.0.tar.xz">krunner-5.47.0</a></td>
   <td align="right">60kB</td>
   <td><tt>3fb17838aec6e33543966f3d8919dfca91b63411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kservice-5.47.0.tar.xz">kservice-5.47.0</a></td>
   <td align="right">243kB</td>
   <td><tt>8495366f5282bf3c0880a4e2ce61982be137c01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/ktexteditor-5.47.0.tar.xz">ktexteditor-5.47.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a5813f552e08c32e129b59471c41375dd0bb0cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/ktextwidgets-5.47.0.tar.xz">ktextwidgets-5.47.0</a></td>
   <td align="right">301kB</td>
   <td><tt>8b2170ed92a23c4bfbabe4cbd1a6c33daf5634a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kunitconversion-5.47.0.tar.xz">kunitconversion-5.47.0</a></td>
   <td align="right">756kB</td>
   <td><tt>f1a600d2b3994426a5ce13ae28fd1a6ad06f958a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kwallet-5.47.0.tar.xz">kwallet-5.47.0</a></td>
   <td align="right">299kB</td>
   <td><tt>fcb85700d6fed09583b4f974800829e70d1715f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kwayland-5.47.0.tar.xz">kwayland-5.47.0</a></td>
   <td align="right">301kB</td>
   <td><tt>e4a709c48b4745690bbba6150111bfe430e947fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kwidgetsaddons-5.47.0.tar.xz">kwidgetsaddons-5.47.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f91d9d645d1cba498e1fea80d80b5f8657d124d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kwindowsystem-5.47.0.tar.xz">kwindowsystem-5.47.0</a></td>
   <td align="right">165kB</td>
   <td><tt>1bc0b085bdcfa966a925cf0a36fabe865f003e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kxmlgui-5.47.0.tar.xz">kxmlgui-5.47.0</a></td>
   <td align="right">863kB</td>
   <td><tt>7bfe628402618201e7dad9b1e2852350699de7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/kxmlrpcclient-5.47.0.tar.xz">kxmlrpcclient-5.47.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4512588145c877cd2a5ea5d0567f8764d9431a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/modemmanager-qt-5.47.0.tar.xz">modemmanager-qt-5.47.0</a></td>
   <td align="right">96kB</td>
   <td><tt>516596c2c00b6baeceeae26201891ef7aa70cfeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/networkmanager-qt-5.47.0.tar.xz">networkmanager-qt-5.47.0</a></td>
   <td align="right">159kB</td>
   <td><tt>b7b861401ff30d86ae790a5f5b0a94b43c2d4f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/oxygen-icons5-5.47.0.tar.xz">oxygen-icons5-5.47.0</a></td>
   <td align="right">225MB</td>
   <td><tt>275967813af2d36a2a39a17dc44baa827b19ac24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/plasma-framework-5.47.0.tar.xz">plasma-framework-5.47.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>683c26efe3ba9cbef02a5efacb80d80bc9b34cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/prison-5.47.0.tar.xz">prison-5.47.0</a></td>
   <td align="right">38kB</td>
   <td><tt>4dd288db1d49acc923977145a208489c892b8010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/purpose-5.47.0.tar.xz">purpose-5.47.0</a></td>
   <td align="right">124kB</td>
   <td><tt>633ce564a8bcf5ec5c2f66b39d135e6c170df657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/qqc2-desktop-style-5.47.0.tar.xz">qqc2-desktop-style-5.47.0</a></td>
   <td align="right">40kB</td>
   <td><tt>ddcce6bc537aef889f2f218d72815daeb31ca68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/solid-5.47.0.tar.xz">solid-5.47.0</a></td>
   <td align="right">251kB</td>
   <td><tt>68a5a56dc956be855761fc05b26597a3514f0d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/sonnet-5.47.0.tar.xz">sonnet-5.47.0</a></td>
   <td align="right">279kB</td>
   <td><tt>cb6edd24efe77a135e78b330c1cb9ff4c544b2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/syntax-highlighting-5.47.0.tar.xz">syntax-highlighting-5.47.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e2c0ef711decd79f7ff77b6706a541ce16132437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.47/threadweaver-5.47.0.tar.xz">threadweaver-5.47.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e353a18e8ea5c8326f6afe888fc38deabb22d523</tt></td>
</tr>

</table>
