<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-21.04.0.tar.xz">akonadi-21.04.0</a></td>
   <td align="right">1561kB</td>
   <td><tt>7ee4089ad175c28009ef08ef8b50eda260b0457a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-calendar-21.04.0.tar.xz">akonadi-calendar-21.04.0</a></td>
   <td align="right">339kB</td>
   <td><tt>3022f75519559f77e884e335dcd2084746488e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-calendar-tools-21.04.0.tar.xz">akonadi-calendar-tools-21.04.0</a></td>
   <td align="right">223kB</td>
   <td><tt>4cddae0a8ef0d020be96fc01f16054bd05c6a8d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadiconsole-21.04.0.tar.xz">akonadiconsole-21.04.0</a></td>
   <td align="right">197kB</td>
   <td><tt>564b51b51e2afefdc6cd790809734efc1e58ffdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-contacts-21.04.0.tar.xz">akonadi-contacts-21.04.0</a></td>
   <td align="right">409kB</td>
   <td><tt>2ce241243012af0339f1b78570164ebc700745c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-import-wizard-21.04.0.tar.xz">akonadi-import-wizard-21.04.0</a></td>
   <td align="right">499kB</td>
   <td><tt>5aa2b5edc7f0f2bdba6b8b12e209f5bf350c8f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-mime-21.04.0.tar.xz">akonadi-mime-21.04.0</a></td>
   <td align="right">137kB</td>
   <td><tt>a13aa346501aac71974b47e7dfbea923b7c91d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-notes-21.04.0.tar.xz">akonadi-notes-21.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>0699ab47bbd0e8a9081e41cae02ab652fa1d60cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akonadi-search-21.04.0.tar.xz">akonadi-search-21.04.0</a></td>
   <td align="right">95kB</td>
   <td><tt>c47dc82cd4d8a679657e5747e1890947c8411b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/akregator-21.04.0.tar.xz">akregator-21.04.0</a></td>
   <td align="right">2161kB</td>
   <td><tt>b2b54aa43184e5971421ffe1929adf08c61a5ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/analitza-21.04.0.tar.xz">analitza-21.04.0</a></td>
   <td align="right">334kB</td>
   <td><tt>8362d6511215da7b915563453c041663849c77bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ark-21.04.0.tar.xz">ark-21.04.0</a></td>
   <td align="right">2662kB</td>
   <td><tt>9c00470e209d69152e23a5ba040aa14c3a82c75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/artikulate-21.04.0.tar.xz">artikulate-21.04.0</a></td>
   <td align="right">1061kB</td>
   <td><tt>fdb3fb7b38cb398f43f67a7a3eefd3a1808063ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/audiocd-kio-21.04.0.tar.xz">audiocd-kio-21.04.0</a></td>
   <td align="right">490kB</td>
   <td><tt>9269804a57b6207e6652dbb4b44ee3fb8cd0af9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/baloo-widgets-21.04.0.tar.xz">baloo-widgets-21.04.0</a></td>
   <td align="right">256kB</td>
   <td><tt>557d320350b6bdcbfbd897e44b284390f83a2bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/blinken-21.04.0.tar.xz">blinken-21.04.0</a></td>
   <td align="right">2646kB</td>
   <td><tt>489fb6b512617cabe8532a7e59e73e554bedf510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/bomber-21.04.0.tar.xz">bomber-21.04.0</a></td>
   <td align="right">808kB</td>
   <td><tt>21548da600bd36773ec6fc03268c89372c9da874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/bovo-21.04.0.tar.xz">bovo-21.04.0</a></td>
   <td align="right">201kB</td>
   <td><tt>395a1c436e92488aa6ab50cf66e31330592b2e62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/calendarsupport-21.04.0.tar.xz">calendarsupport-21.04.0</a></td>
   <td align="right">655kB</td>
   <td><tt>e64260fae9bafcdb611d3873b6da2b3a533ff2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/cantor-21.04.0.tar.xz">cantor-21.04.0</a></td>
   <td align="right">8919kB</td>
   <td><tt>47bf6da75c5db60a015e8bc770d8f6e7b7974264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/cervisia-21.04.0.tar.xz">cervisia-21.04.0</a></td>
   <td align="right">1844kB</td>
   <td><tt>da5cfebeefc3704623878be10cad7dfc2ece4eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/dolphin-21.04.0.tar.xz">dolphin-21.04.0</a></td>
   <td align="right">5039kB</td>
   <td><tt>14c37d78c6f0ab49b61a9a107dffbc354a70110e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/dolphin-plugins-21.04.0.tar.xz">dolphin-plugins-21.04.0</a></td>
   <td align="right">236kB</td>
   <td><tt>f00cdf8a74568efd3a89ecbb4c63b25809bff642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/dragon-21.04.0.tar.xz">dragon-21.04.0</a></td>
   <td align="right">1625kB</td>
   <td><tt>c1b94b3595844cc9ab1bbaee16f5b1e8dcdb43a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/elisa-21.04.0.tar.xz">elisa-21.04.0</a></td>
   <td align="right">1678kB</td>
   <td><tt>196a5ed47381b0aabc2bbf97d667dafa8b4561dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/eventviews-21.04.0.tar.xz">eventviews-21.04.0</a></td>
   <td align="right">436kB</td>
   <td><tt>1b2d222e2954eee8f279c05b3d94ee860762b972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ffmpegthumbs-21.04.0.tar.xz">ffmpegthumbs-21.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>bd8d1e83aa997fa96fb2a717dec8358b0d913b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/filelight-21.04.0.tar.xz">filelight-21.04.0</a></td>
   <td align="right">663kB</td>
   <td><tt>30b619fd5e54e0e62875a4096a8274a91ab581a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/granatier-21.04.0.tar.xz">granatier-21.04.0</a></td>
   <td align="right">1907kB</td>
   <td><tt>cdc698185d8eb1e5a1acea81757671cfeba1731d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/grantlee-editor-21.04.0.tar.xz">grantlee-editor-21.04.0</a></td>
   <td align="right">109kB</td>
   <td><tt>0f7acaefa951c26c4e8c87fa326c65321488847d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/grantleetheme-21.04.0.tar.xz">grantleetheme-21.04.0</a></td>
   <td align="right">59kB</td>
   <td><tt>796882f0dbf5d406cd98133e3a44967734e57023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/gwenview-21.04.0.tar.xz">gwenview-21.04.0</a></td>
   <td align="right">6599kB</td>
   <td><tt>ac716a9a9c5c777ebc4fe83eab771f941e287cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/incidenceeditor-21.04.0.tar.xz">incidenceeditor-21.04.0</a></td>
   <td align="right">527kB</td>
   <td><tt>cce781ea64eb59c4a8ed5408f20ca5c759a3143e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/itinerary-21.04.0.tar.xz">itinerary-21.04.0</a></td>
   <td align="right">368kB</td>
   <td><tt>4e736f437e070fbaa95da79a541ae2bd68343c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/juk-21.04.0.tar.xz">juk-21.04.0</a></td>
   <td align="right">1946kB</td>
   <td><tt>438dbaba598b0b316ec9b2ca3cb3d6b6e3c002e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/k3b-21.04.0.tar.xz">k3b-21.04.0</a></td>
   <td align="right">10458kB</td>
   <td><tt>d130d85b2182a997c5564eb2d9b4b2bb99e417c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kaccounts-integration-21.04.0.tar.xz">kaccounts-integration-21.04.0</a></td>
   <td align="right">82kB</td>
   <td><tt>71d024be919223419e5fcf766bed8abba67dde5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kaccounts-providers-21.04.0.tar.xz">kaccounts-providers-21.04.0</a></td>
   <td align="right">60kB</td>
   <td><tt>ebc20457ec5f5b4205d50a6964d2ac3ccd81ec99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kaddressbook-21.04.0.tar.xz">kaddressbook-21.04.0</a></td>
   <td align="right">3185kB</td>
   <td><tt>c3e3b3c274ff7b86f145109f1ef1f4ac77dc7e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kajongg-21.04.0.tar.xz">kajongg-21.04.0</a></td>
   <td align="right">4368kB</td>
   <td><tt>4b1e2d5fdf53b443189094148f1f1306b32d7465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kalarm-21.04.0.tar.xz">kalarm-21.04.0</a></td>
   <td align="right">2025kB</td>
   <td><tt>7d44eb56def4864fd51f405d37da8f7337aa82f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kalarmcal-21.04.0.tar.xz">kalarmcal-21.04.0</a></td>
   <td align="right">566kB</td>
   <td><tt>79049224ee31589fe4066a0d3c63318da4049825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kalgebra-21.04.0.tar.xz">kalgebra-21.04.0</a></td>
   <td align="right">997kB</td>
   <td><tt>380774061e02a00879e16a484f3de16ca8f8a35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kalzium-21.04.0.tar.xz">kalzium-21.04.0</a></td>
   <td align="right">23969kB</td>
   <td><tt>a7bad0db2db8d80ae594e40a9689662870802971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kamera-21.04.0.tar.xz">kamera-21.04.0</a></td>
   <td align="right">107kB</td>
   <td><tt>765e9b078dc363cc76dfb422178b06ffb641f5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kamoso-21.04.0.tar.xz">kamoso-21.04.0</a></td>
   <td align="right">206kB</td>
   <td><tt>30177f2fd53f87844820697e4b265f7998848800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kanagram-21.04.0.tar.xz">kanagram-21.04.0</a></td>
   <td align="right">7845kB</td>
   <td><tt>a19069342c491c04ae3a5b6850f4260ab8986787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kapman-21.04.0.tar.xz">kapman-21.04.0</a></td>
   <td align="right">2472kB</td>
   <td><tt>1281dcd20e62a9c894bc5c3381707dcbe648a98a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kapptemplate-21.04.0.tar.xz">kapptemplate-21.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>c24a4c57d79df8c81df84606cb1a27037718b3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kate-21.04.0.tar.xz">kate-21.04.0</a></td>
   <td align="right">6777kB</td>
   <td><tt>cb240a2e0da064517c8124fda78ec82510fe6c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/katomic-21.04.0.tar.xz">katomic-21.04.0</a></td>
   <td align="right">1395kB</td>
   <td><tt>8524aa29d780a656cd12b5951262987842b12938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kbackup-21.04.0.tar.xz">kbackup-21.04.0</a></td>
   <td align="right">374kB</td>
   <td><tt>23e2c3f82ae92ad820a61d2d4164ed883ea7e704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kblackbox-21.04.0.tar.xz">kblackbox-21.04.0</a></td>
   <td align="right">439kB</td>
   <td><tt>f1a8fb15be0d125c17f55c54d7f49c0841f2990d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kblocks-21.04.0.tar.xz">kblocks-21.04.0</a></td>
   <td align="right">1865kB</td>
   <td><tt>55c0391c55816ead7f9cee16a0a4237c7b02b8dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kbounce-21.04.0.tar.xz">kbounce-21.04.0</a></td>
   <td align="right">3362kB</td>
   <td><tt>004d4933e3f166ba95fdded5a55940ec151965f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kbreakout-21.04.0.tar.xz">kbreakout-21.04.0</a></td>
   <td align="right">2227kB</td>
   <td><tt>705e9a87601c351a16076d42a184a225c547208c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kbruch-21.04.0.tar.xz">kbruch-21.04.0</a></td>
   <td align="right">5484kB</td>
   <td><tt>faf7d1c294891034fbefc0336c30aadc5945b779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcachegrind-21.04.0.tar.xz">kcachegrind-21.04.0</a></td>
   <td align="right">809kB</td>
   <td><tt>fbb79bf2a9b11ad6e61f51041095317a322517d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcalc-21.04.0.tar.xz">kcalc-21.04.0</a></td>
   <td align="right">351kB</td>
   <td><tt>dacfaa6f67f14df1067597fe87f0e5a6056c6d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcalutils-21.04.0.tar.xz">kcalutils-21.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>b86615a9cee4b0d72098476b84f658397a843ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcharselect-21.04.0.tar.xz">kcharselect-21.04.0</a></td>
   <td align="right">358kB</td>
   <td><tt>45339a048600250b80e35e2cc191cc8c41baacad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcolorchooser-21.04.0.tar.xz">kcolorchooser-21.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3f43da2120274909ae22e62159d87877aa597b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kcron-21.04.0.tar.xz">kcron-21.04.0</a></td>
   <td align="right">880kB</td>
   <td><tt>278681f29557c425f6b2db3ada9cc45becbdc6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdebugsettings-21.04.0.tar.xz">kdebugsettings-21.04.0</a></td>
   <td align="right">84kB</td>
   <td><tt>667149a0ca6613c30eb1b2f2a4112fc4bde5b31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdeconnect-kde-21.04.0.tar.xz">kdeconnect-kde-21.04.0</a></td>
   <td align="right">546kB</td>
   <td><tt>0235a755bc1a7037e1830c401da1a4a680c158f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kde-dev-scripts-21.04.0.tar.xz">kde-dev-scripts-21.04.0</a></td>
   <td align="right">357kB</td>
   <td><tt>d2f8a7c16512046ebb2c13b7a84f180b6e031d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kde-dev-utils-21.04.0.tar.xz">kde-dev-utils-21.04.0</a></td>
   <td align="right">64kB</td>
   <td><tt>c40c746dce02bc3052406f51eab327fae2bc343e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdeedu-data-21.04.0.tar.xz">kdeedu-data-21.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>ef35de968dede3257e88963ac99e7466ffb963c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdegraphics-mobipocket-21.04.0.tar.xz">kdegraphics-mobipocket-21.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>8f99c93491de8280a57e40a03346b129008711f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdegraphics-thumbnailers-21.04.0.tar.xz">kdegraphics-thumbnailers-21.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>3951973d07f4309b30aac7b07b54bdfc8b755a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdenetwork-filesharing-21.04.0.tar.xz">kdenetwork-filesharing-21.04.0</a></td>
   <td align="right">344kB</td>
   <td><tt>2aa7b0a2391435ed2197ab0818b803129c1feec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdenlive-21.04.0.tar.xz">kdenlive-21.04.0</a></td>
   <td align="right">11442kB</td>
   <td><tt>351724c00a1c9e1e4c34a9366dce2979cc46b473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdepim-addons-21.04.0.tar.xz">kdepim-addons-21.04.0</a></td>
   <td align="right">2108kB</td>
   <td><tt>f96aefdbe344c164e3b1a1f354b30f1952473de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdepim-runtime-21.04.0.tar.xz">kdepim-runtime-21.04.0</a></td>
   <td align="right">1769kB</td>
   <td><tt>c7b71a408c92b70b4d3ed1524e89bffd74c46fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdesdk-kioslaves-21.04.0.tar.xz">kdesdk-kioslaves-21.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>6d71ef8439f5dad6814e6a4fa138a6152e0f3adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdesdk-thumbnailers-21.04.0.tar.xz">kdesdk-thumbnailers-21.04.0</a></td>
   <td align="right">17kB</td>
   <td><tt>d985eef575e533159a8c0499e7ec57e4a60fc145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdf-21.04.0.tar.xz">kdf-21.04.0</a></td>
   <td align="right">456kB</td>
   <td><tt>498b9aa4f678ec05a312092285e88d492a5f7d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdialog-21.04.0.tar.xz">kdialog-21.04.0</a></td>
   <td align="right">106kB</td>
   <td><tt>de8c568673214df92a6ee9823717aeb2402e941a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kdiamond-21.04.0.tar.xz">kdiamond-21.04.0</a></td>
   <td align="right">4587kB</td>
   <td><tt>14282be133d9deab076baf8946335317562286e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/keditbookmarks-21.04.0.tar.xz">keditbookmarks-21.04.0</a></td>
   <td align="right">186kB</td>
   <td><tt>895058afcdc5f4e33df8db1e01587763ecb30990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kfind-21.04.0.tar.xz">kfind-21.04.0</a></td>
   <td align="right">265kB</td>
   <td><tt>316315d33837910d88229d8f42f541058f095038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kfloppy-21.04.0.tar.xz">kfloppy-21.04.0</a></td>
   <td align="right">200kB</td>
   <td><tt>404ed2931146ad8ead506cbbc2b156a501aeb18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kfourinline-21.04.0.tar.xz">kfourinline-21.04.0</a></td>
   <td align="right">629kB</td>
   <td><tt>98f9da2d7a9f724b6b01714a90a426b0654fccd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kgeography-21.04.0.tar.xz">kgeography-21.04.0</a></td>
   <td align="right">10509kB</td>
   <td><tt>e643313fc2e9baa12e253100e2e7ffc75ba3536a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kget-21.04.0.tar.xz">kget-21.04.0</a></td>
   <td align="right">5458kB</td>
   <td><tt>d040e599eca2053826a4bc1133b8093d8e4702f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kgoldrunner-21.04.0.tar.xz">kgoldrunner-21.04.0</a></td>
   <td align="right">4346kB</td>
   <td><tt>823f3f9bf531413e1f4fc0f81de4a4d0667466da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kgpg-21.04.0.tar.xz">kgpg-21.04.0</a></td>
   <td align="right">2818kB</td>
   <td><tt>5e3f95b17558f6363f0af931a93438a9cd80d892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/khangman-21.04.0.tar.xz">khangman-21.04.0</a></td>
   <td align="right">7240kB</td>
   <td><tt>d731587c97003f689d5318444b9714a90073511e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/khelpcenter-21.04.0.tar.xz">khelpcenter-21.04.0</a></td>
   <td align="right">4166kB</td>
   <td><tt>38bc8d6073ba61e4cec195649f8cb111289956e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kidentitymanagement-21.04.0.tar.xz">kidentitymanagement-21.04.0</a></td>
   <td align="right">152kB</td>
   <td><tt>f26a0fa01c243ea327df114e3346f96db20472ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kig-21.04.0.tar.xz">kig-21.04.0</a></td>
   <td align="right">3054kB</td>
   <td><tt>106899f86181ee24df54f90ecdb3d7be20ed8ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kigo-21.04.0.tar.xz">kigo-21.04.0</a></td>
   <td align="right">5122kB</td>
   <td><tt>5346c12a599d1febb379591ef5e2cadff13e08d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/killbots-21.04.0.tar.xz">killbots-21.04.0</a></td>
   <td align="right">1158kB</td>
   <td><tt>ac76b895de2d8943556344b7141fef32831534ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kimagemapeditor-21.04.0.tar.xz">kimagemapeditor-21.04.0</a></td>
   <td align="right">1054kB</td>
   <td><tt>72b2642c661f39fd960b572ad80ed21f41f3d750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kimap-21.04.0.tar.xz">kimap-21.04.0</a></td>
   <td align="right">125kB</td>
   <td><tt>a932bfb6629f04d53cb03fb3a5799a43487c619f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kio-extras-21.04.0.tar.xz">kio-extras-21.04.0</a></td>
   <td align="right">630kB</td>
   <td><tt>34e8855b252f2b812d44ef92b99a83c0f90ee230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kio-gdrive-21.04.0.tar.xz">kio-gdrive-21.04.0</a></td>
   <td align="right">66kB</td>
   <td><tt>4e02caade704bb81dbae265f064e1a74501e8844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kipi-plugins-21.04.0.tar.xz">kipi-plugins-21.04.0</a></td>
   <td align="right">1612kB</td>
   <td><tt>c79c23e3be1c8b27ae134018f8218ddbfb7430a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kirigami-gallery-21.04.0.tar.xz">kirigami-gallery-21.04.0</a></td>
   <td align="right">321kB</td>
   <td><tt>274ed3a117f4e3f94945d891be99830c9c089c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kiriki-21.04.0.tar.xz">kiriki-21.04.0</a></td>
   <td align="right">370kB</td>
   <td><tt>89b84d45052bd103386c725c24553429367e5402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kiten-21.04.0.tar.xz">kiten-21.04.0</a></td>
   <td align="right">11035kB</td>
   <td><tt>b8c07c21015b8ede52ecb1a1a1c87f99073274a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kitinerary-21.04.0.tar.xz">kitinerary-21.04.0</a></td>
   <td align="right">1776kB</td>
   <td><tt>c53b880d1470d390c2814f01e43085e631289b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kjumpingcube-21.04.0.tar.xz">kjumpingcube-21.04.0</a></td>
   <td align="right">284kB</td>
   <td><tt>cbd04ce2fdbabc5e01ef83106fb740555f2f0733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kldap-21.04.0.tar.xz">kldap-21.04.0</a></td>
   <td align="right">166kB</td>
   <td><tt>99d8147169d8d4c7704449099ab882d1bbc7a8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kleopatra-21.04.0.tar.xz">kleopatra-21.04.0</a></td>
   <td align="right">2005kB</td>
   <td><tt>f65d5767ffa9a52a88c956cda5ff81e80fb48f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/klettres-21.04.0.tar.xz">klettres-21.04.0</a></td>
   <td align="right">46033kB</td>
   <td><tt>3cf4dedfb16c49b484ab76c5be34b5bfa71747e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/klickety-21.04.0.tar.xz">klickety-21.04.0</a></td>
   <td align="right">1361kB</td>
   <td><tt>d8910684153bd5283fd17d3876d63ad008fb1b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/klines-21.04.0.tar.xz">klines-21.04.0</a></td>
   <td align="right">1747kB</td>
   <td><tt>e7173cb3f2eaba7901add9d69a673d08c54d1db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmag-21.04.0.tar.xz">kmag-21.04.0</a></td>
   <td align="right">682kB</td>
   <td><tt>b93bbba09ea86f6c6512a491268142927810c2ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmahjongg-21.04.0.tar.xz">kmahjongg-21.04.0</a></td>
   <td align="right">3353kB</td>
   <td><tt>387c2c83d5ad8a88d95c2a6210bcb2649cbdcabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmail-21.04.0.tar.xz">kmail-21.04.0</a></td>
   <td align="right">6150kB</td>
   <td><tt>13d193a5cd8ef4f69f2369bdf578f97c16d6500b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmail-account-wizard-21.04.0.tar.xz">kmail-account-wizard-21.04.0</a></td>
   <td align="right">161kB</td>
   <td><tt>8c9a1466f1d7c2d4371a7603e0f76ab5a3e6183c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmailtransport-21.04.0.tar.xz">kmailtransport-21.04.0</a></td>
   <td align="right">168kB</td>
   <td><tt>c7c3434c89ff923608ac3b93acfde9fda6e713df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmbox-21.04.0.tar.xz">kmbox-21.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>acaae390473ef7165703144f0746c843eb595aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmime-21.04.0.tar.xz">kmime-21.04.0</a></td>
   <td align="right">150kB</td>
   <td><tt>7b90314dba747817a0f107b49d009a3ccd525496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmines-21.04.0.tar.xz">kmines-21.04.0</a></td>
   <td align="right">936kB</td>
   <td><tt>b1336b6a62e993d48411e5c2f8ecafb6e3292acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmix-21.04.0.tar.xz">kmix-21.04.0</a></td>
   <td align="right">1124kB</td>
   <td><tt>fc6bfc860b6e88ad0231b7004981146307af743b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmousetool-21.04.0.tar.xz">kmousetool-21.04.0</a></td>
   <td align="right">114kB</td>
   <td><tt>0d23c3167c26cd796b0936f31c4e77bd30baba2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmouth-21.04.0.tar.xz">kmouth-21.04.0</a></td>
   <td align="right">2035kB</td>
   <td><tt>dec8c11e4f7b0bd3ffb9f896f745bbfa43ad89c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kmplot-21.04.0.tar.xz">kmplot-21.04.0</a></td>
   <td align="right">2940kB</td>
   <td><tt>e9a85172ee3ca24278b4db410b2d23b831cb074f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/knavalbattle-21.04.0.tar.xz">knavalbattle-21.04.0</a></td>
   <td align="right">1334kB</td>
   <td><tt>5a0b2e5f90e543a7e5e1cc63d8d9260a6e7161ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/knetwalk-21.04.0.tar.xz">knetwalk-21.04.0</a></td>
   <td align="right">1239kB</td>
   <td><tt>4886b85f5c3b6e9ccf3642220e1867d893bddc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/knights-21.04.0.tar.xz">knights-21.04.0</a></td>
   <td align="right">3453kB</td>
   <td><tt>705ca73c3aa4a5c981adee7b95204ae34ddd2e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/knotes-21.04.0.tar.xz">knotes-21.04.0</a></td>
   <td align="right">326kB</td>
   <td><tt>95c09de8b10bcea3f314b6f284f81fefda51a21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kolf-21.04.0.tar.xz">kolf-21.04.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>5b46d5f8f7cbdf762b256288aa062e785dc11c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kollision-21.04.0.tar.xz">kollision-21.04.0</a></td>
   <td align="right">283kB</td>
   <td><tt>5bf17560d2a4d2fc4700f7e988791260fbfa051d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kolourpaint-21.04.0.tar.xz">kolourpaint-21.04.0</a></td>
   <td align="right">5557kB</td>
   <td><tt>b50c779fb70b2a576e2826c5ea015edd334cc157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kompare-21.04.0.tar.xz">kompare-21.04.0</a></td>
   <td align="right">905kB</td>
   <td><tt>f28c68519247c05ad911e92f8db22aebeea20202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/konqueror-21.04.0.tar.xz">konqueror-21.04.0</a></td>
   <td align="right">7084kB</td>
   <td><tt>13f34b5742abb294c3bcb29c39a8479445539eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/konquest-21.04.0.tar.xz">konquest-21.04.0</a></td>
   <td align="right">650kB</td>
   <td><tt>400ca9ff4835fbb566dfc8e3a4f2e8249300016f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/konsole-21.04.0.tar.xz">konsole-21.04.0</a></td>
   <td align="right">1246kB</td>
   <td><tt>a152ec58fed8bd312841b6d7fc27d4eb8cfa5680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kontact-21.04.0.tar.xz">kontact-21.04.0</a></td>
   <td align="right">775kB</td>
   <td><tt>b76a813c5b4455483490ec9d8283513c6850765b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kontactinterface-21.04.0.tar.xz">kontactinterface-21.04.0</a></td>
   <td align="right">38kB</td>
   <td><tt>5e7876159fbe6af2a1eedae8e4b89cedaabf8018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kontrast-21.04.0.tar.xz">kontrast-21.04.0</a></td>
   <td align="right">119kB</td>
   <td><tt>7784eebaf1c44cad2c4eb2f11f42e0e303792578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/konversation-21.04.0.tar.xz">konversation-21.04.0</a></td>
   <td align="right">4131kB</td>
   <td><tt>937c77029705072702674d439b7cb04f87b29cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kopeninghours-21.04.0.tar.xz">kopeninghours-21.04.0</a></td>
   <td align="right">60kB</td>
   <td><tt>bd8a5322fc52ffe53af1c4447b17d62d71b4409a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kopete-21.04.0.tar.xz">kopete-21.04.0</a></td>
   <td align="right">9193kB</td>
   <td><tt>4401f751d35b16cc670cdfbdb80526362d442ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/korganizer-21.04.0.tar.xz">korganizer-21.04.0</a></td>
   <td align="right">2270kB</td>
   <td><tt>74d479f488796969dd95f899c85aa1ecc574cd56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kosmindoormap-21.04.0.tar.xz">kosmindoormap-21.04.0</a></td>
   <td align="right">324kB</td>
   <td><tt>8e7a50dfa4418edbd9e408502f4235d0c65af1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kpat-21.04.0.tar.xz">kpat-21.04.0</a></td>
   <td align="right">3563kB</td>
   <td><tt>18ae4c24b0196d7683d9c018e6941df4ca1100df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kpimtextedit-21.04.0.tar.xz">kpimtextedit-21.04.0</a></td>
   <td align="right">200kB</td>
   <td><tt>b23d6d0fd7a788a06baea6ed7acc96899eb8173d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kpkpass-21.04.0.tar.xz">kpkpass-21.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>3b41ed5f37e5ca1366deb6d6fa96c1bb2269c7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kpmcore-21.04.0.tar.xz">kpmcore-21.04.0</a></td>
   <td align="right">572kB</td>
   <td><tt>20468654eeea1cb9b409c7032bf323d5d27f6f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kpublictransport-21.04.0.tar.xz">kpublictransport-21.04.0</a></td>
   <td align="right">382kB</td>
   <td><tt>3dd5fcc597301810161e47bc95700cde7e1344cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kqtquickcharts-21.04.0.tar.xz">kqtquickcharts-21.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>c1f05c850d5c6dfb26e03179e5359f35cf14ef73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/krdc-21.04.0.tar.xz">krdc-21.04.0</a></td>
   <td align="right">1531kB</td>
   <td><tt>7a0e3b2cb321f8f190746b27640b59fa7eca2e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kreversi-21.04.0.tar.xz">kreversi-21.04.0</a></td>
   <td align="right">933kB</td>
   <td><tt>eac49f12695b24f0bfb9c1a2f751ada80cf1dece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/krfb-21.04.0.tar.xz">krfb-21.04.0</a></td>
   <td align="right">1253kB</td>
   <td><tt>ea53d4e5983296e5e26de1ef292b7d78a57f8292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kross-interpreters-21.04.0.tar.xz">kross-interpreters-21.04.0</a></td>
   <td align="right">148kB</td>
   <td><tt>08ee855088798e24b4a629782e59b450f306676d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kruler-21.04.0.tar.xz">kruler-21.04.0</a></td>
   <td align="right">266kB</td>
   <td><tt>bb14a3d2a48461aae42d4d8cbcf9594657459511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kshisen-21.04.0.tar.xz">kshisen-21.04.0</a></td>
   <td align="right">808kB</td>
   <td><tt>66841cac59e529f5c1a7ad2e569080ad297012a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksirk-21.04.0.tar.xz">ksirk-21.04.0</a></td>
   <td align="right">6832kB</td>
   <td><tt>c01354b7acc079886fe0c5cf0a80a92122679c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksmtp-21.04.0.tar.xz">ksmtp-21.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>7569bbadb2be72bf3af9866598072a93226745c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksnakeduel-21.04.0.tar.xz">ksnakeduel-21.04.0</a></td>
   <td align="right">530kB</td>
   <td><tt>1ce07cde03c7039a82663a75713e6e4236ef7074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kspaceduel-21.04.0.tar.xz">kspaceduel-21.04.0</a></td>
   <td align="right">603kB</td>
   <td><tt>40f30f68c615e91b847a9200e541d48b3a1c3398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksquares-21.04.0.tar.xz">ksquares-21.04.0</a></td>
   <td align="right">260kB</td>
   <td><tt>84f13f34bafbc1aacefb5c29bfb2982102b825ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksudoku-21.04.0.tar.xz">ksudoku-21.04.0</a></td>
   <td align="right">1639kB</td>
   <td><tt>b61882722e98cc1c7d5899f253f445bd8de6abc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ksystemlog-21.04.0.tar.xz">ksystemlog-21.04.0</a></td>
   <td align="right">1908kB</td>
   <td><tt>c43d69754217546bcae646bd2edc3bafe0c68d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kteatime-21.04.0.tar.xz">kteatime-21.04.0</a></td>
   <td align="right">288kB</td>
   <td><tt>98d26f874b7aa5b6dd698c11966f171ec3ae58d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktimer-21.04.0.tar.xz">ktimer-21.04.0</a></td>
   <td align="right">376kB</td>
   <td><tt>e30cb5b027e8cf11d201fd9beba3da8f763f35c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktnef-21.04.0.tar.xz">ktnef-21.04.0</a></td>
   <td align="right">296kB</td>
   <td><tt>6f74690ba8b43fea950dc1b0460c46a955789383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktorrent-21.04.0.tar.xz">ktorrent-21.04.0</a></td>
   <td align="right">2023kB</td>
   <td><tt>27b777dec2ed0303fb955f7ab4ee5f5b19568e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktouch-21.04.0.tar.xz">ktouch-21.04.0</a></td>
   <td align="right">4828kB</td>
   <td><tt>75e937866b198954cb7e3777dd029e1a2634f293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-accounts-kcm-21.04.0.tar.xz">ktp-accounts-kcm-21.04.0</a></td>
   <td align="right">257kB</td>
   <td><tt>3d615bab8c2330e5bc7600c30cdbf9f91f2df53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-approver-21.04.0.tar.xz">ktp-approver-21.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>5ef7e6774ca76b3dac8221cde65efdc757ee4d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-auth-handler-21.04.0.tar.xz">ktp-auth-handler-21.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>47b9544c49910c1f248b29f61830ab62b4ab8f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-call-ui-21.04.0.tar.xz">ktp-call-ui-21.04.0</a></td>
   <td align="right">95kB</td>
   <td><tt>90fbc8f0039e7ff2056fa9c7d654dbda052af868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-common-internals-21.04.0.tar.xz">ktp-common-internals-21.04.0</a></td>
   <td align="right">440kB</td>
   <td><tt>201d3f688a00fff3b8bb9aa224fc854904f123a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-contact-list-21.04.0.tar.xz">ktp-contact-list-21.04.0</a></td>
   <td align="right">147kB</td>
   <td><tt>07c0e955417c14c5baecb3809897666e28692600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-contact-runner-21.04.0.tar.xz">ktp-contact-runner-21.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>f037bbcd4e45259535a0fc4df4dd894d8c0afc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-desktop-applets-21.04.0.tar.xz">ktp-desktop-applets-21.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>1919839fb9fced590daaa7f2792e7e077c4af483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-filetransfer-handler-21.04.0.tar.xz">ktp-filetransfer-handler-21.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>ac421cf3f571078deb92bd3346d51ca182cd1a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-kded-module-21.04.0.tar.xz">ktp-kded-module-21.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>1188f9c306b55d060cdf1d373e69452b89dd4b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-send-file-21.04.0.tar.xz">ktp-send-file-21.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>f6df74ac66d5654b6ef3dd953ef6ebaf550b100d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktp-text-ui-21.04.0.tar.xz">ktp-text-ui-21.04.0</a></td>
   <td align="right">462kB</td>
   <td><tt>f9e00671c73f6750b9c86aea307b2515789a0ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/ktuberling-21.04.0.tar.xz">ktuberling-21.04.0</a></td>
   <td align="right">69100kB</td>
   <td><tt>e42d587c7af2b2bf3dd20823e40ef82052982944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kturtle-21.04.0.tar.xz">kturtle-21.04.0</a></td>
   <td align="right">1795kB</td>
   <td><tt>2e8297af822052bc587dc32bead9b2ee3b392917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kubrick-21.04.0.tar.xz">kubrick-21.04.0</a></td>
   <td align="right">333kB</td>
   <td><tt>a4e0930d6885c3f5e900f6afa3bd7db19083b906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kwalletmanager-21.04.0.tar.xz">kwalletmanager-21.04.0</a></td>
   <td align="right">764kB</td>
   <td><tt>bdb1fd44d6376e5766f0c57b221094da02f53dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kwave-21.04.0.tar.xz">kwave-21.04.0</a></td>
   <td align="right">6719kB</td>
   <td><tt>d6f518fc0b371a4945bdcfd6180f8f61c7bf8560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/kwordquiz-21.04.0.tar.xz">kwordquiz-21.04.0</a></td>
   <td align="right">4091kB</td>
   <td><tt>7a712157c8085848dbe1d43f32c057fa36cdaf57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libgravatar-21.04.0.tar.xz">libgravatar-21.04.0</a></td>
   <td align="right">34kB</td>
   <td><tt>ed4c0bd176a8fdff7a238764f5bb9230f2d2248c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkcddb-21.04.0.tar.xz">libkcddb-21.04.0</a></td>
   <td align="right">414kB</td>
   <td><tt>fc3b1cc7e33f04325752df8c7f60520c5ef88ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkcompactdisc-21.04.0.tar.xz">libkcompactdisc-21.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>9b7d6700f81fce61da8b32756d068c549cc9a759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkdcraw-21.04.0.tar.xz">libkdcraw-21.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>2b2b220ff041225ec8500b87f0cd2a3546c5f493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkdegames-21.04.0.tar.xz">libkdegames-21.04.0</a></td>
   <td align="right">6241kB</td>
   <td><tt>b191a9426a8fc93c6c8976869cddd478267c5b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkdepim-21.04.0.tar.xz">libkdepim-21.04.0</a></td>
   <td align="right">236kB</td>
   <td><tt>74d5c5059ff6b68b66bf1aba191c89a9b4ff55c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkeduvocdocument-21.04.0.tar.xz">libkeduvocdocument-21.04.0</a></td>
   <td align="right">206kB</td>
   <td><tt>691e24cadaab9b3bf7d10c41dd696575c69f2a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkexiv2-21.04.0.tar.xz">libkexiv2-21.04.0</a></td>
   <td align="right">58kB</td>
   <td><tt>7fa91fa90a0e093c8b1e29a260393cb9387733de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkgapi-21.04.0.tar.xz">libkgapi-21.04.0</a></td>
   <td align="right">243kB</td>
   <td><tt>f2c92144cf9d0c1637a4fbf3da90f3c2d28fb5b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkipi-21.04.0.tar.xz">libkipi-21.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>5a228870baa2c7fca8ed3f94a288f9f6ac59d928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkleo-21.04.0.tar.xz">libkleo-21.04.0</a></td>
   <td align="right">363kB</td>
   <td><tt>ec3226cd8bd162df9c9ce1525e4af2941133f1c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkmahjongg-21.04.0.tar.xz">libkmahjongg-21.04.0</a></td>
   <td align="right">1640kB</td>
   <td><tt>5a75b8d91ff47c96a2bb4ee6bbf9a0ec1d7ab0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libkomparediff2-21.04.0.tar.xz">libkomparediff2-21.04.0</a></td>
   <td align="right">155kB</td>
   <td><tt>6e21d9b70d817b1bc2b31ec89b8d1e79b5751374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libksane-21.04.0.tar.xz">libksane-21.04.0</a></td>
   <td align="right">140kB</td>
   <td><tt>26302880fcfd02518b8f7f6ec4d2755fd231fd65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libksieve-21.04.0.tar.xz">libksieve-21.04.0</a></td>
   <td align="right">551kB</td>
   <td><tt>e24b9e5a437e4b69b97cae51a67df2466226f753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/libktorrent-21.04.0.tar.xz">libktorrent-21.04.0</a></td>
   <td align="right">589kB</td>
   <td><tt>940f758377f9fe5daf0a8bad9f8a578a85558d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/lokalize-21.04.0.tar.xz">lokalize-21.04.0</a></td>
   <td align="right">1946kB</td>
   <td><tt>a4fede7dc0a85c435aaa513794ea5892e8a5ebb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/lskat-21.04.0.tar.xz">lskat-21.04.0</a></td>
   <td align="right">1193kB</td>
   <td><tt>2646794cfcd39c4687c966734ce5326ac398e8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/mailcommon-21.04.0.tar.xz">mailcommon-21.04.0</a></td>
   <td align="right">710kB</td>
   <td><tt>b701a36edf880085647ac5b4da372624f2c82c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/mailimporter-21.04.0.tar.xz">mailimporter-21.04.0</a></td>
   <td align="right">539kB</td>
   <td><tt>d8bd7eb3dface1c4afcac69a403d60e9937e699a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/marble-21.04.0.tar.xz">marble-21.04.0</a></td>
   <td align="right">51146kB</td>
   <td><tt>b683727ccda4e49633234fb15687880a0b0df9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/markdownpart-21.04.0.tar.xz">markdownpart-21.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>bb6040997f142a2f28702feade2415c4d45daa8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/mbox-importer-21.04.0.tar.xz">mbox-importer-21.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>81537e38175b4453c0e1e4cac0224ee7592bde0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/messagelib-21.04.0.tar.xz">messagelib-21.04.0</a></td>
   <td align="right">10391kB</td>
   <td><tt>64e7ddf29a1deaf8de9ff2c09bb84b5e9c520dc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/minuet-21.04.0.tar.xz">minuet-21.04.0</a></td>
   <td align="right">27074kB</td>
   <td><tt>39665529958b68d71bacfe9c4529f21b80b4cd4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/okular-21.04.0.tar.xz">okular-21.04.0</a></td>
   <td align="right">7750kB</td>
   <td><tt>6f2f43ff6d702694a4ca4e288d7630ea97f33b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/palapeli-21.04.0.tar.xz">palapeli-21.04.0</a></td>
   <td align="right">2027kB</td>
   <td><tt>5148329cbc41b299df56e49167933b1d58d4b6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/parley-21.04.0.tar.xz">parley-21.04.0</a></td>
   <td align="right">8637kB</td>
   <td><tt>792fef9d37d15c77c60aa87cd05cdab7143a78e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/partitionmanager-21.04.0.tar.xz">partitionmanager-21.04.0</a></td>
   <td align="right">2040kB</td>
   <td><tt>03dd3b07679a9e93d8409c8b93b5f6e66651f0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/picmi-21.04.0.tar.xz">picmi-21.04.0</a></td>
   <td align="right">1337kB</td>
   <td><tt>625a85624e58d307969197ebfa2491d02bdfd8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/pimcommon-21.04.0.tar.xz">pimcommon-21.04.0</a></td>
   <td align="right">360kB</td>
   <td><tt>09e3e0fd481f2d65d42632d94171fad7c8b9f7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/pim-data-exporter-21.04.0.tar.xz">pim-data-exporter-21.04.0</a></td>
   <td align="right">389kB</td>
   <td><tt>00bb49a09c55827c6317de6069c5e6ab6d96007f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/pim-sieve-editor-21.04.0.tar.xz">pim-sieve-editor-21.04.0</a></td>
   <td align="right">447kB</td>
   <td><tt>fc892b67e81cd653db37eeea476db6a9451476a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/poxml-21.04.0.tar.xz">poxml-21.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>9206f7dec82b7a9ef8efd3e6f965f30e8b4cbc7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/print-manager-21.04.0.tar.xz">print-manager-21.04.0</a></td>
   <td align="right">253kB</td>
   <td><tt>e411013388240514ece3ae8522d78b4b14b24163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/rocs-21.04.0.tar.xz">rocs-21.04.0</a></td>
   <td align="right">1505kB</td>
   <td><tt>ef39478c511d470575c56f14775edded2c016656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/signon-kwallet-extension-21.04.0.tar.xz">signon-kwallet-extension-21.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>b19ed09f37b342703136d5828963fad3d15d58d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/spectacle-21.04.0.tar.xz">spectacle-21.04.0</a></td>
   <td align="right">1140kB</td>
   <td><tt>89660bd83add67d0c391b002626d64dac55a765a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/step-21.04.0.tar.xz">step-21.04.0</a></td>
   <td align="right">941kB</td>
   <td><tt>e23d4609f9f45c84c9708da3774b8d0f7cb918c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/svgpart-21.04.0.tar.xz">svgpart-21.04.0</a></td>
   <td align="right">23kB</td>
   <td><tt>cf8a7b1a66318c2a7c5c3f750169f6d4e7a54edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/sweeper-21.04.0.tar.xz">sweeper-21.04.0</a></td>
   <td align="right">363kB</td>
   <td><tt>bee08700b203d0c850dd3df385d9e2d6becfe521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/umbrello-21.04.0.tar.xz">umbrello-21.04.0</a></td>
   <td align="right">5438kB</td>
   <td><tt>06cfd1c52f18e867bbc774e3813fc2ba7ffeaa9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/yakuake-21.04.0.tar.xz">yakuake-21.04.0</a></td>
   <td align="right">382kB</td>
   <td><tt>8fafebeba4c3a98bb4797ff53d8282d3c2a4ad69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.0/src/zeroconf-ioslave-21.04.0.tar.xz">zeroconf-ioslave-21.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>8199c0f0173e0670ff3132eef45c605caae998b0</tt></td>
</tr>

</table>
