<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/analitza-4.9.2.tar.xz">analitza-4.9.2</a></td>
   <td align="right">139kB</td>
   <td><tt>065e449af454e08f02ece846fe5b28db09bda1be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ark-4.9.2.tar.xz">ark-4.9.2</a></td>
   <td align="right">228kB</td>
   <td><tt>180ad836ebfc6bdc26d245e6bd27c2fc7a59918c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/audiocd-kio-4.9.2.tar.xz">audiocd-kio-4.9.2</a></td>
   <td align="right">53kB</td>
   <td><tt>822b2a151cb03cdf2708d3731a07b0fa23ee8e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/blinken-4.9.2.tar.xz">blinken-4.9.2</a></td>
   <td align="right">551kB</td>
   <td><tt>4f13e61086929da9ba75ee3b73612540054888b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/cantor-4.9.2.tar.xz">cantor-4.9.2</a></td>
   <td align="right">258kB</td>
   <td><tt>51b6cf08d43b6ea9fc285283a8ee1d8097b7349b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/dragon-4.9.2.tar.xz">dragon-4.9.2</a></td>
   <td align="right">383kB</td>
   <td><tt>ebe0021892c76f2b7ffd637ebf035801851ed3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ffmpegthumbs-4.9.2.tar.xz">ffmpegthumbs-4.9.2</a></td>
   <td align="right">19kB</td>
   <td><tt>a0083c2cda9c194663676b70beb6d23dba0d4f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/filelight-4.9.2.tar.xz">filelight-4.9.2</a></td>
   <td align="right">287kB</td>
   <td><tt>f1d4c7604fb94a4bbe36e136955dd5f6f0f1fdf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/gwenview-4.9.2.tar.xz">gwenview-4.9.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5a48c195d4c305f166b2d9fc1a483457c4698156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/jovie-4.9.2.tar.xz">jovie-4.9.2</a></td>
   <td align="right">357kB</td>
   <td><tt>fbf63de8b286e8238383f49991ffb7651f9099d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/juk-4.9.2.tar.xz">juk-4.9.2</a></td>
   <td align="right">430kB</td>
   <td><tt>64e0c7ea030434cba9bdc9db05901aa81e1aaa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kaccessible-4.9.2.tar.xz">kaccessible-4.9.2</a></td>
   <td align="right">19kB</td>
   <td><tt>e55ccb92ce22250a8d8139d2367ef9f35c5b34d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kactivities-4.9.2.tar.xz">kactivities-4.9.2</a></td>
   <td align="right">82kB</td>
   <td><tt>7e5ec2aa1492450ea1de40f9e110561f6221b5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kalgebra-4.9.2.tar.xz">kalgebra-4.9.2</a></td>
   <td align="right">428kB</td>
   <td><tt>93aceea871e10eff771645f627563517684a11a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kalzium-4.9.2.tar.xz">kalzium-4.9.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d328ad31f50a33aefeb009411a1adb51c29850a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kamera-4.9.2.tar.xz">kamera-4.9.2</a></td>
   <td align="right">35kB</td>
   <td><tt>5b5b68b8996fdb1cb6541704c03d36cf506e8827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kanagram-4.9.2.tar.xz">kanagram-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b6fd76d854473ab6dbfdfdcb09347e7c4363a580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kate-4.9.2.tar.xz">kate-4.9.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d3a1f58a5207b305e62a2a3dc7a34802289be42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kbruch-4.9.2.tar.xz">kbruch-4.9.2</a></td>
   <td align="right">884kB</td>
   <td><tt>82c7c573d6c0c248ae2d8db24504d1943824d0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kcalc-4.9.2.tar.xz">kcalc-4.9.2</a></td>
   <td align="right">85kB</td>
   <td><tt>f28ed638e433c26e43c7e57e0193cdec67de9f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kcharselect-4.9.2.tar.xz">kcharselect-4.9.2</a></td>
   <td align="right">83kB</td>
   <td><tt>77f9077f2ec75de8f764140306c63c1a79888d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kcolorchooser-4.9.2.tar.xz">kcolorchooser-4.9.2</a></td>
   <td align="right">4kB</td>
   <td><tt>7e34705505140cc3e6085fc057365ce4cab2c0a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdeadmin-4.9.2.tar.xz">kdeadmin-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0b97528870a23440ba450f87be878e3abdf9e0e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdeartwork-4.9.2.tar.xz">kdeartwork-4.9.2</a></td>
   <td align="right">131MB</td>
   <td><tt>6a93ed5fd33b27b88b653c15c546b223ed880a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-baseapps-4.9.2.tar.xz">kde-baseapps-4.9.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8b5a45cfd77e7e67a57c06cdbf387692e8547b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-base-artwork-4.9.2.tar.xz">kde-base-artwork-4.9.2</a></td>
   <td align="right">15MB</td>
   <td><tt>715a953be8ff0df8c5163075a76c9bc1b20dc7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdegames-4.9.2.tar.xz">kdegames-4.9.2</a></td>
   <td align="right">49MB</td>
   <td><tt>a751f6b9ed6c24f8a420d6737be87f2bbb0c2cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdegraphics-mobipocket-4.9.2.tar.xz">kdegraphics-mobipocket-4.9.2</a></td>
   <td align="right">19kB</td>
   <td><tt>81590d0958cebc3a052a4d973334f3fe4a9eabe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdegraphics-strigi-analyzer-4.9.2.tar.xz">kdegraphics-strigi-analyzer-4.9.2</a></td>
   <td align="right">39kB</td>
   <td><tt>d9923f5e52fc58c50bf83d7854ce1ec615407753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdegraphics-thumbnailers-4.9.2.tar.xz">kdegraphics-thumbnailers-4.9.2</a></td>
   <td align="right">40kB</td>
   <td><tt>c87d00fa6af8fd1d57b0da74cdb382dd7d6f5311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdelibs-4.9.2.tar.xz">kdelibs-4.9.2</a></td>
   <td align="right">11MB</td>
   <td><tt>e86ee16ac7c412b0f6abe3754cb372a45d41c71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdenetwork-4.9.2.tar.xz">kdenetwork-4.9.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>6779039e5354fae02cf7faa3442385b95befb430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdepim-4.9.2.tar.xz">kdepim-4.9.2</a></td>
   <td align="right">13MB</td>
   <td><tt>49e33e54e61bc499e54cdcd3470719cb4c22d2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdepimlibs-4.9.2.tar.xz">kdepimlibs-4.9.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>247820f8f8de5bcd66e19c45afc2033e50f0fd01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdepim-runtime-4.9.2.tar.xz">kdepim-runtime-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4eeef5c706ea786d35ebaddf6c46084cf666680a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdeplasma-addons-4.9.2.tar.xz">kdeplasma-addons-4.9.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9f6493d52beb2ed723038e60f5f9ab53beec4e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-runtime-4.9.2.tar.xz">kde-runtime-4.9.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>97c811e404322e520f62320c919eecd73db8c5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdesdk-4.9.2.tar.xz">kdesdk-4.9.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>8acefc3701f12834b1e5606b635aef4b500e0aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdetoys-4.9.2.tar.xz">kdetoys-4.9.2</a></td>
   <td align="right">368kB</td>
   <td><tt>fe26e217edb2bc88ee3510bbe2fd32c3acd941b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-wallpapers-4.9.2.tar.xz">kde-wallpapers-4.9.2</a></td>
   <td align="right">73MB</td>
   <td><tt>a71640627ea0e14f84685974df208968e4e01479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdewebdev-4.9.2.tar.xz">kdewebdev-4.9.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b811adaa5e996d9f588215be411a6a8d07f493ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-workspace-4.9.2.tar.xz">kde-workspace-4.9.2</a></td>
   <td align="right">21MB</td>
   <td><tt>091bec159d85db2a9a6d6b1b43a53183c23de488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kdf-4.9.2.tar.xz">kdf-4.9.2</a></td>
   <td align="right">151kB</td>
   <td><tt>022151b4f2170411037be31d2bbf9ce26f003313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kfloppy-4.9.2.tar.xz">kfloppy-4.9.2</a></td>
   <td align="right">59kB</td>
   <td><tt>dbf5ceed22cd0ef0d898dacc466ea6db3da7c980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kgamma-4.9.2.tar.xz">kgamma-4.9.2</a></td>
   <td align="right">25kB</td>
   <td><tt>553d40c87000c57a10f64f01313ca519148530da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kgeography-4.9.2.tar.xz">kgeography-4.9.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>a68b02fd9ba765bce5d95b754dfd7eef70fa5743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kgpg-4.9.2.tar.xz">kgpg-4.9.2</a></td>
   <td align="right">790kB</td>
   <td><tt>2ec3ceb0d623ce1c2345025292a8a3c2e6b9923a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/khangman-4.9.2.tar.xz">khangman-4.9.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>6c11cf05fca993b7ddb7f92f68299a34470b5cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kig-4.9.2.tar.xz">kig-4.9.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>13b3d40b0d33b1a60b36278760e35f337089cc73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kimono-4.9.2.tar.xz">kimono-4.9.2</a></td>
   <td align="right">915kB</td>
   <td><tt>d8c762a6a65323f80e47cadbfa732b529a07dbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kiten-4.9.2.tar.xz">kiten-4.9.2</a></td>
   <td align="right">11MB</td>
   <td><tt>86b4bd5f4b7ccc4f6e0769a8360e55ffebdc2eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/klettres-4.9.2.tar.xz">klettres-4.9.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>177413e9f9e490a4c72d8f85d3bdd36ffd1ba934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kmag-4.9.2.tar.xz">kmag-4.9.2</a></td>
   <td align="right">89kB</td>
   <td><tt>4429196f346271a825e721be56e92189a3c0da2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kmix-4.9.2.tar.xz">kmix-4.9.2</a></td>
   <td align="right">294kB</td>
   <td><tt>581955c6a097c69f3cf511a6c55c58d2d2d9ceb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kmousetool-4.9.2.tar.xz">kmousetool-4.9.2</a></td>
   <td align="right">41kB</td>
   <td><tt>c9e27c71fd9bb01ee498cb0799d848611d031dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kmouth-4.9.2.tar.xz">kmouth-4.9.2</a></td>
   <td align="right">311kB</td>
   <td><tt>7e982aa5a57a9f671ec69f3504ca4dc50076778d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kmplot-4.9.2.tar.xz">kmplot-4.9.2</a></td>
   <td align="right">661kB</td>
   <td><tt>66fba97fc152925f87551be2dd283d4cbf06683f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kolourpaint-4.9.2.tar.xz">kolourpaint-4.9.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a7a8fb6c63dc87e239bb54c2f178d2d5412296f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/konsole-4.9.2.tar.xz">konsole-4.9.2</a></td>
   <td align="right">424kB</td>
   <td><tt>bab9dcab839cc975fb3b94ac383d25b94066fe92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/korundum-4.9.2.tar.xz">korundum-4.9.2</a></td>
   <td align="right">157kB</td>
   <td><tt>efa6b6b6bae89f8e16cbbcf8c5840c6cbdab57e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kremotecontrol-4.9.2.tar.xz">kremotecontrol-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>142a28d72f07690a5b342c554493fcfb2e7ae6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kross-interpreters-4.9.2.tar.xz">kross-interpreters-4.9.2</a></td>
   <td align="right">127kB</td>
   <td><tt>9208e4ad1b8ad97f1220cd6696f22d8b1eab29cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kruler-4.9.2.tar.xz">kruler-4.9.2</a></td>
   <td align="right">130kB</td>
   <td><tt>59fe8c2246d3d7e8c8307a4d72fae78caec20681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ksaneplugin-4.9.2.tar.xz">ksaneplugin-4.9.2</a></td>
   <td align="right">12kB</td>
   <td><tt>91b1ef55620bc621a81d0e75643e47d0a115e524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kscd-4.9.2.tar.xz">kscd-4.9.2</a></td>
   <td align="right">91kB</td>
   <td><tt>9130d1f35713f5ebb2f81a4f1b91f3fe16f18861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ksnapshot-4.9.2.tar.xz">ksnapshot-4.9.2</a></td>
   <td align="right">256kB</td>
   <td><tt>3496d070420f8aff10e69c98728c5c1ca34f6d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kstars-4.9.2.tar.xz">kstars-4.9.2</a></td>
   <td align="right">11MB</td>
   <td><tt>144409ebfb2a2c3d040ab4a1ad130b5677dd23b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ktimer-4.9.2.tar.xz">ktimer-4.9.2</a></td>
   <td align="right">146kB</td>
   <td><tt>e621ca273d1cb2490f9212f3c2ecf8d57a6efdd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/ktouch-4.9.2.tar.xz">ktouch-4.9.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>99133b52b29a7ee4d3dd6da664ad8c47fd637b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kturtle-4.9.2.tar.xz">kturtle-4.9.2</a></td>
   <td align="right">207kB</td>
   <td><tt>c30e80f71dc622b818d6539054f91584b0dce444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kwallet-4.9.2.tar.xz">kwallet-4.9.2</a></td>
   <td align="right">274kB</td>
   <td><tt>e77e2cbf91f14e95ccd45fb1931df274f6c68cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kwordquiz-4.9.2.tar.xz">kwordquiz-4.9.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>53c702a88bd9cb0c8fba54d6353d06005760bd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkcddb-4.9.2.tar.xz">libkcddb-4.9.2</a></td>
   <td align="right">153kB</td>
   <td><tt>11a83fcf8e699d787b0c037e50f2031874470d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkcompactdisc-4.9.2.tar.xz">libkcompactdisc-4.9.2</a></td>
   <td align="right">74kB</td>
   <td><tt>daea966e1d6bc06b3dc7001455e31f5004a05423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkdcraw-4.9.2.tar.xz">libkdcraw-4.9.2</a></td>
   <td align="right">261kB</td>
   <td><tt>022e5e59fb4b0a9ac7942b967f488795a42786e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkdeedu-4.9.2.tar.xz">libkdeedu-4.9.2</a></td>
   <td align="right">204kB</td>
   <td><tt>e03310dbb1bcc02095f238fbdd4684a59e98d710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkexiv2-4.9.2.tar.xz">libkexiv2-4.9.2</a></td>
   <td align="right">129kB</td>
   <td><tt>60956d88677346bdd4e343b1454a61a2210a39c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libkipi-4.9.2.tar.xz">libkipi-4.9.2</a></td>
   <td align="right">74kB</td>
   <td><tt>36d9bd240409e4ec3063fe02279671502fb65c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/libksane-4.9.2.tar.xz">libksane-4.9.2</a></td>
   <td align="right">78kB</td>
   <td><tt>e8578ec3a65ba91a8772c88612f61116ee9f38a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/marble-4.9.2.tar.xz">marble-4.9.2</a></td>
   <td align="right">18MB</td>
   <td><tt>71f0ab4845a7bf5505eba0bf5b654720a59d4028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/mplayerthumbs-4.9.2.tar.xz">mplayerthumbs-4.9.2</a></td>
   <td align="right">26kB</td>
   <td><tt>a70d8f522d31529444ba957cdadd97c22dab7090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/nepomuk-core-4.9.2.tar.xz">nepomuk-core-4.9.2</a></td>
   <td align="right">370kB</td>
   <td><tt>a04e632bfa39ac5158c2addf7278bfb27d29cb5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/okular-4.9.2.tar.xz">okular-4.9.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2260afa2f0b7bf6afb2da5129fefd95b144dcd74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/oxygen-icons-4.9.2.tar.xz">oxygen-icons-4.9.2</a></td>
   <td align="right">267MB</td>
   <td><tt>266e5c2f50b1f7375374fad043db9e2ecb54baab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/pairs-4.9.2.tar.xz">pairs-4.9.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ed40356ee7df8059935e945e070667dfffcc77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/parley-4.9.2.tar.xz">parley-4.9.2</a></td>
   <td align="right">7.8MB</td>
   <td><tt>397e58d783f75f48e8cf5a3a35f1fa441010b50b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/perlkde-4.9.2.tar.xz">perlkde-4.9.2</a></td>
   <td align="right">39kB</td>
   <td><tt>7ed1e54f5216e5bfd6b9709900d3df6b606910b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/perlqt-4.9.2.tar.xz">perlqt-4.9.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f7d70401c84fa54e937979a7c03d3fa8d7d59c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/printer-applet-4.9.2.tar.xz">printer-applet-4.9.2</a></td>
   <td align="right">35kB</td>
   <td><tt>c2c61ea05227dcd9dbfb92a6967a4576fbeee73e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/pykde4-4.9.2.tar.xz">pykde4-4.9.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>44b3f02797c43a59f8c3a91131a2488a733cfa11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/qtruby-4.9.2.tar.xz">qtruby-4.9.2</a></td>
   <td align="right">517kB</td>
   <td><tt>7d74ef9d0c66ef6c54fd25aeff89de7f06685dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/qyoto-4.9.2.tar.xz">qyoto-4.9.2</a></td>
   <td align="right">498kB</td>
   <td><tt>549f386325cf02662c685f83b1844c72149255d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/rocs-4.9.2.tar.xz">rocs-4.9.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8c3ba1c2b15a795147110f246853217d301f903b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/smokegen-4.9.2.tar.xz">smokegen-4.9.2</a></td>
   <td align="right">143kB</td>
   <td><tt>f7ac776e18ad0df7535280ca5e6ea951cde159fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/smokekde-4.9.2.tar.xz">smokekde-4.9.2</a></td>
   <td align="right">36kB</td>
   <td><tt>ad541046cf64df5a9ffda29979f8868a9c29c354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/smokeqt-4.9.2.tar.xz">smokeqt-4.9.2</a></td>
   <td align="right">29kB</td>
   <td><tt>a2f70eb2cb67942456604a6538e9cabe8a48aad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/step-4.9.2.tar.xz">step-4.9.2</a></td>
   <td align="right">362kB</td>
   <td><tt>7545eee07323935773466cfd3a241fbd8786ef13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/superkaramba-4.9.2.tar.xz">superkaramba-4.9.2</a></td>
   <td align="right">374kB</td>
   <td><tt>3e2e42316fe7ac357c58fbfa1e1387c347c31b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/svgpart-4.9.2.tar.xz">svgpart-4.9.2</a></td>
   <td align="right">8kB</td>
   <td><tt>06584ae6652d0ea2265c47599dbb6789c973f1fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/sweeper-4.9.2.tar.xz">sweeper-4.9.2</a></td>
   <td align="right">82kB</td>
   <td><tt>31732ac3dd0be4864f6db9a7810b67a1634fc57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-af-4.9.2.tar.xz">kde-l10n-af-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>eed265fade124ac6630af9b5be5cc9b144e9f6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-as-4.9.2.tar.xz">kde-l10n-as-4.9.2</a></td>
   <td align="right">101kB</td>
   <td><tt>daebc243d902669dc94296057082d34ee1e52d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ast-4.9.2.tar.xz">kde-l10n-ast-4.9.2</a></td>
   <td align="right">844kB</td>
   <td><tt>187add0b2cc95998000cedec2ba919c0e88f3fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-be-4.9.2.tar.xz">kde-l10n-be-4.9.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>31c3d4a597cd1d17bd3882f683e54beb76e15988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-be@latin-4.9.2.tar.xz">kde-l10n-be@latin-4.9.2</a></td>
   <td align="right">289kB</td>
   <td><tt>75164ef96129d42c0fb2f43dc88591bf7247714a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-bn-4.9.2.tar.xz">kde-l10n-bn-4.9.2</a></td>
   <td align="right">949kB</td>
   <td><tt>ee00cc05fcd01ff3607564ce609ca8973a92462f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-bn_IN-4.9.2.tar.xz">kde-l10n-bn_IN-4.9.2</a></td>
   <td align="right">366kB</td>
   <td><tt>4704a680b089f86c1aaf657ff5ccf7331094f291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-br-4.9.2.tar.xz">kde-l10n-br-4.9.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>67243c683bea7eb35dd8a1ddd889d049db6c2c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-crh-4.9.2.tar.xz">kde-l10n-crh-4.9.2</a></td>
   <td align="right">78kB</td>
   <td><tt>068f873817751f057ac48fbf5148d9a6ea72c33f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-csb-4.9.2.tar.xz">kde-l10n-csb-4.9.2</a></td>
   <td align="right">539kB</td>
   <td><tt>56aa54be819c00a3b60e2d923d7e6c2e1ebbfd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-cy-4.9.2.tar.xz">kde-l10n-cy-4.9.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>22d1bd6685e664a4866ca37f3f3c634d2b9583df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-eo-4.9.2.tar.xz">kde-l10n-eo-4.9.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>29fb12fbd7a50cca52a05426f7d2bc116066bbb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-fy-4.9.2.tar.xz">kde-l10n-fy-4.9.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>eaea263e0d03e91589a9c6ca42cec55456ebc8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-gu-4.9.2.tar.xz">kde-l10n-gu-4.9.2</a></td>
   <td align="right">817kB</td>
   <td><tt>ec796b76ff983e176a7ea5abd6e5500ba6fb8460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ha-4.9.2.tar.xz">kde-l10n-ha-4.9.2</a></td>
   <td align="right">80kB</td>
   <td><tt>73d3977735e6531cbf9b9c2bc1c3cb05a3f8ec71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-hne-4.9.2.tar.xz">kde-l10n-hne-4.9.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d93bc8289116c5a6d56380f6943d3ce28d4e5844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-hsb-4.9.2.tar.xz">kde-l10n-hsb-4.9.2</a></td>
   <td align="right">676kB</td>
   <td><tt>23131124b5b7c531645f76655e26c9b62761ab05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-hy-4.9.2.tar.xz">kde-l10n-hy-4.9.2</a></td>
   <td align="right">62kB</td>
   <td><tt>8e3ebbd3910345311c2da90ed2897b817fd17511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-id-4.9.2.tar.xz">kde-l10n-id-4.9.2</a></td>
   <td align="right">489kB</td>
   <td><tt>9204890e30596dcd0250f2e92a9bb4b815dda8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ka-4.9.2.tar.xz">kde-l10n-ka-4.9.2</a></td>
   <td align="right">481kB</td>
   <td><tt>88cfe6ac68cbd36acf7cd7a76c5cb8628a8927c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-kn-4.9.2.tar.xz">kde-l10n-kn-4.9.2</a></td>
   <td align="right">452kB</td>
   <td><tt>b7e159ca086bb1b061d23459268e8fd437242b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ku-4.9.2.tar.xz">kde-l10n-ku-4.9.2</a></td>
   <td align="right">679kB</td>
   <td><tt>1ef477297f4d6b6f130c2c57211c08dd08c60f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-lb-4.9.2.tar.xz">kde-l10n-lb-4.9.2</a></td>
   <td align="right">165kB</td>
   <td><tt>e1393584f5fa247e0f0c08f8d9231c30537fbf4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-mai-4.9.2.tar.xz">kde-l10n-mai-4.9.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8188c0655dd77ec57bfa9fa9f6cca2bfe0945459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-mk-4.9.2.tar.xz">kde-l10n-mk-4.9.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0dfd93748a483a63c5e39b1a6d931c9b835645d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ml-4.9.2.tar.xz">kde-l10n-ml-4.9.2</a></td>
   <td align="right">18MB</td>
   <td><tt>6fc9481798a88b043f10894cb8c5dba0e3fb6e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-mr-4.9.2.tar.xz">kde-l10n-mr-4.9.2</a></td>
   <td align="right">342kB</td>
   <td><tt>391b3a737b2aa82e2eb7db7b64f8449f007b3834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ms-4.9.2.tar.xz">kde-l10n-ms-4.9.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>100e8139aa4b12fad2b929d9034badf1945d2bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-mt-4.9.2.tar.xz">kde-l10n-mt-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>0798bf7390786ff5ae7ede03ade0d1177e532af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ne-4.9.2.tar.xz">kde-l10n-ne-4.9.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>551843ae262f7f9e4b1e7bbcd703789f6fe5ebbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-nso-4.9.2.tar.xz">kde-l10n-nso-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>95dd76d99710225dd1e04762c1ca8742a16167e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-oc-4.9.2.tar.xz">kde-l10n-oc-4.9.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0ee6ffd4f76b667f1e0411dbb278125377153437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-or-4.9.2.tar.xz">kde-l10n-or-4.9.2</a></td>
   <td align="right">286kB</td>
   <td><tt>bb3fba3726039413a7ff616664f55b6af220c307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ps-4.9.2.tar.xz">kde-l10n-ps-4.9.2</a></td>
   <td align="right">83kB</td>
   <td><tt>dd4055c238f5494fafb1fd6cc2226dda43c59cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-rw-4.9.2.tar.xz">kde-l10n-rw-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>9b4c6e1c8f82cb60fd2a839a13a2589a530acf94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-se-4.9.2.tar.xz">kde-l10n-se-4.9.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4faa35a50681a44059daa6905575d74a00bc5644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-sq-4.9.2.tar.xz">kde-l10n-sq-4.9.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c7c2b52d3ffc547157b21bb689d1becb60efab61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-sr@ijekavian-4.9.2.tar.xz">kde-l10n-sr@ijekavian-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-sr@ijekavianlatin-4.9.2.tar.xz">kde-l10n-sr@ijekavianlatin-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-sr@latin-4.9.2.tar.xz">kde-l10n-sr@latin-4.9.2</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-ta-4.9.2.tar.xz">kde-l10n-ta-4.9.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5127b575b5f51527b885a794ff34558bd3997bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-te-4.9.2.tar.xz">kde-l10n-te-4.9.2</a></td>
   <td align="right">439kB</td>
   <td><tt>8f3e3c643d262266a0a6360e1664b8510262c8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-tt-4.9.2.tar.xz">kde-l10n-tt-4.9.2</a></td>
   <td align="right">78kB</td>
   <td><tt>a6d2e02dbb5591e9f2bf383d459130bb59a23986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-uz-4.9.2.tar.xz">kde-l10n-uz-4.9.2</a></td>
   <td align="right">780kB</td>
   <td><tt>0c96d9fe2cbd4158064e43dd20c2d71b36618815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-uz@cyrillic-4.9.2.tar.xz">kde-l10n-uz@cyrillic-4.9.2</a></td>
   <td align="right">796kB</td>
   <td><tt>fc1feee7f9355efb532a1177525949535724c071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-xh-4.9.2.tar.xz">kde-l10n-xh-4.9.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>314faf26b2a5a555227f96998c806a5b1a37d51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-x-test-4.9.2.tar.xz">kde-l10n-x-test-4.9.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ef814c1eed3cd45ef6190c378cc066af11cd0ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.2/src/kde-l10n/kde-l10n-zh_HK-4.9.2.tar.xz">kde-l10n-zh_HK-4.9.2</a></td>
   <td align="right">374kB</td>
   <td><tt>4b6d22dabd7b9e1b1ef5e3e99698d710b411c66a</tt></td>
</tr>

</table>
