<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/bluedevil-5.7.5.tar.xz">bluedevil-5.7.5</a></td>
   <td align="right">135kB</td>
   <td><tt>5d1ca0db68f73ceed3bc3add8b9b9327a136db9740f237e7604efdd982536dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/breeze-5.7.5.tar.xz">breeze-5.7.5</a></td>
   <td align="right">11MB</td>
   <td><tt>820f60cd2b4b92fb6ebfb890ff539f06b57eb7935aa3a85c7975ac45de60bd2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/breeze-grub-5.7.5.tar.xz">breeze-grub-5.7.5</a></td>
   <td align="right">150kB</td>
   <td><tt>7e4ba530a9c08f755d60757f2c85e21fade202d3038e50b32c9dcd775fef8f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/breeze-gtk-5.7.5.tar.xz">breeze-gtk-5.7.5</a></td>
   <td align="right">206kB</td>
   <td><tt>ac7fcaa4eaa9c86ed459c3582d58da1220bfb55956a2674ba437fd94d202e66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/breeze-plymouth-5.7.5.tar.xz">breeze-plymouth-5.7.5</a></td>
   <td align="right">55kB</td>
   <td><tt>ed7e02eafd44715e16067bc0194ad2526beb56d0fd9b7bfcc5e3ab2ba9d37d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/discover-5.7.5.tar.xz">discover-5.7.5</a></td>
   <td align="right">797kB</td>
   <td><tt>cc5468a64bbd8669f4a06d50c53ca16b326a7a41aa3d0d1341436742bbaf78c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kactivitymanagerd-5.7.5.tar.xz">kactivitymanagerd-5.7.5</a></td>
   <td align="right">78kB</td>
   <td><tt>d9300faedf6d27c0afca1d51fc9df669ab9bfb60b63e6154dcfb0826d239c5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kde-cli-tools-5.7.5.tar.xz">kde-cli-tools-5.7.5</a></td>
   <td align="right">477kB</td>
   <td><tt>baa03619271003e8127f270b1eb1e5e4150380f5ee4e5114da1b0f3b6bd9aa4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kdecoration-5.7.5.tar.xz">kdecoration-5.7.5</a></td>
   <td align="right">34kB</td>
   <td><tt>aec3b7cbaf40a663fe4f39c5d100bd55efc1491cd0f87c99311395b9a3323024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kde-gtk-config-5.7.5.tar.xz">kde-gtk-config-5.7.5</a></td>
   <td align="right">144kB</td>
   <td><tt>3603055a4821a0aa4250a42261004b4384b53c337ee201d03e494bb18e9602e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kdeplasma-addons-5.7.5.tar.xz">kdeplasma-addons-5.7.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>0066badd4c3a76d31946ea0824124c9efd5c05f073672e5123e70f9a155c1613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kgamma5-5.7.5.tar.xz">kgamma5-5.7.5</a></td>
   <td align="right">58kB</td>
   <td><tt>53779db5bd9d92a817af9b59bca9965856ca89ecf3483ffb4f2b4fe38cb05bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/khotkeys-5.7.5.tar.xz">khotkeys-5.7.5</a></td>
   <td align="right">590kB</td>
   <td><tt>efca5ead90388e3ef8ad0612e7c035414340da5273dd486918af25b3e2fca430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kinfocenter-5.7.5.tar.xz">kinfocenter-5.7.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f9cdf5575d332c4bd7f46238d3cd957a27b534a0e163d58fc7844bbc65115238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kmenuedit-5.7.5.tar.xz">kmenuedit-5.7.5</a></td>
   <td align="right">636kB</td>
   <td><tt>a12f6160ba7b115cc5a23ef1e1579d742622e92e307ecf3ad13fad0d6ef42dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kscreen-5.7.5.tar.xz">kscreen-5.7.5</a></td>
   <td align="right">106kB</td>
   <td><tt>8d1d8c28591b2369510440f99321b0d97468ea9aa5a6eefa2a3385671f5e56c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kscreenlocker-5.7.5.tar.xz">kscreenlocker-5.7.5</a></td>
   <td align="right">100kB</td>
   <td><tt>65ffe3c15f71a8fe2a57a67f1edd91c26ac4b4be1dc566a3cfa8e57cb5bb0de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/ksshaskpass-5.7.5.tar.xz">ksshaskpass-5.7.5</a></td>
   <td align="right">18kB</td>
   <td><tt>967288a9ba7b007dfdc540db00b3b9ab44c4195630144f26b1fc5b780dd00939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/ksysguard-5.7.5.tar.xz">ksysguard-5.7.5</a></td>
   <td align="right">476kB</td>
   <td><tt>4767872c282ffade3f113b9aeca95f0ec4d70fa7c3e8ef14e12ab341004a3e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kwallet-pam-5.7.5.tar.xz">kwallet-pam-5.7.5</a></td>
   <td align="right">17kB</td>
   <td><tt>4a1bbb60eebae92469169826314607ce5592559a13027f0c4b6200c1d1755dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kwayland-integration-5.7.5.tar.xz">kwayland-integration-5.7.5</a></td>
   <td align="right">17kB</td>
   <td><tt>d487d994414747db0efe6a838b7696431ceda1392fd99e158d4b587b0cc648b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kwin-5.7.5.tar.xz">kwin-5.7.5</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ab1e98d3ff19699c89343a51861202dd93c913eb9d9215118c3fab86e99126d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/kwrited-5.7.5.tar.xz">kwrited-5.7.5</a></td>
   <td align="right">19kB</td>
   <td><tt>3a63a54fa5c199463da526a05e755c5ffafd2b12ea4c7d1212a96991307e124f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/libkscreen-5.7.5.tar.xz">libkscreen-5.7.5</a></td>
   <td align="right">88kB</td>
   <td><tt>e11894969cfb6d094f6cdcca1ab3a2d3b1238f17fb6645119629737c1e989c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/libksysguard-5.7.5.tar.xz">libksysguard-5.7.5</a></td>
   <td align="right">557kB</td>
   <td><tt>8584e4ee30b7e260c82e2804710781b584c4f11eda5e3640d9e551715828da47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/milou-5.7.5.tar.xz">milou-5.7.5</a></td>
   <td align="right">52kB</td>
   <td><tt>05fb2dfa8cf892a0bedbb3faf4138e58521a8618f28930bf3862e6236416df72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/oxygen-5.7.5.tar.xz">oxygen-5.7.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>69708bf9a0944720a1bccfb761f41ca964163ff1d2b836d3fc24e1233828da78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-desktop-5.7.5.tar.xz">plasma-desktop-5.7.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>7ebc05cbcc2f8d3332aabfebb6aaff5646e748ca7bcf8417ff7301584dd6a613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-integration-5.7.5.tar.xz">plasma-integration-5.7.5</a></td>
   <td align="right">48kB</td>
   <td><tt>d41abdc63832d3fa1489aaec93dd382bb66e056982e3c49824f808f917f3ce16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-mediacenter-5.7.5.tar.xz">plasma-mediacenter-5.7.5</a></td>
   <td align="right">158kB</td>
   <td><tt>dd0df7dbc3e51ec4e329a6365c25b2b2e3d6e4dd7fd8e0aa916f3f9559a863bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-nm-5.7.5.tar.xz">plasma-nm-5.7.5</a></td>
   <td align="right">623kB</td>
   <td><tt>eb74256c962703097bb6f20b10c8ef2f1646e92256772db4ec81ff4df71aedee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-pa-5.7.5.tar.xz">plasma-pa-5.7.5</a></td>
   <td align="right">141kB</td>
   <td><tt>d1289d87192ef74184214f08dc00d03d32a81c4aa46d843ded738c7d9e7d8a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-sdk-5.7.5.tar.xz">plasma-sdk-5.7.5</a></td>
   <td align="right">682kB</td>
   <td><tt>420bd69e91bc1ed3343ae8be5d088697f28c25a8371a76ea1aa997dab86fa11f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-workspace-5.7.5.tar.xz">plasma-workspace-5.7.5</a></td>
   <td align="right">6.5MB</td>
   <td><tt>116d9af304c212d58163130f1b7d5478085523c967f96f0d9b4ba2c5a73eb9f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/plasma-workspace-wallpapers-5.7.5.tar.xz">plasma-workspace-wallpapers-5.7.5</a></td>
   <td align="right">43MB</td>
   <td><tt>f1ae44fe8dceab64ac2cbe53dbaa5c3b86b82b6c3681f24e801cd902aaddc4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/polkit-kde-agent-1-5.7.5.tar.xz">polkit-kde-agent-1-5.7.5</a></td>
   <td align="right">39kB</td>
   <td><tt>4e2195a535dbad15f771df07b3b87ce74cb2a2c6b9d8e5559353730ee2a90ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/powerdevil-5.7.5.tar.xz">powerdevil-5.7.5</a></td>
   <td align="right">351kB</td>
   <td><tt>53f90edf793bb055e397d1860930a653a7cc519635c9a775ef97b1d7b18f2ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/sddm-kcm-5.7.5.tar.xz">sddm-kcm-5.7.5</a></td>
   <td align="right">47kB</td>
   <td><tt>41c3bb2fc8ee291c337700938ec37d2ffd6588d744ea0e28955458576e9c12e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/systemsettings-5.7.5.tar.xz">systemsettings-5.7.5</a></td>
   <td align="right">154kB</td>
   <td><tt>960938de95c04dae98df3e6189529c1d0d8eb99dbfd7ebcf0b33bc24bf54209b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.5/user-manager-5.7.5.tar.xz">user-manager-5.7.5</a></td>
   <td align="right">273kB</td>
   <td><tt>da4c38be71f08c48d39b7f120a787a89d7b9292215477aca02aaa72237f22cff</tt></td>
</tr>

</table>
