<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/bluedevil-5.18.6.tar.xz">bluedevil-5.18.6</a></td>
   <td align="right">165kB</td>
   <td><tt>ca948243401584e735162c3bfe8b115f5ab907c94015fa54bf8f82823d75254c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/breeze-5.18.6.tar.xz">breeze-5.18.6</a></td>
   <td align="right">20MB</td>
   <td><tt>ba19e310f1c1c7c581d0b659da59ef0c48fdcfd27f41e7011bc93a46443daf8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/breeze-grub-5.18.6.tar.xz">breeze-grub-5.18.6</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e75d34c68101ebfa8d09142054656d5e909f900976233cf8c1c71186f20b6f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/breeze-gtk-5.18.6.tar.xz">breeze-gtk-5.18.6</a></td>
   <td align="right">41kB</td>
   <td><tt>42b636d18c10edff1dc20c9cb74acb6f8902699d4e1ccd4a1e8163ad3ea75494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/breeze-plymouth-5.18.6.tar.xz">breeze-plymouth-5.18.6</a></td>
   <td align="right">103kB</td>
   <td><tt>0bd3c5bc874dc26893cdeff64e9d0651e770817c8bf1137f48b09457978ec475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/discover-5.18.6.1.tar.xz">discover-5.18.6.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>71f49c734a0eb2e690091afdf51d25ea80b122b8fa800bd483faf6fb63e4b49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/drkonqi-5.18.6.tar.xz">drkonqi-5.18.6</a></td>
   <td align="right">726kB</td>
   <td><tt>a0a4634c319909b545d6ec2de5d7cae8588157b306669b5e7ac1febc37fbe042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kactivitymanagerd-5.18.6.tar.xz">kactivitymanagerd-5.18.6</a></td>
   <td align="right">85kB</td>
   <td><tt>857ecc94ae1cd1daed94aa8dd4e45ab39356a40751f0acb7d7b2148c3b36cc38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kde-cli-tools-5.18.6.tar.xz">kde-cli-tools-5.18.6</a></td>
   <td align="right">573kB</td>
   <td><tt>7b11324707bebc4efcf7a189f822e708a97ec45d5ea503959cf64347c2c30b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kdecoration-5.18.6.tar.xz">kdecoration-5.18.6</a></td>
   <td align="right">43kB</td>
   <td><tt>b5628bdbed91cc06fa9ac6cf7d3c37b34324340df0b4cb4f78ffc123e779d3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kde-gtk-config-5.18.6.tar.xz">kde-gtk-config-5.18.6</a></td>
   <td align="right">24kB</td>
   <td><tt>2734a5e0b6feefc75c181559312a5fdca5312c46d28dd571de60ac3c9d6802fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kdeplasma-addons-5.18.6.tar.xz">kdeplasma-addons-5.18.6</a></td>
   <td align="right">610kB</td>
   <td><tt>cf6f9286c94fe6c7e8d7f57f9f4aac88176b1886ec4707ca824e78d82aca26ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kgamma5-5.18.6.tar.xz">kgamma5-5.18.6</a></td>
   <td align="right">77kB</td>
   <td><tt>2c6b92b06594f22cfe3d8f67784dd1a18b4675074fbae8725c890b5143df53be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/khotkeys-5.18.6.tar.xz">khotkeys-5.18.6</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fd734c9bbd7f8dc2dceea6339812529e58ba93001bed81b30937a9817d5a6fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kinfocenter-5.18.6.tar.xz">kinfocenter-5.18.6</a></td>
   <td align="right">1.1MB</td>
   <td><tt>726e6deb9064dbaba7eecbd7db3f8dcf7e766e482ff03a16517b72790f546587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kmenuedit-5.18.6.tar.xz">kmenuedit-5.18.6</a></td>
   <td align="right">789kB</td>
   <td><tt>dd79ad3c1b8dd0189bf18e42b684447128d3dfdd2bc4e1b9c790625ed92e46cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kscreen-5.18.6.tar.xz">kscreen-5.18.6</a></td>
   <td align="right">109kB</td>
   <td><tt>66f0230608e68d25d659ba3d551e3a0177b4eadd7cc4fa2c16b1a137d57c8a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kscreenlocker-5.18.6.tar.xz">kscreenlocker-5.18.6</a></td>
   <td align="right">122kB</td>
   <td><tt>5f8feb82fcd1f666a44ba32b9a7eee1e701bc0069dff49ac1ea9e8ca41afcbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/ksshaskpass-5.18.6.tar.xz">ksshaskpass-5.18.6</a></td>
   <td align="right">21kB</td>
   <td><tt>f5e768c4f0d40535b82ad8fbabc13736cb06f67eab0af9e02db7c1e20cba2242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/ksysguard-5.18.6.tar.xz">ksysguard-5.18.6</a></td>
   <td align="right">500kB</td>
   <td><tt>99943d22e71d012a1f0457a94d86a629dead083e44381cad6eaa057f055652bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kwallet-pam-5.18.6.tar.xz">kwallet-pam-5.18.6</a></td>
   <td align="right">19kB</td>
   <td><tt>917545a71f80a219f367eee86d18217417d8e0c239b07e77e84c6e7b1b637ade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kwayland-integration-5.18.6.tar.xz">kwayland-integration-5.18.6</a></td>
   <td align="right">20kB</td>
   <td><tt>76e1287e42139a94d3c1a4451e59a321213cc43b20e28ed39ea858b3217e87b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kwin-5.18.6.tar.xz">kwin-5.18.6</a></td>
   <td align="right">5.9MB</td>
   <td><tt>aaa59df453f969873fceaf759556b13d6e6081e426418f9022434848aa7db932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/kwrited-5.18.6.tar.xz">kwrited-5.18.6</a></td>
   <td align="right">19kB</td>
   <td><tt>3a11cf8a0bda2ff8dbc84417629e819cc90638b910152a18e7f37c6f0c782b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/libkscreen-5.18.6.tar.xz">libkscreen-5.18.6</a></td>
   <td align="right">83kB</td>
   <td><tt>1d0a56f3c3d2d3b6f91862c22a9dae403c95b59e89c71f0e503656ba4824034b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/libksysguard-5.18.6.tar.xz">libksysguard-5.18.6</a></td>
   <td align="right">597kB</td>
   <td><tt>8775fbece368d224b7e300fc9b3d681d486ef5ac0d423fd45476f8985f2f61a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/milou-5.18.6.tar.xz">milou-5.18.6</a></td>
   <td align="right">62kB</td>
   <td><tt>029189085f215cd00be47b3c587190380855286b0ac4bfd9d95fbec27b2fd002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/oxygen-5.18.6.tar.xz">oxygen-5.18.6</a></td>
   <td align="right">4.2MB</td>
   <td><tt>106f44cb6d33ad9e570dd259a5fd4def4c8a6f42335564a48710bf35e6965d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-browser-integration-5.18.6.tar.xz">plasma-browser-integration-5.18.6</a></td>
   <td align="right">170kB</td>
   <td><tt>cca077d528f9c8f780696e5c64727c2437a1b7fde4cf204b7e695ad14ff8d98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-desktop-5.18.6.tar.xz">plasma-desktop-5.18.6</a></td>
   <td align="right">8.9MB</td>
   <td><tt>61756ee0b27dff3f1907804f02e4a4f42ce993e4446e72aa05b5228e4d0b877c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-integration-5.18.6.tar.xz">plasma-integration-5.18.6</a></td>
   <td align="right">56kB</td>
   <td><tt>9bd0d407204a5cd6f1397654b836485b1c09ebad55e61a29906981a573786667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-nm-5.18.6.tar.xz">plasma-nm-5.18.6</a></td>
   <td align="right">810kB</td>
   <td><tt>d720776ea18b5e4cb3d5d64d0bd2c295bbc1feedd18fc878a015180e4ef7dd8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-pa-5.18.6.tar.xz">plasma-pa-5.18.6</a></td>
   <td align="right">102kB</td>
   <td><tt>cac8b6f5c79cf1a328e0c48cdeb0b674ec85e98f482681cb702741d82f2ae2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-sdk-5.18.6.tar.xz">plasma-sdk-5.18.6</a></td>
   <td align="right">257kB</td>
   <td><tt>4807678128459d3b987ea853ad37705c770e9dcac666f569944ac9ca9a1bcb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-tests-5.18.6.tar.xz">plasma-tests-5.18.6</a></td>
   <td align="right">1kB</td>
   <td><tt>eae41a63707ee26191d3efa287933c4075d2e7d338e223e2b11e5563a281f923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-thunderbolt-5.18.6.tar.xz">plasma-thunderbolt-5.18.6</a></td>
   <td align="right">50kB</td>
   <td><tt>60e27996af00b9225d332d59684ee74ff376c080ec36736d31abff708d01fff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-vault-5.18.6.tar.xz">plasma-vault-5.18.6</a></td>
   <td align="right">135kB</td>
   <td><tt>0eba83bd05ea5b55f53cfa8764e2b9f6cf1f55a83af3631737b3dd5c995e9b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-workspace-5.18.6.tar.xz">plasma-workspace-5.18.6</a></td>
   <td align="right">5.4MB</td>
   <td><tt>1324e976d24e1dda47ba2f103261d426ccf6eb4e9cf4bef9776af02e2299b007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plasma-workspace-wallpapers-5.18.6.tar.xz">plasma-workspace-wallpapers-5.18.6</a></td>
   <td align="right">35MB</td>
   <td><tt>100e3cbd6acdd134b330c9b0a823703b5f94a2f8ffdf72f9e4351fefd42e24ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/plymouth-kcm-5.18.6.tar.xz">plymouth-kcm-5.18.6</a></td>
   <td align="right">41kB</td>
   <td><tt>6ad2d276393dc9c974a060e1c32756a4afcf5b647605e130d1304f04587bee06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/polkit-kde-agent-1-5.18.6.tar.xz">polkit-kde-agent-1-5.18.6</a></td>
   <td align="right">43kB</td>
   <td><tt>b2cfe87b4c36186a958680421a6647bae043eb3bf48be3004b6cdc0f00f7f084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/powerdevil-5.18.6.tar.xz">powerdevil-5.18.6</a></td>
   <td align="right">582kB</td>
   <td><tt>2c8bfbed45afbf49c34240e0afc8824dcbc3f046265a55e38dc0ba7f5f969f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/sddm-kcm-5.18.6.tar.xz">sddm-kcm-5.18.6</a></td>
   <td align="right">60kB</td>
   <td><tt>5f5a03e4780f8fd366c348801f1ef41b1d18330ba169d1f3b98f17ca798af6ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/systemsettings-5.18.6.1.tar.xz">systemsettings-5.18.6.1</a></td>
   <td align="right">171kB</td>
   <td><tt>9b26ff1a64f5fd0600463af52650ded188a90eece60bdf17be34560604e958ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/user-manager-5.18.6.tar.xz">user-manager-5.18.6</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c9b208765a47f0e9f3c78a8d692c93ce3ccfc3201ee8c4eff00f8c07efbe6d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.6/xdg-desktop-portal-kde-5.18.6.tar.xz">xdg-desktop-portal-kde-5.18.6</a></td>
   <td align="right">64kB</td>
   <td><tt>94acf8e3a01358f6d3a753ccc096033745035f8cb05d3f2ad705dec20f421ff9</tt></td>
</tr>

</table>
