<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/amor-4.13.1.tar.xz">amor-4.13.1</a></td>
   <td align="right">170kB</td>
   <td><tt>fc0834deec2d3ffb475e88274f39d850ed083913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/analitza-4.13.1.tar.xz">analitza-4.13.1</a></td>
   <td align="right">180kB</td>
   <td><tt>e5c90cc7a0d29b64ccdb9e2581c054e07b313693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ark-4.13.1.tar.xz">ark-4.13.1</a></td>
   <td align="right">224kB</td>
   <td><tt>e3c5dbe62caeb23a6a19e2313192f2d4e75f32e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/artikulate-4.13.1.tar.xz">artikulate-4.13.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b7fe3fa77383ba61607ed86a2a4e29aed2439135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/audiocd-kio-4.13.1.tar.xz">audiocd-kio-4.13.1</a></td>
   <td align="right">50kB</td>
   <td><tt>70fd223b29dfb5677b498f86578eb4af83c05c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/baloo-4.13.1.tar.xz">baloo-4.13.1</a></td>
   <td align="right">122kB</td>
   <td><tt>9ba97e33ad91da722f361d8fd4eb65d88e73956c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/baloo-widgets-4.13.1.tar.xz">baloo-widgets-4.13.1</a></td>
   <td align="right">31kB</td>
   <td><tt>0ee2aab1cead78a696da4b2afc8e61a2c219c855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/blinken-4.13.1.tar.xz">blinken-4.13.1</a></td>
   <td align="right">546kB</td>
   <td><tt>9e574d4dc47eb59ff117f9fe7de40468145e06ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/bomber-4.13.1.tar.xz">bomber-4.13.1</a></td>
   <td align="right">376kB</td>
   <td><tt>b1e5e810ee8775c80efd7f4e5825206966dc0fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/bovo-4.13.1.tar.xz">bovo-4.13.1</a></td>
   <td align="right">98kB</td>
   <td><tt>b053e4d81c6b47c7a3ba597bc787105ed52ad20b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/cantor-4.13.1.tar.xz">cantor-4.13.1</a></td>
   <td align="right">324kB</td>
   <td><tt>d321f4f48ee6fd0a3659aa29f526dbe1a5534242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/cervisia-4.13.1.tar.xz">cervisia-4.13.1</a></td>
   <td align="right">359kB</td>
   <td><tt>9ff17f1a696df3a196d5bb96cb8e6e18ffe5f905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/dolphin-plugins-4.13.1.tar.xz">dolphin-plugins-4.13.1</a></td>
   <td align="right">56kB</td>
   <td><tt>fef4dc4718aa038df28570f9763ce5edb64d5f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/dragon-4.13.1.tar.xz">dragon-4.13.1</a></td>
   <td align="right">381kB</td>
   <td><tt>1a43baba937a791dd0e39b2c3423c93e3c16d266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ffmpegthumbs-4.13.1.tar.xz">ffmpegthumbs-4.13.1</a></td>
   <td align="right">19kB</td>
   <td><tt>97db800e7f7eab2e62d9d75fdce38bf80161eb92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/filelight-4.13.1.tar.xz">filelight-4.13.1</a></td>
   <td align="right">280kB</td>
   <td><tt>93e8fc1b0c2f7df8d782feac54f1fec660bad98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/granatier-4.13.1.tar.xz">granatier-4.13.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d0f77f14076fd6883981dac33e69bd429f3c457a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/gwenview-4.13.1.tar.xz">gwenview-4.13.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>174692355590ac24362999c3ac0f7fbb292e9b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/jovie-4.13.1.tar.xz">jovie-4.13.1</a></td>
   <td align="right">370kB</td>
   <td><tt>a4340fe56215caa155c97c2d04f91e0a87d68298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/juk-4.13.1.tar.xz">juk-4.13.1</a></td>
   <td align="right">418kB</td>
   <td><tt>0f03086953ecf1eb4ee8e9d8494a10c2d64c5fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kaccessible-4.13.1.tar.xz">kaccessible-4.13.1</a></td>
   <td align="right">19kB</td>
   <td><tt>e53e2014c101b09f777369b6bec75103985f5abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kactivities-4.13.1.tar.xz">kactivities-4.13.1</a></td>
   <td align="right">85kB</td>
   <td><tt>bcece0a4fa92d34cb2bb83d208c914b8830d203d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kajongg-4.13.1.tar.xz">kajongg-4.13.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e71c088908334d6e807934dc140fc44b189b56c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kalgebra-4.13.1.tar.xz">kalgebra-4.13.1</a></td>
   <td align="right">264kB</td>
   <td><tt>f9c1a04abce981926ff9def6cba857cbd01065d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kalzium-4.13.1.tar.xz">kalzium-4.13.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>0a6aae34077bfcf410d8c1284375e40c9038a02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kamera-4.13.1.tar.xz">kamera-4.13.1</a></td>
   <td align="right">34kB</td>
   <td><tt>2005d20da01a27cea13fb115b6f96900b60fb99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kanagram-4.13.1.tar.xz">kanagram-4.13.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6c56023c4e8add2b684f7920d19107984652074b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kapman-4.13.1.tar.xz">kapman-4.13.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>09836b5db240ec02df22012ee31e4cf2960af4cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kapptemplate-4.13.1.tar.xz">kapptemplate-4.13.1</a></td>
   <td align="right">682kB</td>
   <td><tt>cf54c096d8a985e4a708742684cc55c6fc24d9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kate-4.13.1.tar.xz">kate-4.13.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2eb2e2949e03d95913decaa6a583adb26e25da5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/katomic-4.13.1.tar.xz">katomic-4.13.1</a></td>
   <td align="right">642kB</td>
   <td><tt>aadab9a52463556f74001429c6a1f2a3fd39f3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kblackbox-4.13.1.tar.xz">kblackbox-4.13.1</a></td>
   <td align="right">251kB</td>
   <td><tt>9426e42c229e95826b28ed89e3762ea7ff92815e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kblocks-4.13.1.tar.xz">kblocks-4.13.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3a22a8ee6273e81d15983f4e25c8e0be34886426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kbounce-4.13.1.tar.xz">kbounce-4.13.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5742c7e8e17c9b9a6aaed8644c5edec9c00af014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kbreakout-4.13.1.tar.xz">kbreakout-4.13.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c39bf9cdb39904658abe2cf0b1d77c31c0cdcf18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kbruch-4.13.1.tar.xz">kbruch-4.13.1</a></td>
   <td align="right">876kB</td>
   <td><tt>6d7b6efef1d6f1e28d9f239ad9a6e955d4f78225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kcachegrind-4.13.1.tar.xz">kcachegrind-4.13.1</a></td>
   <td align="right">229kB</td>
   <td><tt>62a135a8f488805da5238c98f6ed8bf506b3b29b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kcalc-4.13.1.tar.xz">kcalc-4.13.1</a></td>
   <td align="right">79kB</td>
   <td><tt>0929e3ff801c592a15920612cdfe146a542800f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kcharselect-4.13.1.tar.xz">kcharselect-4.13.1</a></td>
   <td align="right">82kB</td>
   <td><tt>2547d109ab389f81426ea81f417ca821dfe935c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kcolorchooser-4.13.1.tar.xz">kcolorchooser-4.13.1</a></td>
   <td align="right">4kB</td>
   <td><tt>11e152968d3883895dd0fb1fc9ea22f328c3072b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kcron-4.13.1.tar.xz">kcron-4.13.1</a></td>
   <td align="right">170kB</td>
   <td><tt>a2cb8a37b8b57b3060d8dc8e93e975ceaa18a3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdeartwork-4.13.1.tar.xz">kdeartwork-4.13.1</a></td>
   <td align="right">134MB</td>
   <td><tt>780352695c0bd334351bfdd1b89fd4c37af9dec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-baseapps-4.13.1.tar.xz">kde-baseapps-4.13.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9b19ce18bd7e2beb9d43d33fc9a6c98b6452fc50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-base-artwork-4.13.1.tar.xz">kde-base-artwork-4.13.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>ffc188d3f4bb99f5afe5075d6b5f3718357c8ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-dev-scripts-4.13.1.tar.xz">kde-dev-scripts-4.13.1</a></td>
   <td align="right">254kB</td>
   <td><tt>90281ceb426f7c96bf6e054aaa639221138b18e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-dev-utils-4.13.1.tar.xz">kde-dev-utils-4.13.1</a></td>
   <td align="right">50kB</td>
   <td><tt>56966640870f976d1f0932867b8b5f8707f10724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdegraphics-mobipocket-4.13.1.tar.xz">kdegraphics-mobipocket-4.13.1</a></td>
   <td align="right">14kB</td>
   <td><tt>1922cdd59dd9b7041eb813ca5e43145eec1bcf5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdegraphics-strigi-analyzer-4.13.1.tar.xz">kdegraphics-strigi-analyzer-4.13.1</a></td>
   <td align="right">39kB</td>
   <td><tt>5c692cf99d50a044675e7e754a99848776aab864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdegraphics-thumbnailers-4.13.1.tar.xz">kdegraphics-thumbnailers-4.13.1</a></td>
   <td align="right">40kB</td>
   <td><tt>119fa679bfae0443b72ab348b96946fe82a10547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdelibs-4.13.1.tar.xz">kdelibs-4.13.1</a></td>
   <td align="right">11MB</td>
   <td><tt>1008effc37f316bf6e3a4d527c4257937fc572ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdenetwork-filesharing-4.13.1.tar.xz">kdenetwork-filesharing-4.13.1</a></td>
   <td align="right">26kB</td>
   <td><tt>7524180540dda6a770eb8471f87fb59b224ae5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdenetwork-strigi-analyzers-4.13.1.tar.xz">kdenetwork-strigi-analyzers-4.13.1</a></td>
   <td align="right">14kB</td>
   <td><tt>13e943382503f29820cc8729b0da16fc41dcb318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdepim-4.13.1.tar.xz">kdepim-4.13.1</a></td>
   <td align="right">13MB</td>
   <td><tt>c780b4529fac2a2bdb026805b7ca4071a9883522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdepimlibs-4.13.1.tar.xz">kdepimlibs-4.13.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f96747d366e88c648a1b9cdb20d95fb8fd2d1db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdepim-runtime-4.13.1.tar.xz">kdepim-runtime-4.13.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e02447616460760232f03124be8b688cd8407196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdeplasma-addons-4.13.1.tar.xz">kdeplasma-addons-4.13.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ac9cfcb1b28876e3a7171b11bddab0bf3031ca36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-runtime-4.13.1.tar.xz">kde-runtime-4.13.1</a></td>
   <td align="right">7.4MB</td>
   <td><tt>57b0cd485ec9f7d70b535c136516dd0d3c345311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdesdk-kioslaves-4.13.1.tar.xz">kdesdk-kioslaves-4.13.1</a></td>
   <td align="right">352kB</td>
   <td><tt>49e4f8705f97790ccf6ae2c7797af841daba0d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdesdk-strigi-analyzers-4.13.1.tar.xz">kdesdk-strigi-analyzers-4.13.1</a></td>
   <td align="right">17kB</td>
   <td><tt>720244bfe7e4c2fc6e8c6528b89d226ff3404c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdesdk-thumbnailers-4.13.1.tar.xz">kdesdk-thumbnailers-4.13.1</a></td>
   <td align="right">11kB</td>
   <td><tt>2de1521d23773bb90b6bbe424ffe641a0ff4d4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-wallpapers-4.13.1.tar.xz">kde-wallpapers-4.13.1</a></td>
   <td align="right">86MB</td>
   <td><tt>48fb31a7ac25d8fdbc2a8ee38dfab2c0d14727b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdewebdev-4.13.1.tar.xz">kdewebdev-4.13.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1c0fd0b3a95093a8f9dc769b6c4952eb028f515c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdf-4.13.1.tar.xz">kdf-4.13.1</a></td>
   <td align="right">145kB</td>
   <td><tt>eb8976a71e0a7f691b41af59012bee4728c6c27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kdiamond-4.13.1.tar.xz">kdiamond-4.13.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>2e1fb1544992d6d40bd0b4e2c68a33855c684191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kfilemetadata-4.13.1.tar.xz">kfilemetadata-4.13.1</a></td>
   <td align="right">34kB</td>
   <td><tt>feaf72302ce9d112f876306465d1d3430ad912a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kfloppy-4.13.1.tar.xz">kfloppy-4.13.1</a></td>
   <td align="right">51kB</td>
   <td><tt>7f1e831ea0381f64acdb354620b7b95e0e951cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kfourinline-4.13.1.tar.xz">kfourinline-4.13.1</a></td>
   <td align="right">275kB</td>
   <td><tt>3d1ee6361c12498473db0c3b515c44becf03e032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kgamma-4.13.1.tar.xz">kgamma-4.13.1</a></td>
   <td align="right">22kB</td>
   <td><tt>e8fdf990b52e9c59f74554c97aa15a28e931a7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kgeography-4.13.1.tar.xz">kgeography-4.13.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>2621a4a5b05d947bf24ab723cefb11508b04d561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kget-4.13.1.tar.xz">kget-4.13.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7deae9a7d6189e9fd1339387804a9f396b3353e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kgoldrunner-4.13.1.tar.xz">kgoldrunner-4.13.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>36baba46bef54782bfc7f894a2eb6ec12f025482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kgpg-4.13.1.tar.xz">kgpg-4.13.1</a></td>
   <td align="right">784kB</td>
   <td><tt>252551b1f7d2769d7402d98027b8c3edaac1f391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/khangman-4.13.1.tar.xz">khangman-4.13.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>c8179fa119ce60e569e01490052e75d7cd95987b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kig-4.13.1.tar.xz">kig-4.13.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3e7a9791ef096c8ea69946d9b6083761819001e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kigo-4.13.1.tar.xz">kigo-4.13.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f81af4db664aa4acc28387dccfce561489733221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/killbots-4.13.1.tar.xz">killbots-4.13.1</a></td>
   <td align="right">938kB</td>
   <td><tt>933e8aca92efbcf419ac88f6d0b14361010ff680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kimono-4.13.1.tar.xz">kimono-4.13.1</a></td>
   <td align="right">910kB</td>
   <td><tt>088369b16997bcefdb6aff15e11ce4d5a33bae14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kiriki-4.13.1.tar.xz">kiriki-4.13.1</a></td>
   <td align="right">114kB</td>
   <td><tt>1e485377e5278b9bbf30bf58c15b0eff0ab604c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kiten-4.13.1.tar.xz">kiten-4.13.1</a></td>
   <td align="right">11MB</td>
   <td><tt>53d80d717862ffed76ee17ff6901ab9a75df48b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kjumpingcube-4.13.1.tar.xz">kjumpingcube-4.13.1</a></td>
   <td align="right">160kB</td>
   <td><tt>66124f2adec345c27e9d9561e563c46a546ed949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/klettres-4.13.1.tar.xz">klettres-4.13.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4dee48ff628339c7902e0019cdb66e2bbe74d37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/klickety-4.13.1.tar.xz">klickety-4.13.1</a></td>
   <td align="right">765kB</td>
   <td><tt>868443f958a07b04ba2fa3b68d744dfd5dd7a6f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/klines-4.13.1.tar.xz">klines-4.13.1</a></td>
   <td align="right">926kB</td>
   <td><tt>38d104d8345ebc7e44abcb3fe933fe61d4896a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmag-4.13.1.tar.xz">kmag-4.13.1</a></td>
   <td align="right">84kB</td>
   <td><tt>595081ffb9995f40c229171b6656ae62533c6782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmahjongg-4.13.1.tar.xz">kmahjongg-4.13.1</a></td>
   <td align="right">981kB</td>
   <td><tt>2a946d7d57f07f71a9906420947f49727d5da7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmines-4.13.1.tar.xz">kmines-4.13.1</a></td>
   <td align="right">613kB</td>
   <td><tt>2f8b7b7fc58f925a807109f063a3af6969d8a838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmix-4.13.1.tar.xz">kmix-4.13.1</a></td>
   <td align="right">369kB</td>
   <td><tt>b0b1fa6a95d347e5bf0539df187d6cb097ba675a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmousetool-4.13.1.tar.xz">kmousetool-4.13.1</a></td>
   <td align="right">35kB</td>
   <td><tt>21026106902163c4e732aa8d5dde0a7c14b96f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmouth-4.13.1.tar.xz">kmouth-4.13.1</a></td>
   <td align="right">300kB</td>
   <td><tt>70809293d99d361f8217a9a5120d00ded0deb6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kmplot-4.13.1.tar.xz">kmplot-4.13.1</a></td>
   <td align="right">639kB</td>
   <td><tt>e84e4c649a82520180a441cd7fe27a2389775e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/knavalbattle-4.13.1.tar.xz">knavalbattle-4.13.1</a></td>
   <td align="right">834kB</td>
   <td><tt>02c5c6f6a34bc3ba4bf79ae5ae6b077aa4c031da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/knetwalk-4.13.1.tar.xz">knetwalk-4.13.1</a></td>
   <td align="right">763kB</td>
   <td><tt>9ae7786bc8aa411821c55a99fcf23fdc1066721c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kolf-4.13.1.tar.xz">kolf-4.13.1</a></td>
   <td align="right">750kB</td>
   <td><tt>464f4d5ebe1079550f2eb79dda6842d7841ef112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kollision-4.13.1.tar.xz">kollision-4.13.1</a></td>
   <td align="right">202kB</td>
   <td><tt>f5c8b127e9298435d2259959946aefc35cc9ab98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kolourpaint-4.13.1.tar.xz">kolourpaint-4.13.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a11c5acf4aebfb1d6173e414fb2e7d1451a2000b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kompare-4.13.1.tar.xz">kompare-4.13.1</a></td>
   <td align="right">336kB</td>
   <td><tt>2b88bfcff2c96285a830b2b9d1b51c13e250a305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/konquest-4.13.1.tar.xz">konquest-4.13.1</a></td>
   <td align="right">395kB</td>
   <td><tt>aa061f59e526f92dd27aedb6a37bfe89fb2c652d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/konsole-4.13.1.tar.xz">konsole-4.13.1</a></td>
   <td align="right">444kB</td>
   <td><tt>7703e7142981b6617dffe6ca84b81487ed2f9b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kopete-4.13.1.tar.xz">kopete-4.13.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>99e47bba25606fdccbe1ac04346e9c3acad254d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/korundum-4.13.1.tar.xz">korundum-4.13.1</a></td>
   <td align="right">156kB</td>
   <td><tt>fcc64c9abbbe84a47e2bd4006391433044a22482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kpat-4.13.1.tar.xz">kpat-4.13.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1d517fbe02269220248d7ab9857a90b2f8ae7dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kppp-4.13.1.tar.xz">kppp-4.13.1</a></td>
   <td align="right">680kB</td>
   <td><tt>c763079ba3e8a47f4ee0ba8980564d2603568ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kqtquickcharts-4.13.1.tar.xz">kqtquickcharts-4.13.1</a></td>
   <td align="right">16kB</td>
   <td><tt>3b527fb0c57e11ecb51a2b1b36d40c73d58f3fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/krdc-4.13.1.tar.xz">krdc-4.13.1</a></td>
   <td align="right">388kB</td>
   <td><tt>20269e8baeab839ff4e7cc0ca916edcf3cd9c56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kremotecontrol-4.13.1.tar.xz">kremotecontrol-4.13.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>63edf67f4454d553a40edeeeb83e689879e22806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kreversi-4.13.1.tar.xz">kreversi-4.13.1</a></td>
   <td align="right">463kB</td>
   <td><tt>c30867eee086c4c71398c95d9c8ab90fc7b1f2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/krfb-4.13.1.tar.xz">krfb-4.13.1</a></td>
   <td align="right">456kB</td>
   <td><tt>7e6b134f4f350f83e8a4ae50acdb915d3f1601fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kross-interpreters-4.13.1.tar.xz">kross-interpreters-4.13.1</a></td>
   <td align="right">127kB</td>
   <td><tt>ec7a740ae1f8d0a1b286aaea039920ba3e958ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kruler-4.13.1.tar.xz">kruler-4.13.1</a></td>
   <td align="right">125kB</td>
   <td><tt>c643faa2f96d380e3d04a1a450fe506ea61ada21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksaneplugin-4.13.1.tar.xz">ksaneplugin-4.13.1</a></td>
   <td align="right">12kB</td>
   <td><tt>fa7ffaf45df75f217b5d48044d9f3a163eca1496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kscd-4.13.1.tar.xz">kscd-4.13.1</a></td>
   <td align="right">90kB</td>
   <td><tt>0090d6b2fdd7a2db78efe8b8c5dff64ccd252d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kshisen-4.13.1.tar.xz">kshisen-4.13.1</a></td>
   <td align="right">132kB</td>
   <td><tt>68475fb209a8de4abfc34f6479b0b38024616633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksirk-4.13.1.tar.xz">ksirk-4.13.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>b107a3edbbbb214ffd7d4b79d0a825d9f3ef1f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksnakeduel-4.13.1.tar.xz">ksnakeduel-4.13.1</a></td>
   <td align="right">312kB</td>
   <td><tt>ba4e3999bbd99c38cf6ea2d7584c86d70fcba91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksnapshot-4.13.1.tar.xz">ksnapshot-4.13.1</a></td>
   <td align="right">251kB</td>
   <td><tt>3fdc87eeca1e699fceefd2ee91b1dc72f7297f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kspaceduel-4.13.1.tar.xz">kspaceduel-4.13.1</a></td>
   <td align="right">246kB</td>
   <td><tt>a99f409160c3e49acd8eee41c0c47e5cc63f452c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksquares-4.13.1.tar.xz">ksquares-4.13.1</a></td>
   <td align="right">77kB</td>
   <td><tt>10fa69ee16343edfee15239eb47b1077c8709b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kstars-4.13.1.tar.xz">kstars-4.13.1</a></td>
   <td align="right">11MB</td>
   <td><tt>f36a4bf052b8fd84c4ff7d63eb0bfceb641ff5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksudoku-4.13.1.tar.xz">ksudoku-4.13.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>40d29f041a18dceb46fc0c1426af62f871ed9911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ksystemlog-4.13.1.tar.xz">ksystemlog-4.13.1</a></td>
   <td align="right">373kB</td>
   <td><tt>70ca75ca464e360e6ee16b49f125922783827f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kteatime-4.13.1.tar.xz">kteatime-4.13.1</a></td>
   <td align="right">98kB</td>
   <td><tt>f605a838e87a222b0fd90533e43ac589fb0b5dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ktimer-4.13.1.tar.xz">ktimer-4.13.1</a></td>
   <td align="right">143kB</td>
   <td><tt>cacd00e9e350fb271336f9cb1568f791b83f02da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ktouch-4.13.1.tar.xz">ktouch-4.13.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>076c94272f9d9629a9a608c62d2075158f0b4d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ktuberling-4.13.1.tar.xz">ktuberling-4.13.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>76455e6909736e14cb57f6bc3c3be749a98d497a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kturtle-4.13.1.tar.xz">kturtle-4.13.1</a></td>
   <td align="right">183kB</td>
   <td><tt>241e44b7d44739b2578ff179f3c2c1f4a497d15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/ktux-4.13.1.tar.xz">ktux-4.13.1</a></td>
   <td align="right">106kB</td>
   <td><tt>28dac94cb9711343f381540c35f5e6ce17c44ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kubrick-4.13.1.tar.xz">kubrick-4.13.1</a></td>
   <td align="right">104kB</td>
   <td><tt>1b605771a633282a6c31b7525e5aa14b3d04ed19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kuser-4.13.1.tar.xz">kuser-4.13.1</a></td>
   <td align="right">131kB</td>
   <td><tt>d4165f7180f676edd0e0bc79b1d93087aab92403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kwalletmanager-4.13.1.tar.xz">kwalletmanager-4.13.1</a></td>
   <td align="right">445kB</td>
   <td><tt>58cc5e68d9517f9346d8a440bca93f0ef767866c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kwordquiz-4.13.1.tar.xz">kwordquiz-4.13.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2f4b5458cbdb99dc7c95978d13569dbe640cb4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkcddb-4.13.1.tar.xz">libkcddb-4.13.1</a></td>
   <td align="right">154kB</td>
   <td><tt>8ecd56d50a4040ccf08a899828b9a8aa40964696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkcompactdisc-4.13.1.tar.xz">libkcompactdisc-4.13.1</a></td>
   <td align="right">73kB</td>
   <td><tt>1c290354a65b7d1c9b0a96e8ff3cc98e6910923a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkdcraw-4.13.1.tar.xz">libkdcraw-4.13.1</a></td>
   <td align="right">97kB</td>
   <td><tt>247bbbb81b08ed380b5021bab4a427d2ab6e9261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkdeedu-4.13.1.tar.xz">libkdeedu-4.13.1</a></td>
   <td align="right">204kB</td>
   <td><tt>7f433c0f3630faf90324e37bac575f9f2026745d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkdegames-4.13.1.tar.xz">libkdegames-4.13.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>0cfb1158755fd7366aa481932cc89bf5544ff1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkexiv2-4.13.1.tar.xz">libkexiv2-4.13.1</a></td>
   <td align="right">132kB</td>
   <td><tt>cc9e0a2f4947f48565732dbcaa0a024c4645bd9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkipi-4.13.1.tar.xz">libkipi-4.13.1</a></td>
   <td align="right">92kB</td>
   <td><tt>9e6b69cc4895319fc52fa07a2e5e3412f69bed13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkmahjongg-4.13.1.tar.xz">libkmahjongg-4.13.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2d07a2df243a019fd25a52b482971ce7e919a79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libkomparediff2-4.13.1.tar.xz">libkomparediff2-4.13.1</a></td>
   <td align="right">54kB</td>
   <td><tt>a22bfd9c28cb68f3d2fd5fb65f72dd19060aaf53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/libksane-4.13.1.tar.xz">libksane-4.13.1</a></td>
   <td align="right">78kB</td>
   <td><tt>32101a6623b3f780bbef8e446c655323a567fa1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/lokalize-4.13.1.tar.xz">lokalize-4.13.1</a></td>
   <td align="right">826kB</td>
   <td><tt>71c80340f4834b546c919a886fd62feeb18d7f0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/lskat-4.13.1.tar.xz">lskat-4.13.1</a></td>
   <td align="right">907kB</td>
   <td><tt>cd0d97fc76b53580b2edd3e804bd64f06313ccdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/marble-4.13.1.tar.xz">marble-4.13.1</a></td>
   <td align="right">18MB</td>
   <td><tt>9d7cedc13098ddf1d759b44d570b9cf68d7f3ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/mplayerthumbs-4.13.1.tar.xz">mplayerthumbs-4.13.1</a></td>
   <td align="right">26kB</td>
   <td><tt>4a12f68c1ade7c3dbbb0f4ce0542b8af2a6015b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/nepomuk-core-4.13.1.tar.xz">nepomuk-core-4.13.1</a></td>
   <td align="right">374kB</td>
   <td><tt>b52622889e6dc9e7e401d8dadd48ce49de01c383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/nepomuk-widgets-4.13.1.tar.xz">nepomuk-widgets-4.13.1</a></td>
   <td align="right">47kB</td>
   <td><tt>6cc4571413f6597cf352eec81e09e70070a68a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/okteta-4.13.1.tar.xz">okteta-4.13.1</a></td>
   <td align="right">481kB</td>
   <td><tt>922ec95c1b4daed7d81075d4fc75389ff5e3da40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/okular-4.13.1.tar.xz">okular-4.13.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>18b75b3046ba5b27084ac842d005061f94b6ef7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/oxygen-icons-4.13.1.tar.xz">oxygen-icons-4.13.1</a></td>
   <td align="right">219MB</td>
   <td><tt>a46eb0783579c7e5b0aa17b8d79c84557beef005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/pairs-4.13.1.tar.xz">pairs-4.13.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b42efc7bb375ac0986e59ca9628daf0a73f933fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/palapeli-4.13.1.tar.xz">palapeli-4.13.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>81c52f542b0bd7e77109948b2f17cf345e7c55e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/parley-4.13.1.tar.xz">parley-4.13.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>db3097ab6392c8de78fd74c170feb46062591fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/perlkde-4.13.1.tar.xz">perlkde-4.13.1</a></td>
   <td align="right">39kB</td>
   <td><tt>45462e61f264725aeaeef09aca4742cc6de4ca1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/perlqt-4.13.1.tar.xz">perlqt-4.13.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>841928c3cbb3e262bf62e56129528bec26f42c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/picmi-4.13.1.tar.xz">picmi-4.13.1</a></td>
   <td align="right">714kB</td>
   <td><tt>1a18f49428899665a68f0b97cf6b60b37f6f88a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/poxml-4.13.1.tar.xz">poxml-4.13.1</a></td>
   <td align="right">30kB</td>
   <td><tt>6112b94dab748294d87413d9f21292e1fdf1be2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/print-manager-4.13.1.tar.xz">print-manager-4.13.1</a></td>
   <td align="right">90kB</td>
   <td><tt>3d516b0644e4f75293f18417f567232241b7decd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/pykde4-4.13.1.tar.xz">pykde4-4.13.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>0b8916942f3f01855f5246bb13345ceb8907b972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/qtruby-4.13.1.tar.xz">qtruby-4.13.1</a></td>
   <td align="right">517kB</td>
   <td><tt>c046de707e352beadfe531b8daea7ad34a36138b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/qyoto-4.13.1.tar.xz">qyoto-4.13.1</a></td>
   <td align="right">495kB</td>
   <td><tt>e096376a0221ce0472f65ad8a7b43668ff7a582b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/rocs-4.13.1.tar.xz">rocs-4.13.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f364ce737445e7906094c625095d704d364c75b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/smokegen-4.13.1.tar.xz">smokegen-4.13.1</a></td>
   <td align="right">143kB</td>
   <td><tt>283f858a5e68329911de413ed3ffd127861ecc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/smokekde-4.13.1.tar.xz">smokekde-4.13.1</a></td>
   <td align="right">35kB</td>
   <td><tt>7035769dcda0c38098dcff23021c821cdd59fd57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/smokeqt-4.13.1.tar.xz">smokeqt-4.13.1</a></td>
   <td align="right">29kB</td>
   <td><tt>7b3504927b83f6360b354f2cb47944df6f9189d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/step-4.13.1.tar.xz">step-4.13.1</a></td>
   <td align="right">353kB</td>
   <td><tt>aac7699a62272a93005dc9bca5aa4e3a17b7c181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/superkaramba-4.13.1.tar.xz">superkaramba-4.13.1</a></td>
   <td align="right">374kB</td>
   <td><tt>f723212c6c3f3229c66d03356f2dd1fcd544effe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/svgpart-4.13.1.tar.xz">svgpart-4.13.1</a></td>
   <td align="right">8kB</td>
   <td><tt>58357a1648c6a236b3e2913ebb0fa085f3caa0c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/sweeper-4.13.1.tar.xz">sweeper-4.13.1</a></td>
   <td align="right">80kB</td>
   <td><tt>cf8e23c6f57092171fbb9c9be2137910b4414e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/umbrello-4.13.1.tar.xz">umbrello-4.13.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2bc22fa7a285ca1e0984a136a473df037a03844a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/zeroconf-ioslave-4.13.1.tar.xz">zeroconf-ioslave-4.13.1</a></td>
   <td align="right">25kB</td>
   <td><tt>a71aac578785fb8fa59d4fea4302b4e08dcd5506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ar-4.13.1.tar.xz">kde-l10n-ar-4.13.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>29462630b8e907c54623dd3d9362a18220f26ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-bg-4.13.1.tar.xz">kde-l10n-bg-4.13.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c4e3a1b6e3d27a175136b9e482d5d4f52fe9c372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-bs-4.13.1.tar.xz">kde-l10n-bs-4.13.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>41a2e09d3feb6e6a3e8eb526f0be99b9b9012f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ca-4.13.1.tar.xz">kde-l10n-ca-4.13.1</a></td>
   <td align="right">11MB</td>
   <td><tt>5c8847b621eb3107b3ee262670792f0e6b74277c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ca@valencia-4.13.1.tar.xz">kde-l10n-ca@valencia-4.13.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9aaac31b9767a61cab5d36f60caa5ef6dd4ffccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-cs-4.13.1.tar.xz">kde-l10n-cs-4.13.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>cb5bd1011f2050ba1396abb610eacd81a8aad003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-da-4.13.1.tar.xz">kde-l10n-da-4.13.1</a></td>
   <td align="right">12MB</td>
   <td><tt>c5a7aa677828d9cf26c330afe674d03db3d0f92d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-de-4.13.1.tar.xz">kde-l10n-de-4.13.1</a></td>
   <td align="right">34MB</td>
   <td><tt>1f22f1ce8f3500425f23633c77214b4ecc86e60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-el-4.13.1.tar.xz">kde-l10n-el-4.13.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>127add1d4a3b71ea0821514ebcfbccbd8128fc1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-en_GB-4.13.1.tar.xz">kde-l10n-en_GB-4.13.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>611248d2c723c3957ae3dec35cad978eeb194d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-es-4.13.1.tar.xz">kde-l10n-es-4.13.1</a></td>
   <td align="right">20MB</td>
   <td><tt>f1382a9769b880fee46423ea587be63d6f40b568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-et-4.13.1.tar.xz">kde-l10n-et-4.13.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>eed0b042fad6ab72e5fe0b17bfc7991efc4c0a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-eu-4.13.1.tar.xz">kde-l10n-eu-4.13.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>351f1c5425b95bed487584f53d3e090124b87ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-fi-4.13.1.tar.xz">kde-l10n-fi-4.13.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7cb2d8df0aed888609015dba872a4f7540163e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-fr-4.13.1.tar.xz">kde-l10n-fr-4.13.1</a></td>
   <td align="right">44MB</td>
   <td><tt>15e6c6d62ea27118bc8ec79dc64963e467d9d5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ga-4.13.1.tar.xz">kde-l10n-ga-4.13.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2f5e58f58ad5a62a0746fd1a0558d4c4a33faebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-gl-4.13.1.tar.xz">kde-l10n-gl-4.13.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>398d7a7c4498c806fd6fc31b306ae9c1e35d6d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-he-4.13.1.tar.xz">kde-l10n-he-4.13.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>92a23da5d0a2926e64b4073f1a9e04ed37826574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-hi-4.13.1.tar.xz">kde-l10n-hi-4.13.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>80e01ac450f8fa0e79e3cda59322f7b489f06861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-hr-4.13.1.tar.xz">kde-l10n-hr-4.13.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2314bc946e60df1854211240c8c7674cff846bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-hu-4.13.1.tar.xz">kde-l10n-hu-4.13.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>30b50f772d1dc57eb5e7954215e585786fc22ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ia-4.13.1.tar.xz">kde-l10n-ia-4.13.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0d5143da85454ab36b2d6556ed2b13a0464af8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-id-4.13.1.tar.xz">kde-l10n-id-4.13.1</a></td>
   <td align="right">508kB</td>
   <td><tt>78cb9987622cbf7b235856351fb346cbf4c1d071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-is-4.13.1.tar.xz">kde-l10n-is-4.13.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>77208aeb6ae65abe57a21d96b2a3e62822a527a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-it-4.13.1.tar.xz">kde-l10n-it-4.13.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>588ae4d3b56e93bd88781cb765256805b7cbba24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ja-4.13.1.tar.xz">kde-l10n-ja-4.13.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1fca9ab95dfab136b821e511c470420b7dba8cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-kk-4.13.1.tar.xz">kde-l10n-kk-4.13.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a6b9118ab38be6b12b215c7dc9a5c3425188bbcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-km-4.13.1.tar.xz">kde-l10n-km-4.13.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6b34fa0b8969b7b38d2d0b7efa6d1b024061dcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ko-4.13.1.tar.xz">kde-l10n-ko-4.13.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c75f63373fc05a677863a732b3f2e41cfe5d020e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-lt-4.13.1.tar.xz">kde-l10n-lt-4.13.1</a></td>
   <td align="right">12MB</td>
   <td><tt>693c0a6c48b7a43b9aba8d70fbecc5381920bfb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-lv-4.13.1.tar.xz">kde-l10n-lv-4.13.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1caba4eda2c6179e37bc82466b29b965b4f85a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-mr-4.13.1.tar.xz">kde-l10n-mr-4.13.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ae54b6cb57971e6bcfb0af3beba6b4c6a58dc4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-nb-4.13.1.tar.xz">kde-l10n-nb-4.13.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c32ba1d38fb67af8fc93f94089926903974a44f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-nds-4.13.1.tar.xz">kde-l10n-nds-4.13.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>cea34097e89df2493d741fc3e41bc87f4f5e774c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-nl-4.13.1.tar.xz">kde-l10n-nl-4.13.1</a></td>
   <td align="right">13MB</td>
   <td><tt>b6e3ba42018220bdeb283dd58a3df48d4769d7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-nn-4.13.1.tar.xz">kde-l10n-nn-4.13.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3e05bdb6a5a0afc1e8981fed680d91cde0e83a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-pa-4.13.1.tar.xz">kde-l10n-pa-4.13.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>910231e9a4645c1fb8dfa0bd339311439d7f6af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-pl-4.13.1.tar.xz">kde-l10n-pl-4.13.1</a></td>
   <td align="right">16MB</td>
   <td><tt>1022e30a33c970f0da1c7b087e53d114f2627431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-pt-4.13.1.tar.xz">kde-l10n-pt-4.13.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e77c4b286b46e05068f7c9634c7971f24e103f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-pt_BR-4.13.1.tar.xz">kde-l10n-pt_BR-4.13.1</a></td>
   <td align="right">23MB</td>
   <td><tt>0429766fb032357795a5e819d3b130f5798759c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ro-4.13.1.tar.xz">kde-l10n-ro-4.13.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4adc073190e6b16f63da091f196973c5b85ad853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ru-4.13.1.tar.xz">kde-l10n-ru-4.13.1</a></td>
   <td align="right">22MB</td>
   <td><tt>0dfcc101ccc4e758990ba675e6abb9872299bff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-sk-4.13.1.tar.xz">kde-l10n-sk-4.13.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6866f0ad520897c3e5b5e429609253ba058d6289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-sl-4.13.1.tar.xz">kde-l10n-sl-4.13.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>636f889698e087789535052e05226b3b9d9be5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-sr-4.13.1.tar.xz">kde-l10n-sr-4.13.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1c8ca4b156547091aa6f8ff99b75070b8c4280c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-sv-4.13.1.tar.xz">kde-l10n-sv-4.13.1</a></td>
   <td align="right">13MB</td>
   <td><tt>f233f0956989cdb8434bd7a3d23444c2de592ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-tr-4.13.1.tar.xz">kde-l10n-tr-4.13.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>3586c53ff731244838547e4e6bfd37da0ea80110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-ug-4.13.1.tar.xz">kde-l10n-ug-4.13.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>12c8c8cd27e5965237892a16d1e948e7897dfbdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-uk-4.13.1.tar.xz">kde-l10n-uk-4.13.1</a></td>
   <td align="right">24MB</td>
   <td><tt>2ae7218ae506f96d4e774e5cd6db25dc54799b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-vi-4.13.1.tar.xz">kde-l10n-vi-4.13.1</a></td>
   <td align="right">927kB</td>
   <td><tt>86adf9018c7d5e74b4aae01dccef4bf3e9fc884b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-wa-4.13.1.tar.xz">kde-l10n-wa-4.13.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>af7994fc0480b0785f319177701599116c01589b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-zh_CN-4.13.1.tar.xz">kde-l10n-zh_CN-4.13.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9e3718a65213c4c06e54d70f9f945060274cf787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.1/src/kde-l10n/kde-l10n-zh_TW-4.13.1.tar.xz">kde-l10n-zh_TW-4.13.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d660d8786f44541564418dfad9dbc2830e478472</tt></td>
</tr>

</table>
