
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/attica-5.83.0.tar.xz">attica-5.83.0</a></td>
   <td align="right">64kB</td>
   <td><tt>23cc1c19c9801e1d8b71103163c958d24d86c706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/baloo-5.83.0.tar.xz">baloo-5.83.0</a></td>
   <td align="right">274kB</td>
   <td><tt>e4ea939a688d8882f4d5eccbf21766ac1bc4a580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/bluez-qt-5.83.0.tar.xz">bluez-qt-5.83.0</a></td>
   <td align="right">99kB</td>
   <td><tt>a9f823de175cf0ef45a7ec665d6013577237a71e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/breeze-icons-5.83.0.tar.xz">breeze-icons-5.83.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>416573154ae90d8c42c0aa9dc1d4e7151523d4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/extra-cmake-modules-5.83.0.tar.xz">extra-cmake-modules-5.83.0</a></td>
   <td align="right">307kB</td>
   <td><tt>44b08e5cf11fe061b545725b1fb826f5a277c88f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/frameworkintegration-5.83.0.tar.xz">frameworkintegration-5.83.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3b0fb05034a70903cb3d3d8bbb36cd5285f0a6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kactivities-5.83.0.tar.xz">kactivities-5.83.0</a></td>
   <td align="right">69kB</td>
   <td><tt>048bbe40b37caf358fd6616eb7f202d9a9f30875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kactivities-stats-5.83.0.tar.xz">kactivities-stats-5.83.0</a></td>
   <td align="right">79kB</td>
   <td><tt>46ca0f8da9502e791daf734dc70adbbd2b0c72f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kapidox-5.83.0.tar.xz">kapidox-5.83.0</a></td>
   <td align="right">190kB</td>
   <td><tt>6370b77ed447b561da52f2ec987cf24325473fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/karchive-5.83.0.tar.xz">karchive-5.83.0</a></td>
   <td align="right">961kB</td>
   <td><tt>943f470af55da9f61a2d99be375c33194fe3224d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kauth-5.83.0.tar.xz">kauth-5.83.0</a></td>
   <td align="right">86kB</td>
   <td><tt>aa8167daec8c400b5ef83f86d247dd14f9094ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kbookmarks-5.83.0.tar.xz">kbookmarks-5.83.0</a></td>
   <td align="right">123kB</td>
   <td><tt>4a106169d261aa892d544fb8d47c876a2ef32ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcalendarcore-5.83.0.tar.xz">kcalendarcore-5.83.0</a></td>
   <td align="right">249kB</td>
   <td><tt>15e09d74ab66e62ef786a3b643125a76afafa303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcmutils-5.83.0.tar.xz">kcmutils-5.83.0</a></td>
   <td align="right">157kB</td>
   <td><tt>1ce221cd18d3f6a8a1ebd56761fec881f96904f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcodecs-5.83.0.tar.xz">kcodecs-5.83.0</a></td>
   <td align="right">225kB</td>
   <td><tt>ccdd22d97eaa097ba48782d479563b364cfdc9e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcompletion-5.83.0.tar.xz">kcompletion-5.83.0</a></td>
   <td align="right">119kB</td>
   <td><tt>cc5d050bef420415a9d5619dacd4b078417f643e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kconfig-5.83.0.tar.xz">kconfig-5.83.0</a></td>
   <td align="right">263kB</td>
   <td><tt>449c500b6a8450a1a26e68a8dc6efbbf5777e63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kconfigwidgets-5.83.0.tar.xz">kconfigwidgets-5.83.0</a></td>
   <td align="right">398kB</td>
   <td><tt>a9a9feb9d0918300cc9d99b3914fe10ebb034038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcontacts-5.83.0.tar.xz">kcontacts-5.83.0</a></td>
   <td align="right">530kB</td>
   <td><tt>070094cd4dffb18612211b9ab1aaa0d4c058af61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcoreaddons-5.83.0.tar.xz">kcoreaddons-5.83.0</a></td>
   <td align="right">405kB</td>
   <td><tt>358d010f88f3fd665be247f8db9c18040efcf554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kcrash-5.83.0.tar.xz">kcrash-5.83.0</a></td>
   <td align="right">26kB</td>
   <td><tt>28675119da64eb666a60df53b56c07b1c429c6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdav-5.83.0.tar.xz">kdav-5.83.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0917a2ef88da23276452464ceddf534858799ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdbusaddons-5.83.0.tar.xz">kdbusaddons-5.83.0</a></td>
   <td align="right">41kB</td>
   <td><tt>75cd9310903444bea0088c11c69a817506d9cfb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdeclarative-5.83.0.tar.xz">kdeclarative-5.83.0</a></td>
   <td align="right">182kB</td>
   <td><tt>7e507e861dde209dc48cd2b4dd0ed5a4fa9e40b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kded-5.83.0.tar.xz">kded-5.83.0</a></td>
   <td align="right">36kB</td>
   <td><tt>d79fea7b2b5481e41cc063a89693a73874f476d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdesu-5.83.0.tar.xz">kdesu-5.83.0</a></td>
   <td align="right">51kB</td>
   <td><tt>ca9dca4c5587c411abbe590c454ce34685fbcef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdnssd-5.83.0.tar.xz">kdnssd-5.83.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a4882e1795e9d8f97fa2d9babcf166e677717de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kdoctools-5.83.0.tar.xz">kdoctools-5.83.0</a></td>
   <td align="right">426kB</td>
   <td><tt>0e859273dd8df15c2d9c3fb916d92d3c276c7904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kemoticons-5.83.0.tar.xz">kemoticons-5.83.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b0c4e65cdb86177479a67b2ca53892591d385c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kfilemetadata-5.83.0.tar.xz">kfilemetadata-5.83.0</a></td>
   <td align="right">415kB</td>
   <td><tt>b3570260fb6fc5869041eecc1f81e72d16ffc8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kglobalaccel-5.83.0.tar.xz">kglobalaccel-5.83.0</a></td>
   <td align="right">85kB</td>
   <td><tt>337ee930ed4928fe3310566f3146ceeacb60191a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kguiaddons-5.83.0.tar.xz">kguiaddons-5.83.0</a></td>
   <td align="right">57kB</td>
   <td><tt>74c2ea6773f768ddd4eb8287f5a4688d26cd6956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kholidays-5.83.0.tar.xz">kholidays-5.83.0</a></td>
   <td align="right">221kB</td>
   <td><tt>84edf461e083102d336c82309fe9add79417911e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/ki18n-5.83.0.tar.xz">ki18n-5.83.0</a></td>
   <td align="right">576kB</td>
   <td><tt>f2004e1251bfdbaf92ca7a78ed9f460330979dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kiconthemes-5.83.0.tar.xz">kiconthemes-5.83.0</a></td>
   <td align="right">217kB</td>
   <td><tt>f907ae353390ee859ad893fc7bc11cea7ab4efa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kidletime-5.83.0.tar.xz">kidletime-5.83.0</a></td>
   <td align="right">25kB</td>
   <td><tt>e8ea7626dc9a51158e069c13a6d7d0c501c0c65d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kimageformats-5.83.0.tar.xz">kimageformats-5.83.0</a></td>
   <td align="right">576kB</td>
   <td><tt>4bac94f88d72619a8d59fb3c17ca1735bb201b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kinit-5.83.0.tar.xz">kinit-5.83.0</a></td>
   <td align="right">118kB</td>
   <td><tt>364df44ca31f4eaa87274125903689cd4977b43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kio-5.83.0.tar.xz">kio-5.83.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>71a8c4c904e37d3a0fbedf5d4e4c6a212e26789f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kirigami2-5.83.0.tar.xz">kirigami2-5.83.0</a></td>
   <td align="right">311kB</td>
   <td><tt>264561efdd740b4069fb1711a375f5071454a1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kitemmodels-5.83.0.tar.xz">kitemmodels-5.83.0</a></td>
   <td align="right">393kB</td>
   <td><tt>44450810df3c5632aae0374629271bf266a7f748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kitemviews-5.83.0.tar.xz">kitemviews-5.83.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1811d8d6ea88e6d72b756f5acec6b8b2aa07222d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kjobwidgets-5.83.0.tar.xz">kjobwidgets-5.83.0</a></td>
   <td align="right">93kB</td>
   <td><tt>20e32d52128086fd510aa1a574e74db83b969c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/knewstuff-5.83.0.tar.xz">knewstuff-5.83.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>dedfa20664e20bbac8a7ebffc617c3a6844a5e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/knotifications-5.83.0.tar.xz">knotifications-5.83.0</a></td>
   <td align="right">120kB</td>
   <td><tt>a25f12d4339eb080ccf8d4d167948bef0d42a137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/knotifyconfig-5.83.0.tar.xz">knotifyconfig-5.83.0</a></td>
   <td align="right">82kB</td>
   <td><tt>f0f0bbff19825cbbe992dc2aa68cc85b905a2616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kpackage-5.83.0.tar.xz">kpackage-5.83.0</a></td>
   <td align="right">134kB</td>
   <td><tt>a80a08561ca28b5aa77119ea9ead0c3e010b3143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kparts-5.83.0.tar.xz">kparts-5.83.0</a></td>
   <td align="right">187kB</td>
   <td><tt>e10b86133167bb9e20e7fa9675b330992106c110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kpeople-5.83.0.tar.xz">kpeople-5.83.0</a></td>
   <td align="right">60kB</td>
   <td><tt>fddf18ef0bfa768d687a1c21f38edcd3797fb501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kplotting-5.83.0.tar.xz">kplotting-5.83.0</a></td>
   <td align="right">30kB</td>
   <td><tt>93662da98c926d0ca2b4890fac0044462cd5c903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kpty-5.83.0.tar.xz">kpty-5.83.0</a></td>
   <td align="right">54kB</td>
   <td><tt>ed5418250c2b2f9f59fb2b6738975a3c5a959953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kquickcharts-5.83.0.tar.xz">kquickcharts-5.83.0</a></td>
   <td align="right">103kB</td>
   <td><tt>ddc99dca047b4e28f0d6057eca320ab54a688af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/krunner-5.83.0.tar.xz">krunner-5.83.0</a></td>
   <td align="right">74kB</td>
   <td><tt>24047d7a0cceac18be7159357b37c7619fac173e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kservice-5.83.0.tar.xz">kservice-5.83.0</a></td>
   <td align="right">256kB</td>
   <td><tt>daba175576952bc00ba356c1df097e746b118096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/ktexteditor-5.83.0.tar.xz">ktexteditor-5.83.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7391644305dafe12099096b5086a4f457468c45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/ktextwidgets-5.83.0.tar.xz">ktextwidgets-5.83.0</a></td>
   <td align="right">318kB</td>
   <td><tt>98bdd54d7c93181d87106c04e05770769b645b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kunitconversion-5.83.0.tar.xz">kunitconversion-5.83.0</a></td>
   <td align="right">849kB</td>
   <td><tt>7d30c309e6cc136b9eed1efea7613f401a23b85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kwallet-5.83.0.tar.xz">kwallet-5.83.0</a></td>
   <td align="right">293kB</td>
   <td><tt>fe062e1ef89fa827d153de129948c2a6d75c7b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kwayland-5.83.0.tar.xz">kwayland-5.83.0</a></td>
   <td align="right">323kB</td>
   <td><tt>f3ea7b680e8a433a491bf6046ab40e626a3ca62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kwidgetsaddons-5.83.0.tar.xz">kwidgetsaddons-5.83.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a6f3902bd089242341767623ccc157c7f4afeace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kwindowsystem-5.83.0.tar.xz">kwindowsystem-5.83.0</a></td>
   <td align="right">174kB</td>
   <td><tt>f784de9837d2c683869840dd0ae1657e5441dc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/kxmlgui-5.83.0.tar.xz">kxmlgui-5.83.0</a></td>
   <td align="right">839kB</td>
   <td><tt>4df399a04e49d74e9f15093db744e523b9871f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/modemmanager-qt-5.83.0.tar.xz">modemmanager-qt-5.83.0</a></td>
   <td align="right">109kB</td>
   <td><tt>98ad6e87511e21c96f72985bcc4b8ffe9f5eb304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/networkmanager-qt-5.83.0.tar.xz">networkmanager-qt-5.83.0</a></td>
   <td align="right">191kB</td>
   <td><tt>9a3cfbe7efaa7e5423a4a7c757b57214534a957d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/oxygen-icons5-5.83.0.tar.xz">oxygen-icons5-5.83.0</a></td>
   <td align="right">225MB</td>
   <td><tt>a09d61d2e5437eb41368aaa62ef39643cfcc5678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/plasma-framework-5.83.0.tar.xz">plasma-framework-5.83.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b08a78519a9555b026c9bae73cba22d06746171b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/prison-5.83.0.tar.xz">prison-5.83.0</a></td>
   <td align="right">40kB</td>
   <td><tt>ad15adfd42b23399d7cac0dfa0cc40cb771afac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/purpose-5.83.0.tar.xz">purpose-5.83.0</a></td>
   <td align="right">156kB</td>
   <td><tt>0a676fc8a48737efb0a81cc9d68e32698077a52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/qqc2-desktop-style-5.83.0.tar.xz">qqc2-desktop-style-5.83.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d5f2cda7941897dfb9c572540f953f6c1fe64974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/solid-5.83.0.tar.xz">solid-5.83.0</a></td>
   <td align="right">267kB</td>
   <td><tt>7e7d2e8c8009713053a7e16dbb17557afce5098a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/sonnet-5.83.0.tar.xz">sonnet-5.83.0</a></td>
   <td align="right">288kB</td>
   <td><tt>35bab8572637c26ff9373b431baff8acbc76cf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/syndication-5.83.0.tar.xz">syndication-5.83.0</a></td>
   <td align="right">496kB</td>
   <td><tt>8f1b251f6f4363ce7800bd617664e261290b9dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/syntax-highlighting-5.83.0.tar.xz">syntax-highlighting-5.83.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>592e7d24b9906810009f5cb2b1bea8efe3f4c020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.83/threadweaver-5.83.0.tar.xz">threadweaver-5.83.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9528e7ead4a3c0575c4095e7a0c4e522a355f53d</tt></td>
</tr>

</table>
