<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/amor-4.10.97.tar.xz">amor-4.10.97</a></td>
   <td align="right">171kB</td>
   <td><tt>17bc70608b40beaad0b7b8c85837a5f57dfd51a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/analitza-4.10.97.tar.xz">analitza-4.10.97</a></td>
   <td align="right">176kB</td>
   <td><tt>83a7013c538cb947a97f01a0faed7876eead6d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ark-4.10.97.tar.xz">ark-4.10.97</a></td>
   <td align="right">224kB</td>
   <td><tt>53005272340c3486a5024a6e1b185be501d328c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/audiocd-kio-4.10.97.tar.xz">audiocd-kio-4.10.97</a></td>
   <td align="right">50kB</td>
   <td><tt>9510e187aaa5c53925d22da02e63e4b95f04913c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/blinken-4.10.97.tar.xz">blinken-4.10.97</a></td>
   <td align="right">547kB</td>
   <td><tt>8fa1a171236c3428cdfca3e897504f07e28539a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/bomber-4.10.97.tar.xz">bomber-4.10.97</a></td>
   <td align="right">378kB</td>
   <td><tt>165764469c266b800abdc7c40537b0bbc099d055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/bovo-4.10.97.tar.xz">bovo-4.10.97</a></td>
   <td align="right">99kB</td>
   <td><tt>73b0f2753380a539c73016cd5f631820fc5019bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/cantor-4.10.97.tar.xz">cantor-4.10.97</a></td>
   <td align="right">295kB</td>
   <td><tt>0db5c4639ba18488c2d5fd0ac7eba6c75891bc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/cervisia-4.10.97.tar.xz">cervisia-4.10.97</a></td>
   <td align="right">361kB</td>
   <td><tt>fdda32d514a73b600a1963ffedc94307245e4991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/dolphin-plugins-4.10.97.tar.xz">dolphin-plugins-4.10.97</a></td>
   <td align="right">54kB</td>
   <td><tt>e0d2af97a2cc2d7871a02ad962ca9d36d3f2985a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/dragon-4.10.97.tar.xz">dragon-4.10.97</a></td>
   <td align="right">381kB</td>
   <td><tt>b40eef5d2b98bfc105504828311f410d45c3a651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ffmpegthumbs-4.10.97.tar.xz">ffmpegthumbs-4.10.97</a></td>
   <td align="right">19kB</td>
   <td><tt>6fc9548931d555c2a61d69facab5dde8fc3de331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/filelight-4.10.97.tar.xz">filelight-4.10.97</a></td>
   <td align="right">280kB</td>
   <td><tt>b8d28793e47285f2a55900fea3097d756cf4070f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/granatier-4.10.97.tar.xz">granatier-4.10.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5fc915995d849771295925283a7c017e19dd562d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/gwenview-4.10.97.tar.xz">gwenview-4.10.97</a></td>
   <td align="right">2.7MB</td>
   <td><tt>776dcf758d894894db2462fa2234d69fed84b8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/jovie-4.10.97.tar.xz">jovie-4.10.97</a></td>
   <td align="right">369kB</td>
   <td><tt>43a26c91cd8301c1f762783abee3a5cec9dc3bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/juk-4.10.97.tar.xz">juk-4.10.97</a></td>
   <td align="right">418kB</td>
   <td><tt>cddd75ac3fcb6b59398ad98da266e06a10eb0473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kaccessible-4.10.97.tar.xz">kaccessible-4.10.97</a></td>
   <td align="right">19kB</td>
   <td><tt>4491be1a382b004a5c2abb88468c8a77de2d6b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kactivities-4.10.97.tar.xz">kactivities-4.10.97</a></td>
   <td align="right">84kB</td>
   <td><tt>9d11e2ebe9d637f3f394815f2a0554177670f8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kajongg-4.10.97.tar.xz">kajongg-4.10.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c32fd13c8aeff3bd8f066d0a6b5c2413890e9078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kalgebra-4.10.97.tar.xz">kalgebra-4.10.97</a></td>
   <td align="right">269kB</td>
   <td><tt>f5239b4522c08fb39095996511f33b9decafccac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kalzium-4.10.97.tar.xz">kalzium-4.10.97</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ecb91d67025b80916a7beee654ec736a0d488d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kamera-4.10.97.tar.xz">kamera-4.10.97</a></td>
   <td align="right">34kB</td>
   <td><tt>8cf947f76fae14ca4b5f6f7803cde9e21c477045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kanagram-4.10.97.tar.xz">kanagram-4.10.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cffb8c5831cee588f5cac34467b577e601bf2e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kapman-4.10.97.tar.xz">kapman-4.10.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>33f5764d651349ffa3b02e7aa0ed0a53ffa72412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kapptemplate-4.10.97.tar.xz">kapptemplate-4.10.97</a></td>
   <td align="right">681kB</td>
   <td><tt>0a66b301eabf8857baf2ef414d7b2cfe575778da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kate-4.10.97.tar.xz">kate-4.10.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>17335cd79f7f7f7613111490eb2a44dc5cda45bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/katomic-4.10.97.tar.xz">katomic-4.10.97</a></td>
   <td align="right">642kB</td>
   <td><tt>186f10a8bfae584272af014b08ddbea8064abcea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kblackbox-4.10.97.tar.xz">kblackbox-4.10.97</a></td>
   <td align="right">251kB</td>
   <td><tt>983ebd41dc8a6e626b1240e7b323f963c30e19db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kblocks-4.10.97.tar.xz">kblocks-4.10.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bec7512915165953780e6490a5104a856f8f7089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kbounce-4.10.97.tar.xz">kbounce-4.10.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b747da576cbd768f33e171240f541aea8aeb91fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kbreakout-4.10.97.tar.xz">kbreakout-4.10.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d1fdddccf8d313227a1864533b8764e6797fd044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kbruch-4.10.97.tar.xz">kbruch-4.10.97</a></td>
   <td align="right">877kB</td>
   <td><tt>4b2d504b5dec344fce00123a58ea96dde6a06b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kcachegrind-4.10.97.tar.xz">kcachegrind-4.10.97</a></td>
   <td align="right">229kB</td>
   <td><tt>fe4ad8e2f5c5b9c1c8447348b87bf1a3ca53e123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kcalc-4.10.97.tar.xz">kcalc-4.10.97</a></td>
   <td align="right">78kB</td>
   <td><tt>6802081d771b2364fce2c6ae7e4a5783602eecd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kcharselect-4.10.97.tar.xz">kcharselect-4.10.97</a></td>
   <td align="right">82kB</td>
   <td><tt>e18fbd6c2409560b71572cd03488bea4064f473b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kcolorchooser-4.10.97.tar.xz">kcolorchooser-4.10.97</a></td>
   <td align="right">4kB</td>
   <td><tt>1e7d81f2d48402142d589c8cc9d767bd3378857d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kcron-4.10.97.tar.xz">kcron-4.10.97</a></td>
   <td align="right">170kB</td>
   <td><tt>7c4a4f42b7fcb4a2c7e2faf2e6a20b5d4cadd372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdeartwork-4.10.97.tar.xz">kdeartwork-4.10.97</a></td>
   <td align="right">136MB</td>
   <td><tt>3d30a777e218f2763a92273fbf18fe7320165880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-baseapps-4.10.97.tar.xz">kde-baseapps-4.10.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>31a13ca19d0541c4e4994e039454fd049c84cf7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-base-artwork-4.10.97.tar.xz">kde-base-artwork-4.10.97</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a6dd2ac8ac8126e68809392629f5561deb5e210b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-dev-scripts-4.10.97.tar.xz">kde-dev-scripts-4.10.97</a></td>
   <td align="right">249kB</td>
   <td><tt>42eb28573af0acbad0638e116fa688f4f37fface</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-dev-utils-4.10.97.tar.xz">kde-dev-utils-4.10.97</a></td>
   <td align="right">50kB</td>
   <td><tt>7d37ca0f151c225bc196423f1715594f6249a167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdegraphics-mobipocket-4.10.97.tar.xz">kdegraphics-mobipocket-4.10.97</a></td>
   <td align="right">19kB</td>
   <td><tt>f236c64b7eec4e319ef19fd91e69ee894a91ecbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdegraphics-strigi-analyzer-4.10.97.tar.xz">kdegraphics-strigi-analyzer-4.10.97</a></td>
   <td align="right">39kB</td>
   <td><tt>5af33f7872f4f87d8d76294d273ab03fff19f0c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdegraphics-thumbnailers-4.10.97.tar.xz">kdegraphics-thumbnailers-4.10.97</a></td>
   <td align="right">40kB</td>
   <td><tt>645974a4634c9b6e295b4dd1d313a1f3055dcb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdelibs-4.10.97.tar.xz">kdelibs-4.10.97</a></td>
   <td align="right">11MB</td>
   <td><tt>7e178f04c4b277e05c08231fb84fd7e198f8841b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdenetwork-filesharing-4.10.97.tar.xz">kdenetwork-filesharing-4.10.97</a></td>
   <td align="right">26kB</td>
   <td><tt>51ec3d3a7a3b919f6a92e7588017f3137d9dd507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdenetwork-strigi-analyzers-4.10.97.tar.xz">kdenetwork-strigi-analyzers-4.10.97</a></td>
   <td align="right">14kB</td>
   <td><tt>66ca918756f8851f104f94b08e958a62f6f2b7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdepim-4.10.97.tar.xz">kdepim-4.10.97</a></td>
   <td align="right">12MB</td>
   <td><tt>88bdf638db20d46d13d3286612ef4ffacbc92d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdepimlibs-4.10.97.tar.xz">kdepimlibs-4.10.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5f0ab98f1c2f2bf45ea5b7f28f9874e6d58597c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdepim-runtime-4.10.97.tar.xz">kdepim-runtime-4.10.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bc34eb2b95450707159757522ebfa6d2e814f0b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdeplasma-addons-4.10.97.tar.xz">kdeplasma-addons-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2e23c7f380c0654fda1d995f444c04bf399cbf0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-runtime-4.10.97.tar.xz">kde-runtime-4.10.97</a></td>
   <td align="right">7.5MB</td>
   <td><tt>e9978a730bd2f6fb809632b8293cee01f3d95156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdesdk-kioslaves-4.10.97.tar.xz">kdesdk-kioslaves-4.10.97</a></td>
   <td align="right">352kB</td>
   <td><tt>d2310e3c85c61dd2f5c5d4b44ba300c5dd3f8722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdesdk-strigi-analyzers-4.10.97.tar.xz">kdesdk-strigi-analyzers-4.10.97</a></td>
   <td align="right">17kB</td>
   <td><tt>a05d732bd36efcd90e9d9c9e0cc544f40eff4fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdesdk-thumbnailers-4.10.97.tar.xz">kdesdk-thumbnailers-4.10.97</a></td>
   <td align="right">11kB</td>
   <td><tt>2c7089496b713d83f75095009bb4ac1397ab6fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-wallpapers-4.10.97.tar.xz">kde-wallpapers-4.10.97</a></td>
   <td align="right">86MB</td>
   <td><tt>beab63a0ab64a7b341842bf0ab7959a3aeefb8ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdewebdev-4.10.97.tar.xz">kdewebdev-4.10.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>05188f2cf93744f797b1ad8cc4ccd15c39a1951c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-workspace-4.10.97.tar.xz">kde-workspace-4.10.97</a></td>
   <td align="right">13MB</td>
   <td><tt>1904feb2e8b1828719c601e31a94dea8e05760a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdf-4.10.97.tar.xz">kdf-4.10.97</a></td>
   <td align="right">145kB</td>
   <td><tt>8f76f9cff8d22b618a78834d8f83cc8b5a81ccd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdiamond-4.10.97.tar.xz">kdiamond-4.10.97</a></td>
   <td align="right">3.9MB</td>
   <td><tt>03ecf682528a9e54898e3e51757c8a9a41d571ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kdnssd-4.10.97.tar.xz">kdnssd-4.10.97</a></td>
   <td align="right">25kB</td>
   <td><tt>1df5b08fb2f0f1ad2f1c133e1f15e40ae94aa25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kfloppy-4.10.97.tar.xz">kfloppy-4.10.97</a></td>
   <td align="right">51kB</td>
   <td><tt>e4e45ddd02c049c086e3006f987e7b2142cc17a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kfourinline-4.10.97.tar.xz">kfourinline-4.10.97</a></td>
   <td align="right">273kB</td>
   <td><tt>b7f876e2355d83cec3c1fccd310672021d6206b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kgamma-4.10.97.tar.xz">kgamma-4.10.97</a></td>
   <td align="right">22kB</td>
   <td><tt>d756609e217b119885c3b9f02ae395860c93194c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kgeography-4.10.97.tar.xz">kgeography-4.10.97</a></td>
   <td align="right">6.4MB</td>
   <td><tt>87002c2ff3fbaade7919017e67643cacad9444ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kget-4.10.97.tar.xz">kget-4.10.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>abfbd7dbdaf41199d956721b386ca54e17773ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kgoldrunner-4.10.97.tar.xz">kgoldrunner-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>49e5ddb9a6f839d0b33df1eb891dd01d2e44a6ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kgpg-4.10.97.tar.xz">kgpg-4.10.97</a></td>
   <td align="right">782kB</td>
   <td><tt>4c0a7190efce28b005f0f8eaf7c64b545d4bf42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/khangman-4.10.97.tar.xz">khangman-4.10.97</a></td>
   <td align="right">3.7MB</td>
   <td><tt>77c8128478bf0f5c891b4736b6acdd42a523b793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kig-4.10.97.tar.xz">kig-4.10.97</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f4597600fd869579ca0b56e5e84d0581dcbb86a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kigo-4.10.97.tar.xz">kigo-4.10.97</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1df836c3a1caa3a0949a386a3f063c86a58af39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/killbots-4.10.97.tar.xz">killbots-4.10.97</a></td>
   <td align="right">938kB</td>
   <td><tt>1bd8c8b895b87dba2b630f25d59b2df563027dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kimono-4.10.97.tar.xz">kimono-4.10.97</a></td>
   <td align="right">916kB</td>
   <td><tt>67442bb907a80ae03a0f0e53d5e7b6b8cbdb3327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kiriki-4.10.97.tar.xz">kiriki-4.10.97</a></td>
   <td align="right">115kB</td>
   <td><tt>f81f5293caaec71a208205b6f1a92120c0af3af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kiten-4.10.97.tar.xz">kiten-4.10.97</a></td>
   <td align="right">11MB</td>
   <td><tt>564b49103a8f7adbd1cdf170ba5b17119abd519f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kjumpingcube-4.10.97.tar.xz">kjumpingcube-4.10.97</a></td>
   <td align="right">160kB</td>
   <td><tt>1a1b49afb4a6d3668a6cb370684924d669058467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/klettres-4.10.97.tar.xz">klettres-4.10.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a2332ccb7cd6a8441f11475c97384f8f9a8f68dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/klickety-4.10.97.tar.xz">klickety-4.10.97</a></td>
   <td align="right">765kB</td>
   <td><tt>f69ababc2d70718fc581c23b3e527b80c4f87df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/klines-4.10.97.tar.xz">klines-4.10.97</a></td>
   <td align="right">927kB</td>
   <td><tt>95aab3c0745e1b40125f2571576750dac7e75da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmag-4.10.97.tar.xz">kmag-4.10.97</a></td>
   <td align="right">84kB</td>
   <td><tt>5556b92a9d76bf0faa9dc7960d18c5e3b08b8aca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmahjongg-4.10.97.tar.xz">kmahjongg-4.10.97</a></td>
   <td align="right">981kB</td>
   <td><tt>45a369bed1ebd8b340114d8f3086ffb0d722bbdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmines-4.10.97.tar.xz">kmines-4.10.97</a></td>
   <td align="right">614kB</td>
   <td><tt>5f9b04b835a3bf7cde8d82c9ab41a415f97ae98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmix-4.10.97.tar.xz">kmix-4.10.97</a></td>
   <td align="right">372kB</td>
   <td><tt>b8e77578d387c47924927a2766e629d301eeb1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmousetool-4.10.97.tar.xz">kmousetool-4.10.97</a></td>
   <td align="right">35kB</td>
   <td><tt>b04ca62272c866e2142906aae00d94590dc8211e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmouth-4.10.97.tar.xz">kmouth-4.10.97</a></td>
   <td align="right">301kB</td>
   <td><tt>1ae2cead42c9be976dfe98801ea4cae67c444711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kmplot-4.10.97.tar.xz">kmplot-4.10.97</a></td>
   <td align="right">645kB</td>
   <td><tt>30b0169909babd4951434226cf1dd705d2d40289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/knavalbattle-4.10.97.tar.xz">knavalbattle-4.10.97</a></td>
   <td align="right">829kB</td>
   <td><tt>105f547c88f6d70f6ce751bbe2a672b42af146ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/knetwalk-4.10.97.tar.xz">knetwalk-4.10.97</a></td>
   <td align="right">764kB</td>
   <td><tt>c78f96660586dbc169a040f30165da4eb6eb422b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kolf-4.10.97.tar.xz">kolf-4.10.97</a></td>
   <td align="right">749kB</td>
   <td><tt>0e5e90f84a33d70af1277f9d110513b00254d24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kollision-4.10.97.tar.xz">kollision-4.10.97</a></td>
   <td align="right">202kB</td>
   <td><tt>1b314b8c3a114a44f7beb6d7e1b9fd7a46886e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kolourpaint-4.10.97.tar.xz">kolourpaint-4.10.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>59fd7d2275872529b907e6a183a098e1973c3878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kompare-4.10.97.tar.xz">kompare-4.10.97</a></td>
   <td align="right">366kB</td>
   <td><tt>e4d26bd7a389a713a2d6c118a2bf0660a983a843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/konquest-4.10.97.tar.xz">konquest-4.10.97</a></td>
   <td align="right">399kB</td>
   <td><tt>0a724330bd7417e42e0b71407f6229749ccd57a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/konsole-4.10.97.tar.xz">konsole-4.10.97</a></td>
   <td align="right">438kB</td>
   <td><tt>4a0da7ad2f7a7eccc329c685cffb2617d815e19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kopete-4.10.97.tar.xz">kopete-4.10.97</a></td>
   <td align="right">6.1MB</td>
   <td><tt>7b71e91479b250ff935bb1e9338211dc7d78d425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/korundum-4.10.97.tar.xz">korundum-4.10.97</a></td>
   <td align="right">156kB</td>
   <td><tt>b2a016df719b304f80e3732934a215ae065e0da0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kpat-4.10.97.tar.xz">kpat-4.10.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b30ff13527eb4a79e710c203572f5c5669c8d97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kppp-4.10.97.tar.xz">kppp-4.10.97</a></td>
   <td align="right">684kB</td>
   <td><tt>d7df3fd70af6e2a04bfacaaf67c89bfc770b91af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/krdc-4.10.97.tar.xz">krdc-4.10.97</a></td>
   <td align="right">385kB</td>
   <td><tt>1cc115f29ee39c704ce5518e473a7a8c64fa9be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kremotecontrol-4.10.97.tar.xz">kremotecontrol-4.10.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>09cd1dbde6f00432efb66d54ad0879e0e07eab93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kreversi-4.10.97.tar.xz">kreversi-4.10.97</a></td>
   <td align="right">355kB</td>
   <td><tt>1f872976357778a06e2c1e833cc24c8ff113129f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/krfb-4.10.97.tar.xz">krfb-4.10.97</a></td>
   <td align="right">457kB</td>
   <td><tt>388764a6a86d11df6fe067c53785a9d626f7c22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kross-interpreters-4.10.97.tar.xz">kross-interpreters-4.10.97</a></td>
   <td align="right">127kB</td>
   <td><tt>e3cec11f62758fbdb5c5bdf7cb92ba1e09ee94bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kruler-4.10.97.tar.xz">kruler-4.10.97</a></td>
   <td align="right">125kB</td>
   <td><tt>aad1d8c98968a1535312fdb29efa6c4aa61cd812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksaneplugin-4.10.97.tar.xz">ksaneplugin-4.10.97</a></td>
   <td align="right">12kB</td>
   <td><tt>61d2eeb780934e77f2bb945e2ca33e3826e7fa34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kscd-4.10.97.tar.xz">kscd-4.10.97</a></td>
   <td align="right">90kB</td>
   <td><tt>8bad7bae25f9e6a34eec10fe04309275319b2a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kshisen-4.10.97.tar.xz">kshisen-4.10.97</a></td>
   <td align="right">133kB</td>
   <td><tt>19f934210542c2acd58d7215608ed9cc35711f36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksirk-4.10.97.tar.xz">ksirk-4.10.97</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1ceae447f90b59908205cf2adcb8ae5cf767f611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksnakeduel-4.10.97.tar.xz">ksnakeduel-4.10.97</a></td>
   <td align="right">312kB</td>
   <td><tt>1d98b4f13197395d7f601d2473f938573b076a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksnapshot-4.10.97.tar.xz">ksnapshot-4.10.97</a></td>
   <td align="right">251kB</td>
   <td><tt>e3a331f5d55b7d90b7637e01d498cd1d7d4f529f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kspaceduel-4.10.97.tar.xz">kspaceduel-4.10.97</a></td>
   <td align="right">247kB</td>
   <td><tt>e338b0715cbcae023181e67734ceda4f321756f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksquares-4.10.97.tar.xz">ksquares-4.10.97</a></td>
   <td align="right">75kB</td>
   <td><tt>f5a1624c1314efcdd635b9223f016ea7284fdaa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kstars-4.10.97.tar.xz">kstars-4.10.97</a></td>
   <td align="right">11MB</td>
   <td><tt>f6c511c0003b7a39914a31ec195324644b8525b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksudoku-4.10.97.tar.xz">ksudoku-4.10.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b5114cd8252470ff4207673cba068088c0b6f774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ksystemlog-4.10.97.tar.xz">ksystemlog-4.10.97</a></td>
   <td align="right">373kB</td>
   <td><tt>8abe09fac32244a4ac9882d9c1c84d02ed5fc86d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kteatime-4.10.97.tar.xz">kteatime-4.10.97</a></td>
   <td align="right">98kB</td>
   <td><tt>1ac8eabd4898015be9f488a2c87f7cec459d0dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ktimer-4.10.97.tar.xz">ktimer-4.10.97</a></td>
   <td align="right">143kB</td>
   <td><tt>4af6951c8baf79bc8e9962d8f753f0beff6b59d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ktouch-4.10.97.tar.xz">ktouch-4.10.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7a0e3d2257692586a95be540f5dd30f6aa8d2c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ktuberling-4.10.97.tar.xz">ktuberling-4.10.97</a></td>
   <td align="right">4.0MB</td>
   <td><tt>c5f05d07663aa90a31770fbcdfd4b9820524fdb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kturtle-4.10.97.tar.xz">kturtle-4.10.97</a></td>
   <td align="right">184kB</td>
   <td><tt>91473c4d0e388b6ceae121d487cc80198e8e663b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/ktux-4.10.97.tar.xz">ktux-4.10.97</a></td>
   <td align="right">106kB</td>
   <td><tt>24de77825144e8aeef49f41e203548ab33e8e45d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kubrick-4.10.97.tar.xz">kubrick-4.10.97</a></td>
   <td align="right">104kB</td>
   <td><tt>12a5142b27899f7fe596328614c87a283a5a4ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kuser-4.10.97.tar.xz">kuser-4.10.97</a></td>
   <td align="right">132kB</td>
   <td><tt>745ea3d16d24c357266d5b1ac01e5715891b9f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kwallet-4.10.97.tar.xz">kwallet-4.10.97</a></td>
   <td align="right">375kB</td>
   <td><tt>a0e03d683cb087ac969af4ec411cb6339d120f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kwordquiz-4.10.97.tar.xz">kwordquiz-4.10.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1c1bca44d19e14a6fbea4c9fdaa851797e92619a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkcddb-4.10.97.tar.xz">libkcddb-4.10.97</a></td>
   <td align="right">154kB</td>
   <td><tt>9b43d87456d93911984c09ac1b4aae579d9dd5ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkcompactdisc-4.10.97.tar.xz">libkcompactdisc-4.10.97</a></td>
   <td align="right">73kB</td>
   <td><tt>3a3410a7f350b214d5686b59b0f21d2784edfc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkdcraw-4.10.97.tar.xz">libkdcraw-4.10.97</a></td>
   <td align="right">341kB</td>
   <td><tt>036af85d253b726e76f9a5b3eda4155fa4e0f2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkdeedu-4.10.97.tar.xz">libkdeedu-4.10.97</a></td>
   <td align="right">204kB</td>
   <td><tt>c57d1cbc861e9fc77cf456e2ab3e6410d25dcc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkdegames-4.10.97.tar.xz">libkdegames-4.10.97</a></td>
   <td align="right">5.5MB</td>
   <td><tt>7a257c57ef6198c192e696b82a3834263baa829c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkexiv2-4.10.97.tar.xz">libkexiv2-4.10.97</a></td>
   <td align="right">132kB</td>
   <td><tt>d2ffefbf36bcfbbacd42b9820c67d1530dc457eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkipi-4.10.97.tar.xz">libkipi-4.10.97</a></td>
   <td align="right">92kB</td>
   <td><tt>63b1a4f80d7a6ab2dd83517804b861cc3826abc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libkmahjongg-4.10.97.tar.xz">libkmahjongg-4.10.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a8219044fc54a8c537d9fed9fa3b1ef17414b61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/libksane-4.10.97.tar.xz">libksane-4.10.97</a></td>
   <td align="right">78kB</td>
   <td><tt>4d83a960f6dbdc11368c5149bee913fae0e29b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/lokalize-4.10.97.tar.xz">lokalize-4.10.97</a></td>
   <td align="right">827kB</td>
   <td><tt>65d0dd1197ee4071616a3325bffd6c5dd85a8b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/lskat-4.10.97.tar.xz">lskat-4.10.97</a></td>
   <td align="right">906kB</td>
   <td><tt>8ba505e6076d26648c47189ede6e9e200a9e72fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/marble-4.10.97.tar.xz">marble-4.10.97</a></td>
   <td align="right">18MB</td>
   <td><tt>cbe6407dc0dddf099082d874748db24ca85d1f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/mplayerthumbs-4.10.97.tar.xz">mplayerthumbs-4.10.97</a></td>
   <td align="right">26kB</td>
   <td><tt>fc71050adabbc2017fd1e2717d4aaf478d4c7706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/nepomuk-core-4.10.97.tar.xz">nepomuk-core-4.10.97</a></td>
   <td align="right">374kB</td>
   <td><tt>b35fc166c07c1372d3ba73513780fc41c2005a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/nepomuk-widgets-4.10.97.tar.xz">nepomuk-widgets-4.10.97</a></td>
   <td align="right">47kB</td>
   <td><tt>9fcf01ee9c2f9ce29c497911f0e54205642750cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/okteta-4.10.97.tar.xz">okteta-4.10.97</a></td>
   <td align="right">486kB</td>
   <td><tt>84c4786ccff1aebd305158abfb014244f4063fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/okular-4.10.97.tar.xz">okular-4.10.97</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d526dc8da7680e340c7f598dd0a0652ccd1b0bed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/oxygen-icons-4.10.97.tar.xz">oxygen-icons-4.10.97</a></td>
   <td align="right">280MB</td>
   <td><tt>2f14e266761f70143c711e4e8785a4d4914c5269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/pairs-4.10.97.tar.xz">pairs-4.10.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3059de41172a41ba595ab5ba6edcbd117fc40ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/palapeli-4.10.97.tar.xz">palapeli-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bd54ee03568901d19adf07da00f580082399f230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/parley-4.10.97.tar.xz">parley-4.10.97</a></td>
   <td align="right">7.5MB</td>
   <td><tt>7d88dec8e801b492d69ef77ea48f5613d663c166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/perlkde-4.10.97.tar.xz">perlkde-4.10.97</a></td>
   <td align="right">39kB</td>
   <td><tt>3c07911474555050a386d49e3372b85bb0e54824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/perlqt-4.10.97.tar.xz">perlqt-4.10.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a92eb45b8f7df49c5f2a57cab8d262763f16abcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/picmi-4.10.97.tar.xz">picmi-4.10.97</a></td>
   <td align="right">711kB</td>
   <td><tt>cd60a7f2916bc7e1fcd8c253d6d1261afcaccfa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/poxml-4.10.97.tar.xz">poxml-4.10.97</a></td>
   <td align="right">30kB</td>
   <td><tt>75f440e9c6eac8bfb6a23ac7ed9202add8f786f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/print-manager-4.10.97.tar.xz">print-manager-4.10.97</a></td>
   <td align="right">90kB</td>
   <td><tt>4e9309bd83c1914e45735b3c00e67ff1450037c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/pykde4-4.10.97.tar.xz">pykde4-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fcfd6b719174975e338f72c9403911ff4b89d4a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/qtruby-4.10.97.tar.xz">qtruby-4.10.97</a></td>
   <td align="right">518kB</td>
   <td><tt>c861e900baa2b4e7d84c4c740e67a99f38f242f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/qyoto-4.10.97.tar.xz">qyoto-4.10.97</a></td>
   <td align="right">498kB</td>
   <td><tt>b0af2631a6692b7063c8bc093134b422207ae8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/rocs-4.10.97.tar.xz">rocs-4.10.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>deb27fda9fc9b6ceca751d92dc364a4ab5b1416d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/smokegen-4.10.97.tar.xz">smokegen-4.10.97</a></td>
   <td align="right">143kB</td>
   <td><tt>0974dfe2aa44e68f179c9996a169facfc4820be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/smokekde-4.10.97.tar.xz">smokekde-4.10.97</a></td>
   <td align="right">36kB</td>
   <td><tt>26060e6f81319a4f853f30e24764a423b51985ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/smokeqt-4.10.97.tar.xz">smokeqt-4.10.97</a></td>
   <td align="right">30kB</td>
   <td><tt>e7abf5b5d95eaf381687f8e064f4dad49963a9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/step-4.10.97.tar.xz">step-4.10.97</a></td>
   <td align="right">354kB</td>
   <td><tt>2ed3725741b603f2c0972c928651612c3b515c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/superkaramba-4.10.97.tar.xz">superkaramba-4.10.97</a></td>
   <td align="right">374kB</td>
   <td><tt>612534c83175352d6adddbb6dd81c0e683ff432f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/svgpart-4.10.97.tar.xz">svgpart-4.10.97</a></td>
   <td align="right">8kB</td>
   <td><tt>721642d365c952d4d44e7c582ce96b56ccf63f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/sweeper-4.10.97.tar.xz">sweeper-4.10.97</a></td>
   <td align="right">80kB</td>
   <td><tt>1560d2f0689927ec3666ef572910b8363676298a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/umbrello-4.10.97.tar.xz">umbrello-4.10.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3630a234a8ce144d91feebdba18b7f906ced5ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ar-4.10.97.tar.xz">kde-l10n-ar-4.10.97</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d9fad0ba373757c82105fee9fd82d1376b69a6cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-bg-4.10.97.tar.xz">kde-l10n-bg-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5c6eeba0fa41eab28ab23abc60a6d2554d8ada0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-bs-4.10.97.tar.xz">kde-l10n-bs-4.10.97</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6457accf86999b3cbdc35c3ae295a6c76cc3b411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ca-4.10.97.tar.xz">kde-l10n-ca-4.10.97</a></td>
   <td align="right">10MB</td>
   <td><tt>4fe03a918b54df1f617e0d084e2c901ab5dc52ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ca@valencia-4.10.97.tar.xz">kde-l10n-ca@valencia-4.10.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>66817b1525c7ab5e714329125c63e4b34afae1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-cs-4.10.97.tar.xz">kde-l10n-cs-4.10.97</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e0f9016ab37ea53c44daf9e61ea3c058cdc623c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-da-4.10.97.tar.xz">kde-l10n-da-4.10.97</a></td>
   <td align="right">12MB</td>
   <td><tt>c2917e5696c4f1110d8f9e02d9491a7a9c7fec15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-de-4.10.97.tar.xz">kde-l10n-de-4.10.97</a></td>
   <td align="right">34MB</td>
   <td><tt>9bafcfb338564b1d66105505ae0412b316c7bfe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-el-4.10.97.tar.xz">kde-l10n-el-4.10.97</a></td>
   <td align="right">4.6MB</td>
   <td><tt>b0e6d6d83b470cef02b7981f0ddbd2ab04d1351a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-en_GB-4.10.97.tar.xz">kde-l10n-en_GB-4.10.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>803492b0fcb8c1dc563319be004c9d61059250f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-es-4.10.97.tar.xz">kde-l10n-es-4.10.97</a></td>
   <td align="right">20MB</td>
   <td><tt>475ad5fc10327fb042509c8c04181b225bf11cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-et-4.10.97.tar.xz">kde-l10n-et-4.10.97</a></td>
   <td align="right">5.2MB</td>
   <td><tt>34a65db0a28357a25eb8af98558f1516838f22ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-eu-4.10.97.tar.xz">kde-l10n-eu-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7daf5c80662a89abecbe85a8a01d1bdd2e127bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-fa-4.10.97.tar.xz">kde-l10n-fa-4.10.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>865975a7bdf1ea994d3bded84216ab081dfda90e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-fi-4.10.97.tar.xz">kde-l10n-fi-4.10.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>85f17e8efe356ba4d99ce6311faadff377e8685e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-fr-4.10.97.tar.xz">kde-l10n-fr-4.10.97</a></td>
   <td align="right">40MB</td>
   <td><tt>ee5e6b495c26cc9cc563794b095800a8484599b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ga-4.10.97.tar.xz">kde-l10n-ga-4.10.97</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d7742d8d387b26bf562b588934dd962dc6f600d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-gl-4.10.97.tar.xz">kde-l10n-gl-4.10.97</a></td>
   <td align="right">3.4MB</td>
   <td><tt>cd3243d714001f418015006b1d4df5b4c5f5bcc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-he-4.10.97.tar.xz">kde-l10n-he-4.10.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c7f756b40dd84f2cac8b619e7b7c55ea286e7331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-hi-4.10.97.tar.xz">kde-l10n-hi-4.10.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ec48461db4503e026cfc2d611be37e7e62275d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-hr-4.10.97.tar.xz">kde-l10n-hr-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>02a3c2205a31d8cf8dfcd830a13b6af1d67e4740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-hu-4.10.97.tar.xz">kde-l10n-hu-4.10.97</a></td>
   <td align="right">4.0MB</td>
   <td><tt>984f3ca95d4161932c997562617046b9e2eb7e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ia-4.10.97.tar.xz">kde-l10n-ia-4.10.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>028ef33c1daad238203abf150a14ee7f7452c1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-is-4.10.97.tar.xz">kde-l10n-is-4.10.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7939bfc9644e0af88ab698eb77d826a73d17987e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-it-4.10.97.tar.xz">kde-l10n-it-4.10.97</a></td>
   <td align="right">8.3MB</td>
   <td><tt>122081db477cae30884944009e703430ebcb8e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ja-4.10.97.tar.xz">kde-l10n-ja-4.10.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>063e07314eb9aa47898b60c57a4c7e301d7e9f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-kk-4.10.97.tar.xz">kde-l10n-kk-4.10.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5992520a147c982854da2c3cd96fbc8c70aa2e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-km-4.10.97.tar.xz">kde-l10n-km-4.10.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e29e327a48d5d3d8f3d12ef5c88eb1fdd7a328a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ko-4.10.97.tar.xz">kde-l10n-ko-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>47aa3627a55beb619f5d4621bf07c4a0ffbc4144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-lt-4.10.97.tar.xz">kde-l10n-lt-4.10.97</a></td>
   <td align="right">12MB</td>
   <td><tt>bf58fa3a5f8177f358e4c577689929584678a492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-lv-4.10.97.tar.xz">kde-l10n-lv-4.10.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>50ce8520a908e62512869bd175d3841bb26608d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-mr-4.10.97.tar.xz">kde-l10n-mr-4.10.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e89dff5b92bc8d3e4531680f1f05732aacd3a5fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-nb-4.10.97.tar.xz">kde-l10n-nb-4.10.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8e1113fb0c74d5d1e1573940a64cd8913e98306b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-nds-4.10.97.tar.xz">kde-l10n-nds-4.10.97</a></td>
   <td align="right">3.0MB</td>
   <td><tt>96a055759e898c07a35e6101d96b5512bc7936f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-nl-4.10.97.tar.xz">kde-l10n-nl-4.10.97</a></td>
   <td align="right">13MB</td>
   <td><tt>4f61fc2a3bdcc28a5f0bfa9c8904fd5fd33e7462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-nn-4.10.97.tar.xz">kde-l10n-nn-4.10.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>38dde5e2d28dc8a3dc7856a98294b538e4d74c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-pa-4.10.97.tar.xz">kde-l10n-pa-4.10.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0139750a630b8f5d5e87746595301dd786659ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-pl-4.10.97.tar.xz">kde-l10n-pl-4.10.97</a></td>
   <td align="right">16MB</td>
   <td><tt>bb9d41093c6e7000c83f6c45aec380b23b3ae508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-pt-4.10.97.tar.xz">kde-l10n-pt-4.10.97</a></td>
   <td align="right">3.5MB</td>
   <td><tt>b377145d284233928f21e90fecf0313bf658fca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-pt_BR-4.10.97.tar.xz">kde-l10n-pt_BR-4.10.97</a></td>
   <td align="right">23MB</td>
   <td><tt>f54ba7c7870749d417af21f798a8315aa8b5f8d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ro-4.10.97.tar.xz">kde-l10n-ro-4.10.97</a></td>
   <td align="right">2.8MB</td>
   <td><tt>223dc76ead424883483dda896e1c9d851b019d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ru-4.10.97.tar.xz">kde-l10n-ru-4.10.97</a></td>
   <td align="right">21MB</td>
   <td><tt>9da659fcb976bd4e425c3659fead8cacc0f74863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-si-4.10.97.tar.xz">kde-l10n-si-4.10.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5d1fff6be7ec509634b53d89a3ee6d0dbf1d2e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-sk-4.10.97.tar.xz">kde-l10n-sk-4.10.97</a></td>
   <td align="right">4.1MB</td>
   <td><tt>38218af1eff7e37d7809d9f9dc51a446d87f8875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-sl-4.10.97.tar.xz">kde-l10n-sl-4.10.97</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e2a54fdad574adffa1f04b017049ebecd86eccfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-sr-4.10.97.tar.xz">kde-l10n-sr-4.10.97</a></td>
   <td align="right">4.4MB</td>
   <td><tt>408528372bd1a344e54bc6b75f941d784cfc7430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-sv-4.10.97.tar.xz">kde-l10n-sv-4.10.97</a></td>
   <td align="right">13MB</td>
   <td><tt>c6337eea6496cce715aa38532841ee47cb986c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-tg-4.10.97.tar.xz">kde-l10n-tg-4.10.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5154546bb4dab2ab2d779d574ec10dedc41338e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-th-4.10.97.tar.xz">kde-l10n-th-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f8b77561e0a8450aecc0cfa078f6ea56f903401b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-tr-4.10.97.tar.xz">kde-l10n-tr-4.10.97</a></td>
   <td align="right">3.8MB</td>
   <td><tt>73ffc2600827e29ceadf89313b193bda90195be6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-ug-4.10.97.tar.xz">kde-l10n-ug-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4ff3a2a3f8561d6b22e0c3d2e7d6ecff0831ce6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-uk-4.10.97.tar.xz">kde-l10n-uk-4.10.97</a></td>
   <td align="right">24MB</td>
   <td><tt>ed3d0f9a265bde2c59fab1fd6a5e90cdc106b15f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-vi-4.10.97.tar.xz">kde-l10n-vi-4.10.97</a></td>
   <td align="right">918kB</td>
   <td><tt>35254a82123b9c4e77a4e55a5bf421418428cb91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-wa-4.10.97.tar.xz">kde-l10n-wa-4.10.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2c65772c375007717c71a0e6fb07c41040d2ace3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-zh_CN-4.10.97.tar.xz">kde-l10n-zh_CN-4.10.97</a></td>
   <td align="right">3.4MB</td>
   <td><tt>fb7109abde4c1060f1e3d97f636eae461d0b823a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.97/src/kde-l10n/kde-l10n-zh_TW-4.10.97.tar.xz">kde-l10n-zh_TW-4.10.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>611a49b6369ccf478d6f1228940410601545147f</tt></td>
</tr>

</table>
