<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/amor-4.12.4.tar.xz">amor-4.12.4</a></td>
   <td align="right">169kB</td>
   <td><tt>7052326c67da7a6a2b8fcc4204a37ad7715f4aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/analitza-4.12.4.tar.xz">analitza-4.12.4</a></td>
   <td align="right">175kB</td>
   <td><tt>9b209c1cdb4fca2098044789f3d2c7bda5e600da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ark-4.12.4.tar.xz">ark-4.12.4</a></td>
   <td align="right">224kB</td>
   <td><tt>4cdf204846d01e319a3d333c47c3258a4e6ceb8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/audiocd-kio-4.12.4.tar.xz">audiocd-kio-4.12.4</a></td>
   <td align="right">50kB</td>
   <td><tt>e723280b11efea77f03723de0c55b927ac606ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/blinken-4.12.4.tar.xz">blinken-4.12.4</a></td>
   <td align="right">546kB</td>
   <td><tt>27e62339891c3e8e9022961f63513380667705c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/bomber-4.12.4.tar.xz">bomber-4.12.4</a></td>
   <td align="right">376kB</td>
   <td><tt>b2b29f3c74262b75e472575980cc6140a3f5ab1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/bovo-4.12.4.tar.xz">bovo-4.12.4</a></td>
   <td align="right">98kB</td>
   <td><tt>e73ffabfacb8ab1d5d9f36d4e7d15009c5cd22d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/cantor-4.12.4.tar.xz">cantor-4.12.4</a></td>
   <td align="right">323kB</td>
   <td><tt>2d6a122537357af1f6e6be659cd182a6c0e622ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/cervisia-4.12.4.tar.xz">cervisia-4.12.4</a></td>
   <td align="right">359kB</td>
   <td><tt>2980e8ad95510ccf06abe257ab470ee64e71d851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/dolphin-plugins-4.12.4.tar.xz">dolphin-plugins-4.12.4</a></td>
   <td align="right">54kB</td>
   <td><tt>42a8e4322ef8d610a02815789eefeb4b31f0a63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/dragon-4.12.4.tar.xz">dragon-4.12.4</a></td>
   <td align="right">381kB</td>
   <td><tt>61056c570784607d734641c8987b1fe27daaf1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ffmpegthumbs-4.12.4.tar.xz">ffmpegthumbs-4.12.4</a></td>
   <td align="right">19kB</td>
   <td><tt>914ced35b0735417ea61e94120df54a55a2d1905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/filelight-4.12.4.tar.xz">filelight-4.12.4</a></td>
   <td align="right">280kB</td>
   <td><tt>791cd5426be9e04c9b52ab9a918593db826d9529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/granatier-4.12.4.tar.xz">granatier-4.12.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d722ae96abb0064cdeacc5d8519cdb1c1443cb14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/gwenview-4.12.4.tar.xz">gwenview-4.12.4</a></td>
   <td align="right">2.7MB</td>
   <td><tt>fb04e7898446cd6c6b5dabf4c8733494ea133944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/jovie-4.12.4.tar.xz">jovie-4.12.4</a></td>
   <td align="right">370kB</td>
   <td><tt>6f422bf0b4fcb4ca74d077222831e86fd57acf02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/juk-4.12.4.tar.xz">juk-4.12.4</a></td>
   <td align="right">419kB</td>
   <td><tt>ddc20d6585d013d81911953622451a26b5b777d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kaccessible-4.12.4.tar.xz">kaccessible-4.12.4</a></td>
   <td align="right">19kB</td>
   <td><tt>4e2b2e4feb745ff88eaebfdcb8b5f23dbf775457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kactivities-4.12.4.tar.xz">kactivities-4.12.4</a></td>
   <td align="right">85kB</td>
   <td><tt>d1f336c716d4eb2fc8d907362b51ff7393ee3237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kajongg-4.12.4.tar.xz">kajongg-4.12.4</a></td>
   <td align="right">2.3MB</td>
   <td><tt>879ac4572d197f3f8ee503a0897f8e63b2e59d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kalgebra-4.12.4.tar.xz">kalgebra-4.12.4</a></td>
   <td align="right">264kB</td>
   <td><tt>3cce0efd16a71bb72de12a02c7071059f74cc9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kalzium-4.12.4.tar.xz">kalzium-4.12.4</a></td>
   <td align="right">3.7MB</td>
   <td><tt>94b1bf12c50312f3dda54c4841a135d41554865d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kamera-4.12.4.tar.xz">kamera-4.12.4</a></td>
   <td align="right">34kB</td>
   <td><tt>1ff9924f34ba3d64eea780f98a959cf49360a1a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kanagram-4.12.4.tar.xz">kanagram-4.12.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>700bc0f8bb69b3c109429760b9a667496fc4deef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kapman-4.12.4.tar.xz">kapman-4.12.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>51fbec4713328a2f19869c03d173e7cd509ceeb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kapptemplate-4.12.4.tar.xz">kapptemplate-4.12.4</a></td>
   <td align="right">682kB</td>
   <td><tt>e2ced39c9036a49df4e37b420ccb442c8d19c843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kate-4.12.4.tar.xz">kate-4.12.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f429a4e8447a2e53118cbc4182ff8a9d47cc00eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/katomic-4.12.4.tar.xz">katomic-4.12.4</a></td>
   <td align="right">642kB</td>
   <td><tt>b725fa4e769fac15c623c11e97c2eb549ee25a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kblackbox-4.12.4.tar.xz">kblackbox-4.12.4</a></td>
   <td align="right">251kB</td>
   <td><tt>ee0988da5c85cbe1c0b71e8760c034cc318399b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kblocks-4.12.4.tar.xz">kblocks-4.12.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>dc51a3abf1126ddfc244e68761d8bf0c59841ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kbounce-4.12.4.tar.xz">kbounce-4.12.4</a></td>
   <td align="right">1.5MB</td>
   <td><tt>10c3b5590dfb7ffd9f2fd57b6eaab678d7754be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kbreakout-4.12.4.tar.xz">kbreakout-4.12.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>45fa0033b6105825f193917ac2daba727483eb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kbruch-4.12.4.tar.xz">kbruch-4.12.4</a></td>
   <td align="right">876kB</td>
   <td><tt>f0fbc11d3984595f2a57586ae7784c287be4ec30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kcachegrind-4.12.4.tar.xz">kcachegrind-4.12.4</a></td>
   <td align="right">229kB</td>
   <td><tt>3d82002c20dcbc26cde2581fa8b86a0e98ffa425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kcalc-4.12.4.tar.xz">kcalc-4.12.4</a></td>
   <td align="right">78kB</td>
   <td><tt>7e760476d205b3848cb423768bf02cbca4f8d68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kcharselect-4.12.4.tar.xz">kcharselect-4.12.4</a></td>
   <td align="right">82kB</td>
   <td><tt>9db392bea1d47a459fd79f20598949a396fa97f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kcolorchooser-4.12.4.tar.xz">kcolorchooser-4.12.4</a></td>
   <td align="right">4kB</td>
   <td><tt>0efe7dab9bbf7d1cbdd39e1baf7369ab3fe026e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kcron-4.12.4.tar.xz">kcron-4.12.4</a></td>
   <td align="right">170kB</td>
   <td><tt>16a83534462847696406e8bf3ca49e1742aaaced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdeartwork-4.12.4.tar.xz">kdeartwork-4.12.4</a></td>
   <td align="right">134MB</td>
   <td><tt>307a74aff0af5f19b9c10b4f035a74547c0f2d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-baseapps-4.12.4.tar.xz">kde-baseapps-4.12.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2c1ae1834f0c4e7123537c56be1ec4daa57628e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-base-artwork-4.12.4.tar.xz">kde-base-artwork-4.12.4</a></td>
   <td align="right">7.0MB</td>
   <td><tt>e2c2b3e956434c3a97cbc2e96e969cb1d2df36fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-dev-scripts-4.12.4.tar.xz">kde-dev-scripts-4.12.4</a></td>
   <td align="right">251kB</td>
   <td><tt>c7e0f4361bff5a558a78f9b84854f8bc9faa6166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-dev-utils-4.12.4.tar.xz">kde-dev-utils-4.12.4</a></td>
   <td align="right">50kB</td>
   <td><tt>41711fc4147570c0868c27e249249d6a53a1b16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdegraphics-mobipocket-4.12.4.tar.xz">kdegraphics-mobipocket-4.12.4</a></td>
   <td align="right">14kB</td>
   <td><tt>703bd02f65392c85626ebe1c237c9e996ca257cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdegraphics-strigi-analyzer-4.12.4.tar.xz">kdegraphics-strigi-analyzer-4.12.4</a></td>
   <td align="right">39kB</td>
   <td><tt>6437ffd46d95bfe8085428d7323f5db700e8e9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdegraphics-thumbnailers-4.12.4.tar.xz">kdegraphics-thumbnailers-4.12.4</a></td>
   <td align="right">40kB</td>
   <td><tt>972934d78f6c53ae53db6ad3f6e442866c94e0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdelibs-4.12.4.tar.xz">kdelibs-4.12.4</a></td>
   <td align="right">11MB</td>
   <td><tt>267510230af1750d9dd2bd77b5d2d94d444c95a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdenetwork-filesharing-4.12.4.tar.xz">kdenetwork-filesharing-4.12.4</a></td>
   <td align="right">26kB</td>
   <td><tt>4160cb606e6f0fedad814225ae426cfe282bfeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdenetwork-strigi-analyzers-4.12.4.tar.xz">kdenetwork-strigi-analyzers-4.12.4</a></td>
   <td align="right">14kB</td>
   <td><tt>8b041cca51da3ebe6d519bd10cd25ff41ec776ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdepim-4.12.4.tar.xz">kdepim-4.12.4</a></td>
   <td align="right">13MB</td>
   <td><tt>4ccccb21d902f0f0c00ea79175dbb2618900971e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdepimlibs-4.12.4.tar.xz">kdepimlibs-4.12.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4d6945b255a17b1eb0107ef4113736c761fc42e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdepim-runtime-4.12.4.tar.xz">kdepim-runtime-4.12.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2abba3a1dc97f68f64230a86feb75dd430f95cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdeplasma-addons-4.12.4.tar.xz">kdeplasma-addons-4.12.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5c1136a65e3be1768c1cd1ebdd92a3f6ad837c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-runtime-4.12.4.tar.xz">kde-runtime-4.12.4</a></td>
   <td align="right">7.4MB</td>
   <td><tt>78e628084dfbbfc8b57c24fb61bda9e35b81a49a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdesdk-kioslaves-4.12.4.tar.xz">kdesdk-kioslaves-4.12.4</a></td>
   <td align="right">352kB</td>
   <td><tt>fa1b4010fabff90b171843dda557d1622a603b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdesdk-strigi-analyzers-4.12.4.tar.xz">kdesdk-strigi-analyzers-4.12.4</a></td>
   <td align="right">17kB</td>
   <td><tt>feb40554b86069edf8a7888219a211c0f667ede3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdesdk-thumbnailers-4.12.4.tar.xz">kdesdk-thumbnailers-4.12.4</a></td>
   <td align="right">11kB</td>
   <td><tt>47416ab0a631963c1f3143829b330254a0160b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-wallpapers-4.12.4.tar.xz">kde-wallpapers-4.12.4</a></td>
   <td align="right">86MB</td>
   <td><tt>b53baa96b00edd93fec42f865b968da0cae52188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdewebdev-4.12.4.tar.xz">kdewebdev-4.12.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8e0970a57b9f6fea4070f4983626201a1a9b1357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-workspace-4.11.8.tar.xz">kde-workspace-4.11.8</a></td>
   <td align="right">12MB</td>
   <td><tt>e44b73ea1e2446258882d10694ca2896e1cc6b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdf-4.12.4.tar.xz">kdf-4.12.4</a></td>
   <td align="right">145kB</td>
   <td><tt>c565523116d6a06e3ec24318b8dc4ce9acd9f677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kdiamond-4.12.4.tar.xz">kdiamond-4.12.4</a></td>
   <td align="right">3.9MB</td>
   <td><tt>174c55cc6589c2b7decb1f1a4f5f44baf04ab56e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kfloppy-4.12.4.tar.xz">kfloppy-4.12.4</a></td>
   <td align="right">51kB</td>
   <td><tt>53db820921ecf311dc5976aa2484b039297c4119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kfourinline-4.12.4.tar.xz">kfourinline-4.12.4</a></td>
   <td align="right">275kB</td>
   <td><tt>786a97a253fa511dc13b187e7bcc616b75b2f166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kgamma-4.12.4.tar.xz">kgamma-4.12.4</a></td>
   <td align="right">22kB</td>
   <td><tt>58277c0bbb3b0126f2ce5264b8a34048626eaeb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kgeography-4.12.4.tar.xz">kgeography-4.12.4</a></td>
   <td align="right">6.4MB</td>
   <td><tt>53f9b96ae2bf351bef055604c2a0d59a27f60bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kget-4.12.4.tar.xz">kget-4.12.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>94beea1646a746af92679665d2d1b2c38a35abe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kgoldrunner-4.12.4.tar.xz">kgoldrunner-4.12.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>73da8b3aa0fbdf7b2e644baa654c4a2eecd7861a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kgpg-4.12.4.tar.xz">kgpg-4.12.4</a></td>
   <td align="right">784kB</td>
   <td><tt>4d57a251f4b1a277343ab91c88867c977d6e5d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/khangman-4.12.4.tar.xz">khangman-4.12.4</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ac976e90014f6f72227bf74940bcc00ed8e2e71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kig-4.12.4.tar.xz">kig-4.12.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ac8e555fbebefcc08d72d268907fc8fe41ff1c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kigo-4.12.4.tar.xz">kigo-4.12.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>10b3bb2ee0c2bca05da38fe3a0d73f63b8007263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/killbots-4.12.4.tar.xz">killbots-4.12.4</a></td>
   <td align="right">938kB</td>
   <td><tt>85811758cafef4a39ee3e6b1f2218d8aea13d176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kimono-4.12.4.tar.xz">kimono-4.12.4</a></td>
   <td align="right">910kB</td>
   <td><tt>ff785aa6ec10edb9b86bea471fae96c189aca951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kiriki-4.12.4.tar.xz">kiriki-4.12.4</a></td>
   <td align="right">115kB</td>
   <td><tt>eb6003e06bba0fd41943936d131409d0cfa10a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kiten-4.12.4.tar.xz">kiten-4.12.4</a></td>
   <td align="right">11MB</td>
   <td><tt>a6f2b9d65aa522977cf8ea8ce8f0fda23bfa1d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kjumpingcube-4.12.4.tar.xz">kjumpingcube-4.12.4</a></td>
   <td align="right">159kB</td>
   <td><tt>9faf2a729947b4d893271090c26436969ce3e314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/klettres-4.12.4.tar.xz">klettres-4.12.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a7f559c738835a1d771e01e114c15ab0efec6542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/klickety-4.12.4.tar.xz">klickety-4.12.4</a></td>
   <td align="right">765kB</td>
   <td><tt>461d1681e7655dd2ae80e2708944b85806b21fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/klines-4.12.4.tar.xz">klines-4.12.4</a></td>
   <td align="right">926kB</td>
   <td><tt>ba15b1a03ab6328f657f47d627d0beff113cdd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmag-4.12.4.tar.xz">kmag-4.12.4</a></td>
   <td align="right">84kB</td>
   <td><tt>07a38dd2334669fb53cccba25a71a6aaf31825c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmahjongg-4.12.4.tar.xz">kmahjongg-4.12.4</a></td>
   <td align="right">979kB</td>
   <td><tt>1ae603a8f16c46d884f04df05396422e569a1194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmines-4.12.4.tar.xz">kmines-4.12.4</a></td>
   <td align="right">613kB</td>
   <td><tt>c39900595f0187af1396a4155bb56a2701eb70b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmix-4.12.4.tar.xz">kmix-4.12.4</a></td>
   <td align="right">371kB</td>
   <td><tt>b2deac3b904ba0e20bd484793b6fbbe6c435ad3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmousetool-4.12.4.tar.xz">kmousetool-4.12.4</a></td>
   <td align="right">35kB</td>
   <td><tt>5d9a8ede0ff7d4d2818d53cef666f3e846aa805a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmouth-4.12.4.tar.xz">kmouth-4.12.4</a></td>
   <td align="right">300kB</td>
   <td><tt>8cdfd1830f204d80c69ceed2d5d5ab43999bf2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kmplot-4.12.4.tar.xz">kmplot-4.12.4</a></td>
   <td align="right">639kB</td>
   <td><tt>ca64dfb39e520b799fbd950144db43935e21e714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/knavalbattle-4.12.4.tar.xz">knavalbattle-4.12.4</a></td>
   <td align="right">829kB</td>
   <td><tt>6f0683cd2cb566dd2f74349ce4d9519e3b29746f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/knetwalk-4.12.4.tar.xz">knetwalk-4.12.4</a></td>
   <td align="right">763kB</td>
   <td><tt>34e06d10668971bf16f82e524157f0bbc8a21464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kolf-4.12.4.tar.xz">kolf-4.12.4</a></td>
   <td align="right">749kB</td>
   <td><tt>809b5766ae60fe127bf943ac8c691f44ee139cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kollision-4.12.4.tar.xz">kollision-4.12.4</a></td>
   <td align="right">202kB</td>
   <td><tt>8cca93c53c77779462ecc6dfa6dc9d952e9557a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kolourpaint-4.12.4.tar.xz">kolourpaint-4.12.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b0d062a7978f2799acf0b8d1c4253f1c552608df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kompare-4.12.4.tar.xz">kompare-4.12.4</a></td>
   <td align="right">336kB</td>
   <td><tt>23f2880b15a3d2088f46316ca9e4daa8bcd6b898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/konquest-4.12.4.tar.xz">konquest-4.12.4</a></td>
   <td align="right">406kB</td>
   <td><tt>a61fb32a21b73a779cfe35ac769db145e430e8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/konsole-4.12.4.tar.xz">konsole-4.12.4</a></td>
   <td align="right">440kB</td>
   <td><tt>6cba1203bb8e2424b4cfd132b1835a0246cc4979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kopete-4.12.4.tar.xz">kopete-4.12.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6cf22f4b219807e713e1ae20073d6113eca14ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/korundum-4.12.4.tar.xz">korundum-4.12.4</a></td>
   <td align="right">156kB</td>
   <td><tt>3139c54817ba69bca11df08bc01b8f16498b2d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kpat-4.12.4.tar.xz">kpat-4.12.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d8b48d03204aba53d20abba8b55b9be03c864c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kppp-4.12.4.tar.xz">kppp-4.12.4</a></td>
   <td align="right">680kB</td>
   <td><tt>2f7ca4a9574e8f25aec13d0a97d0b15dfa4b39df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/krdc-4.12.4.tar.xz">krdc-4.12.4</a></td>
   <td align="right">388kB</td>
   <td><tt>0f2f99e732ec34ce2d95dfc10b69c1c23f108040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kremotecontrol-4.12.4.tar.xz">kremotecontrol-4.12.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>647b66a84232ffa26eaa323a82bd00db0af481a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kreversi-4.12.4.tar.xz">kreversi-4.12.4</a></td>
   <td align="right">354kB</td>
   <td><tt>7400fcfdcc28198ee535fdc3beffac4cd56ffd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/krfb-4.12.4.tar.xz">krfb-4.12.4</a></td>
   <td align="right">456kB</td>
   <td><tt>f666773ce44c7737151b117d63a32bc457bad194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kross-interpreters-4.12.4.tar.xz">kross-interpreters-4.12.4</a></td>
   <td align="right">127kB</td>
   <td><tt>4a5ea4eaf7bc5e4827370b284ea0bc541856c5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kruler-4.12.4.tar.xz">kruler-4.12.4</a></td>
   <td align="right">125kB</td>
   <td><tt>b8dc82b269abd6e7342d116cfcacb1402f1c1369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksaneplugin-4.12.4.tar.xz">ksaneplugin-4.12.4</a></td>
   <td align="right">12kB</td>
   <td><tt>2bfad1ee173f8b36757d531b68de5dfc8270e1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kscd-4.12.4.tar.xz">kscd-4.12.4</a></td>
   <td align="right">90kB</td>
   <td><tt>8d1bf54e3e30026751fc1560d8c958e0b0346170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kshisen-4.12.4.tar.xz">kshisen-4.12.4</a></td>
   <td align="right">132kB</td>
   <td><tt>ea32916649f0f62e0a9bc454d088f91e484e3ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksirk-4.12.4.tar.xz">ksirk-4.12.4</a></td>
   <td align="right">4.7MB</td>
   <td><tt>a43f74414dd5b4b3fa7f8d8eab6ba2889d80ea96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksnakeduel-4.12.4.tar.xz">ksnakeduel-4.12.4</a></td>
   <td align="right">312kB</td>
   <td><tt>f9e425b33e1613dec2a9e8e01567fd22a67a1721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksnapshot-4.12.4.tar.xz">ksnapshot-4.12.4</a></td>
   <td align="right">251kB</td>
   <td><tt>45b2bd7b6d9535358961562c13167ed7e125bc16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kspaceduel-4.12.4.tar.xz">kspaceduel-4.12.4</a></td>
   <td align="right">246kB</td>
   <td><tt>0665ca6bce7e82296f3d834176d1e9a755b0276b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksquares-4.12.4.tar.xz">ksquares-4.12.4</a></td>
   <td align="right">77kB</td>
   <td><tt>c0b3abf5e9564e9fbdac37a5c9250b0b04aa15cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kstars-4.12.4.tar.xz">kstars-4.12.4</a></td>
   <td align="right">11MB</td>
   <td><tt>bc54a3c7dd8fa995bbf182e16cb4445582db5d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksudoku-4.12.4.tar.xz">ksudoku-4.12.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>082726681a8d67e023c1ed7a7b3056539e5967f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ksystemlog-4.12.4.tar.xz">ksystemlog-4.12.4</a></td>
   <td align="right">373kB</td>
   <td><tt>1e75499ad6dfb2d7c5e12889e4d6b607c3a4f30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kteatime-4.12.4.tar.xz">kteatime-4.12.4</a></td>
   <td align="right">98kB</td>
   <td><tt>625f47a2a0dcaa6c7961bcda1b725e360b3a6fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ktimer-4.12.4.tar.xz">ktimer-4.12.4</a></td>
   <td align="right">143kB</td>
   <td><tt>0cf92926bb4b80bf984f2ca0d7e466dcf7330500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ktouch-4.12.4.tar.xz">ktouch-4.12.4</a></td>
   <td align="right">2.3MB</td>
   <td><tt>beebe057e722b5288c690ccabb3b9a66168df128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ktuberling-4.12.4.tar.xz">ktuberling-4.12.4</a></td>
   <td align="right">4.0MB</td>
   <td><tt>c1341195cf6ede362736e0682682868408ec6893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kturtle-4.12.4.tar.xz">kturtle-4.12.4</a></td>
   <td align="right">183kB</td>
   <td><tt>9bd9f9d7cd1e2dc338ef5434cb39ce8ce80025fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/ktux-4.12.4.tar.xz">ktux-4.12.4</a></td>
   <td align="right">106kB</td>
   <td><tt>be765ca7588ac4777b79c2b8046ef0489bc3eb4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kubrick-4.12.4.tar.xz">kubrick-4.12.4</a></td>
   <td align="right">104kB</td>
   <td><tt>4990266bb82113fb6e9e343490362cf997158f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kuser-4.12.4.tar.xz">kuser-4.12.4</a></td>
   <td align="right">131kB</td>
   <td><tt>d92c923cda1d79a7f4eaf2e5f2c571a41c26c8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kwalletmanager-4.12.4.tar.xz">kwalletmanager-4.12.4</a></td>
   <td align="right">445kB</td>
   <td><tt>4ecbbe72ec2cadaf09ccb8916eee9dc474a9d5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kwordquiz-4.12.4.tar.xz">kwordquiz-4.12.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f5c4847e4af4dcb6421a9d2427e7d3486b4d7c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkcddb-4.12.4.tar.xz">libkcddb-4.12.4</a></td>
   <td align="right">154kB</td>
   <td><tt>4ca2ae0a4a5d48772e5dd2cce1e90d187bd41748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkcompactdisc-4.12.4.tar.xz">libkcompactdisc-4.12.4</a></td>
   <td align="right">73kB</td>
   <td><tt>46959ed716a79b3895b97795caa3c37f72af4f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkdcraw-4.12.4.tar.xz">libkdcraw-4.12.4</a></td>
   <td align="right">97kB</td>
   <td><tt>ba64e546018004a596c2d132379f89b695870bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkdeedu-4.12.4.tar.xz">libkdeedu-4.12.4</a></td>
   <td align="right">204kB</td>
   <td><tt>12e53b71304f849a0f1931a9e1cb144c90c924d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkdegames-4.12.4.tar.xz">libkdegames-4.12.4</a></td>
   <td align="right">5.5MB</td>
   <td><tt>5fea3522868e487db677d8fa92088db2c5347c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkexiv2-4.12.4.tar.xz">libkexiv2-4.12.4</a></td>
   <td align="right">132kB</td>
   <td><tt>25809f70e001f4a59e5c66223c2097b098599ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkipi-4.12.4.tar.xz">libkipi-4.12.4</a></td>
   <td align="right">92kB</td>
   <td><tt>1b71cf759d072b5283962609d66e3376cf1df540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkmahjongg-4.12.4.tar.xz">libkmahjongg-4.12.4</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3b90b70cf6c352d98b63cd7e9dbcdb8c4d091a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libkomparediff2-4.12.4.tar.xz">libkomparediff2-4.12.4</a></td>
   <td align="right">54kB</td>
   <td><tt>b4839e4f562f8e17a2b5c9dc9df89df68ddd543a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/libksane-4.12.4.tar.xz">libksane-4.12.4</a></td>
   <td align="right">78kB</td>
   <td><tt>1e495c2eebdbab95753b8e142c5fe062b2372629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/lokalize-4.12.4.tar.xz">lokalize-4.12.4</a></td>
   <td align="right">826kB</td>
   <td><tt>a58405bf24d57c67ac855bd473579f745cff61e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/lskat-4.12.4.tar.xz">lskat-4.12.4</a></td>
   <td align="right">907kB</td>
   <td><tt>0a7403d45fd7733aec828efa79cdad78e0e0abdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/marble-4.12.4.tar.xz">marble-4.12.4</a></td>
   <td align="right">17MB</td>
   <td><tt>cbe3a7169ccee70bda20906c26d3798b562a6341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/mplayerthumbs-4.12.4.tar.xz">mplayerthumbs-4.12.4</a></td>
   <td align="right">26kB</td>
   <td><tt>9482c68dfb1a0cb4c37a055e734c97e261e2f595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/nepomuk-core-4.12.4.tar.xz">nepomuk-core-4.12.4</a></td>
   <td align="right">371kB</td>
   <td><tt>ab97b1ec27d834e0e2d27fc1a96c4f838f2d2f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/nepomuk-widgets-4.12.4.tar.xz">nepomuk-widgets-4.12.4</a></td>
   <td align="right">47kB</td>
   <td><tt>98fe6be29cb6821d42da7d4da7663af76cf9464b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/okteta-4.12.4.tar.xz">okteta-4.12.4</a></td>
   <td align="right">481kB</td>
   <td><tt>942c8f88f0653412e887710bcb034bb7315d61fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/okular-4.12.4.tar.xz">okular-4.12.4</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6bfe794fef608aab96cce8dfbca2638d35393bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/oxygen-icons-4.12.4.tar.xz">oxygen-icons-4.12.4</a></td>
   <td align="right">219MB</td>
   <td><tt>e6850d592aabc1bf4e14f23ad1cc5a6d791880bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/pairs-4.12.4.tar.xz">pairs-4.12.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ce2df6f6b90341f5ec5d0ab7e292a54c25a0aa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/palapeli-4.12.4.tar.xz">palapeli-4.12.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55604531007a328fe0f14c72762262bdfd854358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/parley-4.12.4.tar.xz">parley-4.12.4</a></td>
   <td align="right">7.6MB</td>
   <td><tt>6c71ced4450690e93409587bc488dd7171301c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/perlkde-4.12.4.tar.xz">perlkde-4.12.4</a></td>
   <td align="right">39kB</td>
   <td><tt>7dba6abba619c6192b9042d37ef63e26cd800188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/perlqt-4.12.4.tar.xz">perlqt-4.12.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7681a2677b166f673dcd20e7895b0e4dc0ceacd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/picmi-4.12.4.tar.xz">picmi-4.12.4</a></td>
   <td align="right">713kB</td>
   <td><tt>33856a67fa9eb13db30eaa27b858066086057180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/poxml-4.12.4.tar.xz">poxml-4.12.4</a></td>
   <td align="right">30kB</td>
   <td><tt>0424aae714b59e953d1c9231a7e979db84ff71a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/print-manager-4.12.4.tar.xz">print-manager-4.12.4</a></td>
   <td align="right">90kB</td>
   <td><tt>80cf76ce5fb17fb4ffc574f6bb76db9f25dd595f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/pykde4-4.12.4.tar.xz">pykde4-4.12.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>712971723af9b61d86d05adf6172108aabc5f2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/qtruby-4.12.4.tar.xz">qtruby-4.12.4</a></td>
   <td align="right">517kB</td>
   <td><tt>5f96c73a2c0b84d5ba02c1dbf6f91d372e946479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/qyoto-4.12.4.tar.xz">qyoto-4.12.4</a></td>
   <td align="right">495kB</td>
   <td><tt>6ee064a04e85cd3589efa93a8793fccc7c822db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/rocs-4.12.4.tar.xz">rocs-4.12.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dc00c0b10a2d5cce07165e1a829abd2078bea2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/smokegen-4.12.4.tar.xz">smokegen-4.12.4</a></td>
   <td align="right">143kB</td>
   <td><tt>0e959519fbc50317e6567cd8c7885356db841d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/smokekde-4.12.4.tar.xz">smokekde-4.12.4</a></td>
   <td align="right">36kB</td>
   <td><tt>019acd2f15b2dbb0d8c11c02f93557c42acef5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/smokeqt-4.12.4.tar.xz">smokeqt-4.12.4</a></td>
   <td align="right">29kB</td>
   <td><tt>727f0f100510822d2cf8a1750033bfe4624ccbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/step-4.12.4.tar.xz">step-4.12.4</a></td>
   <td align="right">353kB</td>
   <td><tt>a86c7fbb23c8db1eb07200f27a9d7329e67c916b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/superkaramba-4.12.4.tar.xz">superkaramba-4.12.4</a></td>
   <td align="right">374kB</td>
   <td><tt>39966af9f9219273e7ccac8d4c2d61be008981e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/svgpart-4.12.4.tar.xz">svgpart-4.12.4</a></td>
   <td align="right">8kB</td>
   <td><tt>899f29a6e04eb9355e70128839f00473b9c9489f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/sweeper-4.12.4.tar.xz">sweeper-4.12.4</a></td>
   <td align="right">80kB</td>
   <td><tt>a3a02991b06e0f427018d301f6bc6d7329237505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/umbrello-4.12.4.tar.xz">umbrello-4.12.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>60ff98753d08b33a00fc178cefd523a472999f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/zeroconf-ioslave-4.12.4.tar.xz">zeroconf-ioslave-4.12.4</a></td>
   <td align="right">25kB</td>
   <td><tt>1bc7d1d8b2dd5e2dd85f6b4c6f2d20fec9d079f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ar-4.12.4.tar.xz">kde-l10n-ar-4.12.4</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3f0046ad90373e48eb7c657bdc08c3ceae849e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-bg-4.12.4.tar.xz">kde-l10n-bg-4.12.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2d6f6cedbcb6be6b2fd9399f0c4e16ca1be379e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-bs-4.12.4.tar.xz">kde-l10n-bs-4.12.4</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0f8e6dad2de190459fdfb53015e8c7914bfa3c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ca-4.12.4.tar.xz">kde-l10n-ca-4.12.4</a></td>
   <td align="right">11MB</td>
   <td><tt>2d6888f7ab33ebb46ea4174b6b95acdd8de1321d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ca@valencia-4.12.4.tar.xz">kde-l10n-ca@valencia-4.12.4</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2c84967048fb7d5637fa9d3c0360e6d0c79aa553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-cs-4.12.4.tar.xz">kde-l10n-cs-4.12.4</a></td>
   <td align="right">2.8MB</td>
   <td><tt>66be73bc860698591957fdc7393121fa1329d96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-da-4.12.4.tar.xz">kde-l10n-da-4.12.4</a></td>
   <td align="right">12MB</td>
   <td><tt>ebc0dd9855d0928a7072fd313e7f4334a8483f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-de-4.12.4.tar.xz">kde-l10n-de-4.12.4</a></td>
   <td align="right">34MB</td>
   <td><tt>61fb240014908ba2e9dced902c5e52148fbee226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-el-4.12.4.tar.xz">kde-l10n-el-4.12.4</a></td>
   <td align="right">4.6MB</td>
   <td><tt>8e09a24346df2061a68a324294c706efa733d289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-en_GB-4.12.4.tar.xz">kde-l10n-en_GB-4.12.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>94db0a638eda79be0e21a32338213f22ece8f6e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-es-4.12.4.tar.xz">kde-l10n-es-4.12.4</a></td>
   <td align="right">20MB</td>
   <td><tt>935446f352add39803e2d3380ed00e06a33a97c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-et-4.12.4.tar.xz">kde-l10n-et-4.12.4</a></td>
   <td align="right">5.2MB</td>
   <td><tt>2f77b355d5ade889fdda71830e46dd7b5a4a6d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-eu-4.12.4.tar.xz">kde-l10n-eu-4.12.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b69063b6f212d8faa67b8ee9f8890600f4df2f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-fi-4.12.4.tar.xz">kde-l10n-fi-4.12.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fd98a6103acd54a7a3baf75e66c584463ca6f426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-fr-4.12.4.tar.xz">kde-l10n-fr-4.12.4</a></td>
   <td align="right">44MB</td>
   <td><tt>c9f3cc110ce5b7f77906e6041778effbcc612844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ga-4.12.4.tar.xz">kde-l10n-ga-4.12.4</a></td>
   <td align="right">2.7MB</td>
   <td><tt>262b5adec78d797bf7e85e3b8a3c80264b5f3c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-gl-4.12.4.tar.xz">kde-l10n-gl-4.12.4</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b6866884e4194d9224e27d1bc322b5ed17af96af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-he-4.12.4.tar.xz">kde-l10n-he-4.12.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>320315879195bb392b4dc72a12811905b9b4773d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-hi-4.12.4.tar.xz">kde-l10n-hi-4.12.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>36d13abcbd6f28f383321c9552d0f76f174a2979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-hr-4.12.4.tar.xz">kde-l10n-hr-4.12.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9a0f9e6ee8616ff8c29bd4a04b66a73a1e78d87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-hu-4.12.4.tar.xz">kde-l10n-hu-4.12.4</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ef7c0c7735e1c1e35047931947d21633b2b24aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ia-4.12.4.tar.xz">kde-l10n-ia-4.12.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>590a70c78842f00f26a3f91d5d459db44ed5a50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-is-4.12.4.tar.xz">kde-l10n-is-4.12.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0bc389b9aae13373d36abbe22e1c18140d7ccf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-it-4.12.4.tar.xz">kde-l10n-it-4.12.4</a></td>
   <td align="right">8.4MB</td>
   <td><tt>81464c6ac29ac97f8a02b3032f1d04b4c8e20176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ja-4.12.4.tar.xz">kde-l10n-ja-4.12.4</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f56894038dec55297bfbb4045a8a32048ca11a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-kk-4.12.4.tar.xz">kde-l10n-kk-4.12.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d8c5a754f4bea9c7ec20877871a3d998b55e65c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-km-4.12.4.tar.xz">kde-l10n-km-4.12.4</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8a76c4ef7bac4be4ac08f470c5335d9e2051a027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ko-4.12.4.tar.xz">kde-l10n-ko-4.12.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5493740f005335984e8b9325ca307a3ccf8c1f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-lt-4.12.4.tar.xz">kde-l10n-lt-4.12.4</a></td>
   <td align="right">12MB</td>
   <td><tt>45621758ff0b664f6de7e7dfbf071c7632bebc41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-lv-4.12.4.tar.xz">kde-l10n-lv-4.12.4</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e01ec6a521263adce0d5e615b30c209039a38e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-mr-4.12.4.tar.xz">kde-l10n-mr-4.12.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c68c6cb0e26421b915294d010c91cf83d5dd1dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-nb-4.12.4.tar.xz">kde-l10n-nb-4.12.4</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c7e13947fc8ef52f79ffe364cc3d59d66fab6e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-nds-4.12.4.tar.xz">kde-l10n-nds-4.12.4</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b1f9f25523cb72b7edee9ce37a24e59cb3456052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-nl-4.12.4.tar.xz">kde-l10n-nl-4.12.4</a></td>
   <td align="right">13MB</td>
   <td><tt>fa89ca69fdcb61d3185f5024b2983d12d0f93377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-nn-4.12.4.tar.xz">kde-l10n-nn-4.12.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1291ea661f1485e6d86aa26a360964b39e9d7f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-pa-4.12.4.tar.xz">kde-l10n-pa-4.12.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>32e7b20b4b710dbed1d72ae34b19c453a0909202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-pl-4.12.4.tar.xz">kde-l10n-pl-4.12.4</a></td>
   <td align="right">16MB</td>
   <td><tt>fc6a742398dfa6554fa91b5b5314a3d3766f8dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-pt-4.12.4.tar.xz">kde-l10n-pt-4.12.4</a></td>
   <td align="right">3.5MB</td>
   <td><tt>4bbb0325d5873028679d0b810a1c334eb32e4bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-pt_BR-4.12.4.tar.xz">kde-l10n-pt_BR-4.12.4</a></td>
   <td align="right">23MB</td>
   <td><tt>842d07a91eb33bad9a32b5a5d30e8c3da129ea77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ro-4.12.4.tar.xz">kde-l10n-ro-4.12.4</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7c327e9e22f25ed0d0f5b9dd34a9ce5b3fcfb309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ru-4.12.4.tar.xz">kde-l10n-ru-4.12.4</a></td>
   <td align="right">22MB</td>
   <td><tt>fe6806e039f140090399a1427d3b2262199f01dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-sk-4.12.4.tar.xz">kde-l10n-sk-4.12.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7f232a9c1974d616007dea919d1ab69e974ae67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-sl-4.12.4.tar.xz">kde-l10n-sl-4.12.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c9dc14ce5f440bec7fca766b4d0336f2a273f36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-sr-4.12.4.tar.xz">kde-l10n-sr-4.12.4</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f8c8ba670c616369095ea576cbb0f86a4bc8b0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-sv-4.12.4.tar.xz">kde-l10n-sv-4.12.4</a></td>
   <td align="right">13MB</td>
   <td><tt>c630b2d0b286e553d52460b30a8deb29aa309488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-tr-4.12.4.tar.xz">kde-l10n-tr-4.12.4</a></td>
   <td align="right">3.8MB</td>
   <td><tt>c3f3b6fa659b5e5de94376777e7d7463e5006c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-ug-4.12.4.tar.xz">kde-l10n-ug-4.12.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c24812fb147a1b10d371fd674c830d49cd47f3b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-uk-4.12.4.tar.xz">kde-l10n-uk-4.12.4</a></td>
   <td align="right">24MB</td>
   <td><tt>cce23e8eadeb512833fdf4b7f6bb37dc6b22b39d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-vi-4.12.4.tar.xz">kde-l10n-vi-4.12.4</a></td>
   <td align="right">922kB</td>
   <td><tt>9bcb85f6c2ec9e510ac1b84dba005c1186f5107a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-wa-4.12.4.tar.xz">kde-l10n-wa-4.12.4</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6b24b443c8270fbcc78094f664cacb2e0538a9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-zh_CN-4.12.4.tar.xz">kde-l10n-zh_CN-4.12.4</a></td>
   <td align="right">3.4MB</td>
   <td><tt>124869e25bec0672488226f0b65f228542085e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.4/src/kde-l10n/kde-l10n-zh_TW-4.12.4.tar.xz">kde-l10n-zh_TW-4.12.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>61e1de9e9db75c9150aed8c930a7d5e508192f3d</tt></td>
</tr>

</table>
