<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/bluedevil-5.13.5.tar.xz">bluedevil-5.13.5</a></td>
   <td align="right">145kB</td>
   <td><tt>afcbd59b2f5f92b7404c2c474ab154a4f12705e3312f274367cc49b31802a72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/breeze-5.13.5.tar.xz">breeze-5.13.5</a></td>
   <td align="right">23MB</td>
   <td><tt>80abee69d458457837ae57195e0d62f7e7edcda6391a2f22ba6b3f5b9b9b5326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/breeze-grub-5.13.5.tar.xz">breeze-grub-5.13.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>19ef77ba4b93a0d31fb27f8cea2e3a7199697c1ef0df84fd83ac9cf8cec11a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/breeze-gtk-5.13.5.tar.xz">breeze-gtk-5.13.5</a></td>
   <td align="right">197kB</td>
   <td><tt>634fd587907654f7af2d732a26f9f78132cc55153a0c7d50b339a075c402d0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/breeze-plymouth-5.13.5.tar.xz">breeze-plymouth-5.13.5</a></td>
   <td align="right">103kB</td>
   <td><tt>a730316a1967cb0741cd2c07b9382380a4ed80473c85d7c35465692e80a15277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/discover-5.13.5.tar.xz">discover-5.13.5</a></td>
   <td align="right">9.7MB</td>
   <td><tt>cd7cfe345d0ce028cc5b48ea185be477bb0d4f421f35ad6ad1bb2418696176e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/drkonqi-5.13.5.tar.xz">drkonqi-5.13.5</a></td>
   <td align="right">718kB</td>
   <td><tt>d34abc8acf58a3821954e205870f7da96ca7d1a59d18a7a84e4ec3ffabaf6b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kactivitymanagerd-5.13.5.tar.xz">kactivitymanagerd-5.13.5</a></td>
   <td align="right">83kB</td>
   <td><tt>58f234c0f20b379c92f13e145045841add6aa3b11c517004d51b9103fbf5db7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kde-cli-tools-5.13.5.tar.xz">kde-cli-tools-5.13.5</a></td>
   <td align="right">571kB</td>
   <td><tt>170aee9169a7e5e8b46f950f4732a8ad095292a1bc4ddbab8d8d920b04f92a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kdecoration-5.13.5.tar.xz">kdecoration-5.13.5</a></td>
   <td align="right">40kB</td>
   <td><tt>1a6bf44f9dce92e6923d3bb0b342790944c078604211caeeaa642556b43be712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kde-gtk-config-5.13.5.tar.xz">kde-gtk-config-5.13.5</a></td>
   <td align="right">152kB</td>
   <td><tt>46cee07a27dfa0659435bd8e2bb7444b0f981b50151e4006cbb6cf728f27461a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kdeplasma-addons-5.13.5.tar.xz">kdeplasma-addons-5.13.5</a></td>
   <td align="right">588kB</td>
   <td><tt>219e61705105db125aaa71a8079cebcb04adf4c08bbe6c29f08241be56308ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kgamma5-5.13.5.tar.xz">kgamma5-5.13.5</a></td>
   <td align="right">77kB</td>
   <td><tt>d63b989b5ff6b11b43233ce99668622255b70015d8807224e431195f62ab7921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/khotkeys-5.13.5.tar.xz">khotkeys-5.13.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b7263273696f38ac74d23d16b9bb1ed792d2239dd8b6abb7adf6ba6f262b779a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kinfocenter-5.13.5.tar.xz">kinfocenter-5.13.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f4dfd9534758815b3801da615efc9baa57a24b00dc0d9c6e7c61d0f1c7902997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kmenuedit-5.13.5.tar.xz">kmenuedit-5.13.5</a></td>
   <td align="right">756kB</td>
   <td><tt>e0774589e5a9ce32359b85416696e5c20a6dfb566c4d3857aeb6dcd1581a0a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kscreen-5.13.5.tar.xz">kscreen-5.13.5</a></td>
   <td align="right">110kB</td>
   <td><tt>e7acb533f60dbb0daf69915f0ecbe5c8ec020c0125a77eb424cb108b9063c14d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kscreenlocker-5.13.5.tar.xz">kscreenlocker-5.13.5</a></td>
   <td align="right">119kB</td>
   <td><tt>28e84e59cee7f28fabe5c446f76d0898c7da32e050ab9bd65c738c91d3943f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/ksshaskpass-5.13.5.tar.xz">ksshaskpass-5.13.5</a></td>
   <td align="right">20kB</td>
   <td><tt>01dd76b05c62c67095149fabba1ccb5eb57c1fde6e06097896e1a9893a92d0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/ksysguard-5.13.5.tar.xz">ksysguard-5.13.5</a></td>
   <td align="right">486kB</td>
   <td><tt>32093c962b85ca009f951b4a15d7e3313f70611bf92189c7af71e521188658e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kwallet-pam-5.13.5.tar.xz">kwallet-pam-5.13.5</a></td>
   <td align="right">18kB</td>
   <td><tt>4c85cf232ea74695e410766cfbae1522eb314df35f4cb9995b576204a152ad90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kwayland-integration-5.13.5.tar.xz">kwayland-integration-5.13.5</a></td>
   <td align="right">18kB</td>
   <td><tt>ba796c6284613beee8445f6ed574d3f8ea6ab6bf08d5d9ec2bdf8c5691ce13e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kwin-5.13.5.tar.xz">kwin-5.13.5</a></td>
   <td align="right">6.2MB</td>
   <td><tt>d53d380dab763827e4f3effcb4f0725aaec91ded6f702e0fcc5d856829bba151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/kwrited-5.13.5.tar.xz">kwrited-5.13.5</a></td>
   <td align="right">19kB</td>
   <td><tt>caabc136af8bede8232484a23da7bd9d06f4121813f725b2d02fb24da6841694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/libkscreen-5.13.5.tar.xz">libkscreen-5.13.5</a></td>
   <td align="right">76kB</td>
   <td><tt>9330c34ac709968a6b821d5ae616bab0eb98cd466174dc83c5c6c412d44ee110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/libksysguard-5.13.5.tar.xz">libksysguard-5.13.5</a></td>
   <td align="right">554kB</td>
   <td><tt>a613911a95470466cbab3f34a96372178fc52d1038ef22677dbda1f9a5948c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/milou-5.13.5.tar.xz">milou-5.13.5</a></td>
   <td align="right">56kB</td>
   <td><tt>3bf3abbf8a7c28fdd2c72be815c6a177302f71ef71896d5f0d33464141900f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/oxygen-5.13.5.tar.xz">oxygen-5.13.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>cd1f5539a31a0eae0c43eb5612fa5c13eca605ad023dd437a6603d009fada272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-browser-integration-5.13.5.tar.xz">plasma-browser-integration-5.13.5</a></td>
   <td align="right">99kB</td>
   <td><tt>fe691394c4ddf2c18a1cae2ea78f6a89df57252d91d25e2da8a82761095e172e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-desktop-5.13.5.tar.xz">plasma-desktop-5.13.5</a></td>
   <td align="right">8.7MB</td>
   <td><tt>77878290a6ae4bbcddb9bef3465efd625b7e0d7eeda3edebb7a1d26407ce3a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-integration-5.13.5.tar.xz">plasma-integration-5.13.5</a></td>
   <td align="right">52kB</td>
   <td><tt>e2d95919ea223771c162ffce19b191fef55c0f5a1016d0029293969b8ecaa748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-nm-5.13.5.tar.xz">plasma-nm-5.13.5</a></td>
   <td align="right">689kB</td>
   <td><tt>b1762e5927c21ff7604654f59245475fecadfde5d1ab78e11647e5b77c2c0efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-pa-5.13.5.tar.xz">plasma-pa-5.13.5</a></td>
   <td align="right">88kB</td>
   <td><tt>a85933e786a7954f1da0a021b24e2f83c67e60af188077ac4d00f0913fe9a45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-sdk-5.13.5.tar.xz">plasma-sdk-5.13.5</a></td>
   <td align="right">244kB</td>
   <td><tt>ea75850ac620b92c979d902b1a0245bc13631f065e02b79b6694ff3ec8c010f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-tests-5.13.5.tar.xz">plasma-tests-5.13.5</a></td>
   <td align="right">1kB</td>
   <td><tt>6d7c8ebd1ecf7a0e233d76f8e976d1eb384d160e4c230f2d5f8c7dc24003d502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-vault-5.13.5.tar.xz">plasma-vault-5.13.5</a></td>
   <td align="right">112kB</td>
   <td><tt>1fb9959963704e2fb3fd3981626a87139276595d012dfb19b09ed58bcafa8580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-workspace-5.13.5.tar.xz">plasma-workspace-5.13.5</a></td>
   <td align="right">4.3MB</td>
   <td><tt>63d301e19da9de1dba1bfdb08ff24d60b7be33562a27be6136265d4f81e195e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plasma-workspace-wallpapers-5.13.5.tar.xz">plasma-workspace-wallpapers-5.13.5</a></td>
   <td align="right">43MB</td>
   <td><tt>afa6c74df4746fa39e6b22431f301d3c4a9d21bd6336f2a2d6a2bffd97a976f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/plymouth-kcm-5.13.5.tar.xz">plymouth-kcm-5.13.5</a></td>
   <td align="right">38kB</td>
   <td><tt>41a3e1d48a15ab7c448fddbee8a2197594bb6b1a8538411f5380e89a91c98f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/polkit-kde-agent-1-5.13.5.tar.xz">polkit-kde-agent-1-5.13.5</a></td>
   <td align="right">41kB</td>
   <td><tt>86422bb5a07f4234e629c6112ff758cd23f6a361f3312fac9d88733e622cc001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/powerdevil-5.13.5.tar.xz">powerdevil-5.13.5</a></td>
   <td align="right">583kB</td>
   <td><tt>d69b737df6041fe781200e55f2087aca7895b2920dc8419a367ddb5237a3f1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/sddm-kcm-5.13.5.tar.xz">sddm-kcm-5.13.5</a></td>
   <td align="right">59kB</td>
   <td><tt>90a1f9f12f2ea6e92693ee6c23f8fd75a1ea007f30b35837f5b80328d5404f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/systemsettings-5.13.5.tar.xz">systemsettings-5.13.5</a></td>
   <td align="right">175kB</td>
   <td><tt>5b2f067ea528f29f4ca60fc42a8705727b843cb7ce797a1067a60957874a0290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/user-manager-5.13.5.tar.xz">user-manager-5.13.5</a></td>
   <td align="right">532kB</td>
   <td><tt>48abc976d82f669efb13408e3950ddec723c6a43398ce1c1529920407707a588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.5/xdg-desktop-portal-kde-5.13.5.tar.xz">xdg-desktop-portal-kde-5.13.5</a></td>
   <td align="right">49kB</td>
   <td><tt>8e587857ef720d9f879c6fd40fba8ba2b27d680831cde5d35e4c40d7db623745</tt></td>
</tr>

</table>
