<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-20.11.80.tar.xz">akonadi-20.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d4a21012c2230a4e9fac6cfbbf9f42a1c87249c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-calendar-20.11.80.tar.xz">akonadi-calendar-20.11.80</a></td>
   <td align="right">334kB</td>
   <td><tt>e697bdb22928db0f9e1de8bb939125d19fc28759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-calendar-tools-20.11.80.tar.xz">akonadi-calendar-tools-20.11.80</a></td>
   <td align="right">218kB</td>
   <td><tt>776febfc3597be1ac0cd70ebc20729f3487ccaf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadiconsole-20.11.80.tar.xz">akonadiconsole-20.11.80</a></td>
   <td align="right">193kB</td>
   <td><tt>89f9c68e9bbb3302aeffdc1943a615f6e414aae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-contacts-20.11.80.tar.xz">akonadi-contacts-20.11.80</a></td>
   <td align="right">403kB</td>
   <td><tt>42f961755f1f2b3f3d85a187b9afa7816fc16e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-import-wizard-20.11.80.tar.xz">akonadi-import-wizard-20.11.80</a></td>
   <td align="right">492kB</td>
   <td><tt>a1f79e89ce49b93769b5c5fbb17bb3893de0d7c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-mime-20.11.80.tar.xz">akonadi-mime-20.11.80</a></td>
   <td align="right">131kB</td>
   <td><tt>75395060b2289cf58bb9683d3f9a3a4f9543829a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-notes-20.11.80.tar.xz">akonadi-notes-20.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>181fd127b3637761de58edc73de598d969590df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akonadi-search-20.11.80.tar.xz">akonadi-search-20.11.80</a></td>
   <td align="right">91kB</td>
   <td><tt>e76b431fc231c3f2763de6a110232148a936da1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/akregator-20.11.80.tar.xz">akregator-20.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f58b832bf8935e03e69a335b0b393ece86e5ce4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/analitza-20.11.80.tar.xz">analitza-20.11.80</a></td>
   <td align="right">330kB</td>
   <td><tt>1b54bc64d993184045ec9495728774f527a1306b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ark-20.11.80.tar.xz">ark-20.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>87f9aefd3221f2772a2efbbf4ce77ab9a4f9079d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/artikulate-20.11.80.tar.xz">artikulate-20.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c5b8863c7a4c855dc16152aa2c37ec9bffab286e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/audiocd-kio-20.11.80.tar.xz">audiocd-kio-20.11.80</a></td>
   <td align="right">488kB</td>
   <td><tt>ac6db7ef50bf77cf886e9b0ce1865d6e23e5335c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/baloo-widgets-20.11.80.tar.xz">baloo-widgets-20.11.80</a></td>
   <td align="right">255kB</td>
   <td><tt>e3b772ffa68e352c23622477d0a92e7367e5f9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/blinken-20.11.80.tar.xz">blinken-20.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8e49bc4c3b8ea5e20ae9d2b27bb881bf5750011c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/bomber-20.11.80.tar.xz">bomber-20.11.80</a></td>
   <td align="right">805kB</td>
   <td><tt>449056f31a554019f1a2eb8a0b61a1c31557f13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/bovo-20.11.80.tar.xz">bovo-20.11.80</a></td>
   <td align="right">201kB</td>
   <td><tt>db2772ff013e8c43f5f8d9a9fd5cb3f4a1a6244c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/calendarsupport-20.11.80.tar.xz">calendarsupport-20.11.80</a></td>
   <td align="right">649kB</td>
   <td><tt>9b16d6fb2b551013a3a6d3b9430d9372050e733a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/cantor-20.11.80.tar.xz">cantor-20.11.80</a></td>
   <td align="right">8.6MB</td>
   <td><tt>87c3e691975b7c843e131ba3d42187b0bd6524ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/cervisia-20.11.80.tar.xz">cervisia-20.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b3d7ef500eb383efd1b6d76c909b31e7f43c0789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/dolphin-20.11.80.tar.xz">dolphin-20.11.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>fa9af693dd99b783f18e262026884ca44d967245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/dolphin-plugins-20.11.80.tar.xz">dolphin-plugins-20.11.80</a></td>
   <td align="right">230kB</td>
   <td><tt>64cf59d7e0cb175dcc8d20ae7cf378388406f1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/dragon-20.11.80.tar.xz">dragon-20.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e85b06ac49709ac098c9ace45c3f2291a7173116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/elisa-20.11.80.tar.xz">elisa-20.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5cea52ac24e5830220bab885de172c64baefa2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/eventviews-20.11.80.tar.xz">eventviews-20.11.80</a></td>
   <td align="right">433kB</td>
   <td><tt>9a1da299eaea12ce9d8e12abcfca47b263913520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ffmpegthumbs-20.11.80.tar.xz">ffmpegthumbs-20.11.80</a></td>
   <td align="right">33kB</td>
   <td><tt>9d01654fab63ce7018cd18b670f928eba42590ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/filelight-20.11.80.tar.xz">filelight-20.11.80</a></td>
   <td align="right">654kB</td>
   <td><tt>d00385e928964a164ba2ae200853b879ba797aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/granatier-20.11.80.tar.xz">granatier-20.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1450ee063c8a164acf989e89920d592c951ff8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/grantlee-editor-20.11.80.tar.xz">grantlee-editor-20.11.80</a></td>
   <td align="right">104kB</td>
   <td><tt>85e36353233f90f296dfe6c1a3b3dc8a5cdb6bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/grantleetheme-20.11.80.tar.xz">grantleetheme-20.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>0372122bb78c24c082a95cc29d3d29b10881ce81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/gwenview-20.11.80.tar.xz">gwenview-20.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>70c7f8c15617e1ec02580774632aaa6649ec21b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/incidenceeditor-20.11.80.tar.xz">incidenceeditor-20.11.80</a></td>
   <td align="right">533kB</td>
   <td><tt>482df922037703a370a00807807dd1617b974c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/itinerary-20.11.80.tar.xz">itinerary-20.11.80</a></td>
   <td align="right">322kB</td>
   <td><tt>2f489b7d1f8ca4b19665c359b0891a83f80ef46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/juk-20.11.80.tar.xz">juk-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>77ced759ece0476d623bcdef93122298aa0266b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/k3b-20.11.80.tar.xz">k3b-20.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>d6e0698ff6a1bdb4a9e02ac4b9a84e5c6bdd0912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kaccounts-integration-20.11.80.tar.xz">kaccounts-integration-20.11.80</a></td>
   <td align="right">81kB</td>
   <td><tt>e7fa4a3432060dbb682aef9d4f0636cb5709da52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kaccounts-providers-20.11.80.tar.xz">kaccounts-providers-20.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>feb38245e5ce1fc094762c4b47eae4a73acfda63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kaddressbook-20.11.80.tar.xz">kaddressbook-20.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f0dad3b1a8cea7fb660f2da125b8a18917185d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kajongg-20.11.80.tar.xz">kajongg-20.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>c8849281f8e4959f45d459903080adc7ed48477d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kalarm-20.11.80.tar.xz">kalarm-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>0bae8f1be9ad02ba021bff97695f930083c45594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kalarmcal-20.11.80.tar.xz">kalarmcal-20.11.80</a></td>
   <td align="right">562kB</td>
   <td><tt>7981849e1d1ef2b19732b64cce11a8459cb8fa8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kalgebra-20.11.80.tar.xz">kalgebra-20.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a21be267b782203338d6c87fdb28017fa35c1482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kalzium-20.11.80.tar.xz">kalzium-20.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>b1aad3bcc2b34562b865f6a9af7e04326a914ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kamera-20.11.80.tar.xz">kamera-20.11.80</a></td>
   <td align="right">106kB</td>
   <td><tt>b5185648a56cfab6c4b40075e3e02974bc564fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kamoso-20.11.80.tar.xz">kamoso-20.11.80</a></td>
   <td align="right">206kB</td>
   <td><tt>11db56c628a144c7cc0dde9dbbffd796ab4f4e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kanagram-20.11.80.tar.xz">kanagram-20.11.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>8f5b5a6ac9d23bc9556b36c3818e3746091c2f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kapman-20.11.80.tar.xz">kapman-20.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5a34a52c8f29a17da6bf8897134649ac3668c24e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kapptemplate-20.11.80.tar.xz">kapptemplate-20.11.80</a></td>
   <td align="right">327kB</td>
   <td><tt>08745651481db30685dffbfb42ae42d27e1f653e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kate-20.11.80.tar.xz">kate-20.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e5a9f6cc5f0ac29134b10fd3ee7561638e3a17be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/katomic-20.11.80.tar.xz">katomic-20.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dafa77744bb793f9b5b4a078825853ad72378d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kbackup-20.11.80.tar.xz">kbackup-20.11.80</a></td>
   <td align="right">370kB</td>
   <td><tt>7fb8cbcfa023873be7de2c64b7fa3765c0fc527f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kblackbox-20.11.80.tar.xz">kblackbox-20.11.80</a></td>
   <td align="right">439kB</td>
   <td><tt>71038f79f1345398efecbded3195b1262e201abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kblocks-20.11.80.tar.xz">kblocks-20.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>873b051b30e197f63260d1d81a223615491df52d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kbounce-20.11.80.tar.xz">kbounce-20.11.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>57a98f6203aebb9f3a3410eab6006baf162cc60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kbreakout-20.11.80.tar.xz">kbreakout-20.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c1278ccb5429475d9c79243ad0bb69fdfc93365c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kbruch-20.11.80.tar.xz">kbruch-20.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>db831df90f320645245ac68da2ba01d913e0f75b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcachegrind-20.11.80.tar.xz">kcachegrind-20.11.80</a></td>
   <td align="right">796kB</td>
   <td><tt>9e7b374df998cefb3ddc028b35004ced0fa9c250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcalc-20.11.80.tar.xz">kcalc-20.11.80</a></td>
   <td align="right">371kB</td>
   <td><tt>46ff9b01360496c7d73d68920d71ac6dba4b1b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcalutils-20.11.80.tar.xz">kcalutils-20.11.80</a></td>
   <td align="right">317kB</td>
   <td><tt>59b8cac7044084a7105d375fc5650dc9de3b1ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcharselect-20.11.80.tar.xz">kcharselect-20.11.80</a></td>
   <td align="right">357kB</td>
   <td><tt>f20293a13e5007703bf0b47a9d9b8697d1e8462e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcolorchooser-20.11.80.tar.xz">kcolorchooser-20.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>3dd74b70dcd10bc6684399ebe19add3923884960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kcron-20.11.80.tar.xz">kcron-20.11.80</a></td>
   <td align="right">877kB</td>
   <td><tt>1d2d10fa05d902e0a51a759830e71503eb76735c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdebugsettings-20.11.80.tar.xz">kdebugsettings-20.11.80</a></td>
   <td align="right">66kB</td>
   <td><tt>0fcfd1ccbd28ad8a093631ada65f842064c89f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdeconnect-kde-20.11.80.tar.xz">kdeconnect-kde-20.11.80</a></td>
   <td align="right">534kB</td>
   <td><tt>317c54face615965e4931dc343a3ddbcc6363a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kde-dev-scripts-20.11.80.tar.xz">kde-dev-scripts-20.11.80</a></td>
   <td align="right">357kB</td>
   <td><tt>88902edd7e6eb336d74e5ab43542df2bf0bb6458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kde-dev-utils-20.11.80.tar.xz">kde-dev-utils-20.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>924efd2a231937d791bc23ae21e12debd0abb2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdeedu-data-20.11.80.tar.xz">kdeedu-data-20.11.80</a></td>
   <td align="right">327kB</td>
   <td><tt>18a619271dd181337ab430482ec6d3f29c8385f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdegraphics-mobipocket-20.11.80.tar.xz">kdegraphics-mobipocket-20.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>40fcb41841eaf3427824aff318b261688768e246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdegraphics-thumbnailers-20.11.80.tar.xz">kdegraphics-thumbnailers-20.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>a214a5b9e9ce8dd7594ecb8423c87685436dd087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdenetwork-filesharing-20.11.80.tar.xz">kdenetwork-filesharing-20.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>36d7152b3bb8dc1fcb40fa95fed5f2e3044f8f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdenlive-20.11.80.tar.xz">kdenlive-20.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>8dc5a2a3cd439ad4678ad30a6fa09991be32b447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdepim-addons-20.11.80.tar.xz">kdepim-addons-20.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6f00f3fc86bb008432a054616b6621c45ba31a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdepim-runtime-20.11.80.tar.xz">kdepim-runtime-20.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a62131a898826a636dcebd1f042b4fcc09c16c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdesdk-kioslaves-20.11.80.tar.xz">kdesdk-kioslaves-20.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>78acc17ea423cb721d7748ba255dda8116e4da83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdesdk-thumbnailers-20.11.80.tar.xz">kdesdk-thumbnailers-20.11.80</a></td>
   <td align="right">17kB</td>
   <td><tt>8c0db898b6282c47739fb084b2deb92bf7842401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdf-20.11.80.tar.xz">kdf-20.11.80</a></td>
   <td align="right">456kB</td>
   <td><tt>365cc2d8c44d332cbd2d5e14e856e0e2cf2a57e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdialog-20.11.80.tar.xz">kdialog-20.11.80</a></td>
   <td align="right">105kB</td>
   <td><tt>b2db5a4d08d9f0ab3d2eb7c22bf9e140e5295fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kdiamond-20.11.80.tar.xz">kdiamond-20.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>cdee5cdb887fc142b0c3eba389f67d5950fa473b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/keditbookmarks-20.11.80.tar.xz">keditbookmarks-20.11.80</a></td>
   <td align="right">186kB</td>
   <td><tt>322aa5b126e4fd5d1c72955b65d5b7a9a0623dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kfind-20.11.80.tar.xz">kfind-20.11.80</a></td>
   <td align="right">272kB</td>
   <td><tt>53f40acfb56dc3f5b5fe3d1a5f483f8d0cc660f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kfloppy-20.11.80.tar.xz">kfloppy-20.11.80</a></td>
   <td align="right">199kB</td>
   <td><tt>b395f65ff98e1444c0cf2999c725a978b6b6797c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kfourinline-20.11.80.tar.xz">kfourinline-20.11.80</a></td>
   <td align="right">628kB</td>
   <td><tt>be14f9b67e765180ab016d7e637e501184af5d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kgeography-20.11.80.tar.xz">kgeography-20.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>769c11bb59d7adec30f0280749421859853f7211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kget-20.11.80.tar.xz">kget-20.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>393a0decea62d74dca3bb9d3ebbf55a9c9239361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kgoldrunner-20.11.80.tar.xz">kgoldrunner-20.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>01dbecfc521be321268f23a63b01c31bc524c5a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kgpg-20.11.80.tar.xz">kgpg-20.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3bca9975f8928d71ddbdb31b3dc7dc3c88da7ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/khangman-20.11.80.tar.xz">khangman-20.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>5d55096a7728a1a0a56bb4b1a08e66e1f3669131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/khelpcenter-20.11.80.tar.xz">khelpcenter-20.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>c8df7552dc5ce5f41634e6a16aa6578bca0b71e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kidentitymanagement-20.11.80.tar.xz">kidentitymanagement-20.11.80</a></td>
   <td align="right">148kB</td>
   <td><tt>77939b82800d9478f403f71a3d420cefcf1bf27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kig-20.11.80.tar.xz">kig-20.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c550a23824cb35b39dcd324874378127d4466462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kigo-20.11.80.tar.xz">kigo-20.11.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>03871d5deffe0d7129d1eeb749fafb25b1da8bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/killbots-20.11.80.tar.xz">killbots-20.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>21d66087e09969188f785aeb4669dee202a39b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kimagemapeditor-20.11.80.tar.xz">kimagemapeditor-20.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ee13d1ecaa9b6ef1af7e2a657847494254d20854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kimap-20.11.80.tar.xz">kimap-20.11.80</a></td>
   <td align="right">121kB</td>
   <td><tt>24079738ae591e19176652e473b379a78ab0df89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kio-extras-20.11.80.tar.xz">kio-extras-20.11.80</a></td>
   <td align="right">617kB</td>
   <td><tt>2ab0e2714a66692513b0aeaea5e6505730489224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kio-gdrive-20.11.80.tar.xz">kio-gdrive-20.11.80</a></td>
   <td align="right">62kB</td>
   <td><tt>b62173f535ae9466729e551575c82c57e5b70be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kipi-plugins-20.11.80.tar.xz">kipi-plugins-20.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b782d0a9fbc22e3a56e4b70067954f5c02a63220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kirigami-gallery-20.11.80.tar.xz">kirigami-gallery-20.11.80</a></td>
   <td align="right">317kB</td>
   <td><tt>a5200956eaf3eb80ad7889deabf645f07e7a12c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kiriki-20.11.80.tar.xz">kiriki-20.11.80</a></td>
   <td align="right">369kB</td>
   <td><tt>5747063ef4d645518e8cf72c27586feb45072e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kiten-20.11.80.tar.xz">kiten-20.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>5b0dd51a9dc99264c746124900f2b5f501de09cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kitinerary-20.11.80.tar.xz">kitinerary-20.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f5c65474cfa07719baa9ce53473f5bc4b2045a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kjumpingcube-20.11.80.tar.xz">kjumpingcube-20.11.80</a></td>
   <td align="right">284kB</td>
   <td><tt>c4bdba2345ab6de2faf7c2c49928535ece84fb87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kldap-20.11.80.tar.xz">kldap-20.11.80</a></td>
   <td align="right">160kB</td>
   <td><tt>c13ee6da3ae25c964ff3dd3a3dc74d395872781c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kleopatra-20.11.80.tar.xz">kleopatra-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6e41751b50ad94a749e295af3970667d3ceb924d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/klettres-20.11.80.tar.xz">klettres-20.11.80</a></td>
   <td align="right">44MB</td>
   <td><tt>808f11f0e7e04791054e66947c82d60db5236031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/klickety-20.11.80.tar.xz">klickety-20.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2d02ac8dbcdbd2eb4ee6edf893c25273368ec9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/klines-20.11.80.tar.xz">klines-20.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>430891e472025f1b851eff91c05ba96fa7ed04d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmag-20.11.80.tar.xz">kmag-20.11.80</a></td>
   <td align="right">681kB</td>
   <td><tt>d66fb785fea44b74f7408045068ab888898a4de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmahjongg-20.11.80.tar.xz">kmahjongg-20.11.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8255bc20f00c6ea61c4296e1cfbe943c5d5febcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmail-20.11.80.tar.xz">kmail-20.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>bcd37df76f48611d44ad088651a4b6ee3f966da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmail-account-wizard-20.11.80.tar.xz">kmail-account-wizard-20.11.80</a></td>
   <td align="right">155kB</td>
   <td><tt>ee1d18ee220b27060aaf76a8587b4a28caa84da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmailtransport-20.11.80.tar.xz">kmailtransport-20.11.80</a></td>
   <td align="right">164kB</td>
   <td><tt>4799a4fd97e6646fa08e1d05a547087ebfaa67c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmbox-20.11.80.tar.xz">kmbox-20.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>537e8c7c32e41b893156d8511e002a65fe8d7034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmime-20.11.80.tar.xz">kmime-20.11.80</a></td>
   <td align="right">147kB</td>
   <td><tt>40b07bc2f9e288ed01864a150018b742d4668a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmines-20.11.80.tar.xz">kmines-20.11.80</a></td>
   <td align="right">936kB</td>
   <td><tt>7db0ba59e181509cd8d9eb4d14ceebb2feb06585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmix-20.11.80.tar.xz">kmix-20.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6b975a2870029f42fabf969a6402414017c919db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmousetool-20.11.80.tar.xz">kmousetool-20.11.80</a></td>
   <td align="right">113kB</td>
   <td><tt>80190da3acf35ad00a1da0497834f5ca3b2874c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmouth-20.11.80.tar.xz">kmouth-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>613c53590aff7eb15cf51cb4e837d48358b724e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kmplot-20.11.80.tar.xz">kmplot-20.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>22156d470e8dc1473669752b652515328c1da30e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/knavalbattle-20.11.80.tar.xz">knavalbattle-20.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0de7c6296d12ec3ac1c0915eb7dbd19822d8ee99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/knetwalk-20.11.80.tar.xz">knetwalk-20.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0ea854a705bff6049b7dfa69b34a42ff613288ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/knights-20.11.80.tar.xz">knights-20.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>ddaef4fe71b9672b22248a0f8dfd870b46368b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/knotes-20.11.80.tar.xz">knotes-20.11.80</a></td>
   <td align="right">318kB</td>
   <td><tt>5d202dcc8ba81e59f7d9718f61ae886905665aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kolf-20.11.80.tar.xz">kolf-20.11.80</a></td>
   <td align="right">1005kB</td>
   <td><tt>7cec446bdd92b4500435a532a55da9f828607539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kollision-20.11.80.tar.xz">kollision-20.11.80</a></td>
   <td align="right">283kB</td>
   <td><tt>3cee170fa3ae507c7c2c5940efdaafe966632b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kolourpaint-20.11.80.tar.xz">kolourpaint-20.11.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>cef0fc5c15f55ed5eb0b7cdb1bad188d8d33d0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kompare-20.11.80.tar.xz">kompare-20.11.80</a></td>
   <td align="right">899kB</td>
   <td><tt>0393fb8a2a83ccf308d84251176dca9458d6d1ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/konqueror-20.11.80.tar.xz">konqueror-20.11.80</a></td>
   <td align="right">6.8MB</td>
   <td><tt>e5052e9ac6fb98e5c0cf73f03a2c078208f58aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/konquest-20.11.80.tar.xz">konquest-20.11.80</a></td>
   <td align="right">650kB</td>
   <td><tt>0dab4b05028893d9fbddcb1197e2866933f356f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/konsole-20.11.80.tar.xz">konsole-20.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3ba26b4201ecd5b71a00fbfca633884dbdb0c07a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kontact-20.11.80.tar.xz">kontact-20.11.80</a></td>
   <td align="right">773kB</td>
   <td><tt>87a3df18fad40dfc220e903502095e30a3276d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kontactinterface-20.11.80.tar.xz">kontactinterface-20.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>e7908109a32a663039dc345b6b76a394fe380521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kontrast-20.11.80.tar.xz">kontrast-20.11.80</a></td>
   <td align="right">118kB</td>
   <td><tt>9580d48c5972825c46ed709c2824e18d1ec62f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/konversation-20.11.80.tar.xz">konversation-20.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>720237cc08258e34bb55b48e34caa7c9cf4d0b09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kopete-20.11.80.tar.xz">kopete-20.11.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>13f35109bfd7f2bc106a4ffafd5d9c8c48264085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/korganizer-20.11.80.tar.xz">korganizer-20.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>375cd14677b3ea61955d03092cc5666a060eb6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kosmindoormap-20.11.80.tar.xz">kosmindoormap-20.11.80</a></td>
   <td align="right">303kB</td>
   <td><tt>dab18e757a46099bb555cbb24b0d3233ed6f9cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kpat-20.11.80.tar.xz">kpat-20.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>7c39aaa5489de8c9a124b969ca54e47508968375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kpimtextedit-20.11.80.tar.xz">kpimtextedit-20.11.80</a></td>
   <td align="right">195kB</td>
   <td><tt>a622e52594690949aea8e0000634b7630cfe137a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kpkpass-20.11.80.tar.xz">kpkpass-20.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>ad6ce7e5be0e9f805bd767d830fd402e061cd73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kpmcore-20.11.80.tar.xz">kpmcore-20.11.80</a></td>
   <td align="right">570kB</td>
   <td><tt>fc7cfa26e000ab0e4ab9d7300f9c2c3e50b2b84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kpublictransport-20.11.80.tar.xz">kpublictransport-20.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>7830ac36c150a8453eaaccc491d171abdc360187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kqtquickcharts-20.11.80.tar.xz">kqtquickcharts-20.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>9a5fa8820d6448b18b85bcb4bb1bfd702de7a4ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/krdc-20.11.80.tar.xz">krdc-20.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>fd66e09aac4880cd7aefb17c49b50cfc04cae633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kreversi-20.11.80.tar.xz">kreversi-20.11.80</a></td>
   <td align="right">931kB</td>
   <td><tt>eeada717a0f623ed28413a30ec62ed514aa0606f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/krfb-20.11.80.tar.xz">krfb-20.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>5f2c727ab3d8ce6883c7c1920b045795b4eae864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kross-interpreters-20.11.80.tar.xz">kross-interpreters-20.11.80</a></td>
   <td align="right">147kB</td>
   <td><tt>aa64aa4f25ca21bb794a4d46bff5e25eafde2947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kruler-20.11.80.tar.xz">kruler-20.11.80</a></td>
   <td align="right">266kB</td>
   <td><tt>b9a581ba5be5413b200b610e697a21a138ad5a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kshisen-20.11.80.tar.xz">kshisen-20.11.80</a></td>
   <td align="right">807kB</td>
   <td><tt>653e16e07f2f7abc1579c125c7beea2334681b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksirk-20.11.80.tar.xz">ksirk-20.11.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>c83617d3cc142476cbb2c3aade72b295584ccb1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksmtp-20.11.80.tar.xz">ksmtp-20.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>09f1d97c76afa2ed18b68e1bebab6d731db308d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksnakeduel-20.11.80.tar.xz">ksnakeduel-20.11.80</a></td>
   <td align="right">531kB</td>
   <td><tt>0233f7ff718de53beec13223ad5c9a25fbe78401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kspaceduel-20.11.80.tar.xz">kspaceduel-20.11.80</a></td>
   <td align="right">603kB</td>
   <td><tt>dc24609e8d02a026b6369bc8a86f7e664c2d8866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksquares-20.11.80.tar.xz">ksquares-20.11.80</a></td>
   <td align="right">260kB</td>
   <td><tt>6e148e71c47b4d4cec600643cec2e75d120aeae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksudoku-20.11.80.tar.xz">ksudoku-20.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6b071d9d90b565c3b9ef9eae5ab902d47b0a6141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ksystemlog-20.11.80.tar.xz">ksystemlog-20.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>26d455d227d7faadaab317e9b1cfb6be15905472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kteatime-20.11.80.tar.xz">kteatime-20.11.80</a></td>
   <td align="right">287kB</td>
   <td><tt>38b4f175042937e0ab9b77cbd0c9f1f41035ba3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktimer-20.11.80.tar.xz">ktimer-20.11.80</a></td>
   <td align="right">376kB</td>
   <td><tt>02f218911f619727066fe7576b7aa7d7ea9dd4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktnef-20.11.80.tar.xz">ktnef-20.11.80</a></td>
   <td align="right">292kB</td>
   <td><tt>b0f5a9e49d3db2a08733d8187781dc5d12f5cb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktorrent-20.11.80.tar.xz">ktorrent-20.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>03121b5c025f6ffe982f8e8f6f2b3d52c4644d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktouch-20.11.80.tar.xz">ktouch-20.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>6133c0cbf499c40f05dc45041a6bd713bf0e44ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-accounts-kcm-20.11.80.tar.xz">ktp-accounts-kcm-20.11.80</a></td>
   <td align="right">255kB</td>
   <td><tt>ca1231084fff511b60d8e27f0e71b48aec257d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-approver-20.11.80.tar.xz">ktp-approver-20.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>2d0a844608333d4041b7e238f47892d0e15556ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-auth-handler-20.11.80.tar.xz">ktp-auth-handler-20.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>44737f6d6199798223553b41c0cf019f48db1a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-call-ui-20.11.80.tar.xz">ktp-call-ui-20.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>ab78b6c0e625cf20d222ef98d57810a204b48aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-common-internals-20.11.80.tar.xz">ktp-common-internals-20.11.80</a></td>
   <td align="right">438kB</td>
   <td><tt>57967e6eaf0fba845ecb38320562a66c09f4a7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-contact-list-20.11.80.tar.xz">ktp-contact-list-20.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>c91a45bc8f7c87a4b18a18c47993e0d4cd0a1602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-contact-runner-20.11.80.tar.xz">ktp-contact-runner-20.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>edc0b14c5553b37a856501c4fd0f1ebd158a0e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-desktop-applets-20.11.80.tar.xz">ktp-desktop-applets-20.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>f14a857d9a050d7b0cf2fe2bab966c50c415df7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-filetransfer-handler-20.11.80.tar.xz">ktp-filetransfer-handler-20.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>80bf29cc811f39789b67c0d4ed34b34a93b2d818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-kded-module-20.11.80.tar.xz">ktp-kded-module-20.11.80</a></td>
   <td align="right">95kB</td>
   <td><tt>13c3cc9b28b2b531459abaf1236fce609beb6911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-send-file-20.11.80.tar.xz">ktp-send-file-20.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>193ea4fdc5bdaadf1838c15e79d9dd59bb280f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktp-text-ui-20.11.80.tar.xz">ktp-text-ui-20.11.80</a></td>
   <td align="right">459kB</td>
   <td><tt>e2ba3175eea3e202f276fcdc10113740f7b519b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/ktuberling-20.11.80.tar.xz">ktuberling-20.11.80</a></td>
   <td align="right">67MB</td>
   <td><tt>08116f4b5a7d29e9b28091a48e8ed79b730f0125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kturtle-20.11.80.tar.xz">kturtle-20.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9d07f70e39473c076661cca82344241adb32f453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kubrick-20.11.80.tar.xz">kubrick-20.11.80</a></td>
   <td align="right">324kB</td>
   <td><tt>8295a00e2b39f7daf52d0e72189ee7deda9670dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kwalletmanager-20.11.80.tar.xz">kwalletmanager-20.11.80</a></td>
   <td align="right">755kB</td>
   <td><tt>3d0e3e9b24d93a156a4414dd63539e7e97e66f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kwave-20.11.80.tar.xz">kwave-20.11.80</a></td>
   <td align="right">6.5MB</td>
   <td><tt>8a2e75d9b74fe48595fef92e7a3bd67e720050cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/kwordquiz-20.11.80.tar.xz">kwordquiz-20.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c5db904bf74c16f73f2d187a929f494db8bb8ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libgravatar-20.11.80.tar.xz">libgravatar-20.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>14dff65c8fd8007b436ca331bb777aaf2ec30b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkcddb-20.11.80.tar.xz">libkcddb-20.11.80</a></td>
   <td align="right">415kB</td>
   <td><tt>f6aad72e0ae516baa38079aa1ac2bd9f7403d52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkcompactdisc-20.11.80.tar.xz">libkcompactdisc-20.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>cf80608726c00cdb9cc71acc27cb47ebb91109ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkdcraw-20.11.80.tar.xz">libkdcraw-20.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>deccbc0934e74360d0bcefd5a99b7109b743ee2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkdegames-20.11.80.tar.xz">libkdegames-20.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c7f407b1487445708c092206956549401ce2241a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkdepim-20.11.80.tar.xz">libkdepim-20.11.80</a></td>
   <td align="right">232kB</td>
   <td><tt>2da2fa7b9a9cd6260fa0741f8862dbd74e262bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkeduvocdocument-20.11.80.tar.xz">libkeduvocdocument-20.11.80</a></td>
   <td align="right">206kB</td>
   <td><tt>f7475cf475bfe19d00e1d8ba4efc2d474576fab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkexiv2-20.11.80.tar.xz">libkexiv2-20.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>c10665feeedf346d54e0b42657b9980e6ca4b8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkgapi-20.11.80.tar.xz">libkgapi-20.11.80</a></td>
   <td align="right">240kB</td>
   <td><tt>d463d59bec2ad750236d82e93baec422918d2a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkipi-20.11.80.tar.xz">libkipi-20.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>afdfb5e8cc7f1841c7a24c2cd8b3d237bcc800a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkleo-20.11.80.tar.xz">libkleo-20.11.80</a></td>
   <td align="right">349kB</td>
   <td><tt>0235a21c167fc3f375c37f1a2addacee6013b655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkmahjongg-20.11.80.tar.xz">libkmahjongg-20.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>37447311e0a61de3776586ba8892dc30a319d768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libkomparediff2-20.11.80.tar.xz">libkomparediff2-20.11.80</a></td>
   <td align="right">155kB</td>
   <td><tt>4a8439beeb54ce64a4dd8fbf5b253e54a79c9fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libksane-20.11.80.tar.xz">libksane-20.11.80</a></td>
   <td align="right">141kB</td>
   <td><tt>f969a487e93613fb36c5eeb39cca96276162d0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libksieve-20.11.80.tar.xz">libksieve-20.11.80</a></td>
   <td align="right">545kB</td>
   <td><tt>367ccdb99cbe1f520f8b788c0d75fc9fc12af671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/libktorrent-20.11.80.tar.xz">libktorrent-20.11.80</a></td>
   <td align="right">590kB</td>
   <td><tt>bdf8e0c7f9c53c883253d9de4353c01a9bd0397e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/lokalize-20.11.80.tar.xz">lokalize-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>52b026a76adc5f45e2ca4a13e6df81779c883d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/lskat-20.11.80.tar.xz">lskat-20.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1070f748a30396b2cd61caca64e653a9212c3eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/mailcommon-20.11.80.tar.xz">mailcommon-20.11.80</a></td>
   <td align="right">706kB</td>
   <td><tt>d3a1aad2f6c6d573926fe1322620ae175f27611a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/mailimporter-20.11.80.tar.xz">mailimporter-20.11.80</a></td>
   <td align="right">535kB</td>
   <td><tt>81788bda61259e10b19399c9011fbcec14a62965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/marble-20.11.80.tar.xz">marble-20.11.80</a></td>
   <td align="right">49MB</td>
   <td><tt>261562db41a7d6f93060aa584397989339c98b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/markdownpart-20.11.80.tar.xz">markdownpart-20.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>613555cda365a29771cefc3513acd360ca07c3bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/mbox-importer-20.11.80.tar.xz">mbox-importer-20.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>7958378c2ad9cf338c97b669666fa37848637efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/messagelib-20.11.80.tar.xz">messagelib-20.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>a7b3957c1125e0baa94b2cbbaa91884f2ec068b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/minuet-20.11.80.tar.xz">minuet-20.11.80</a></td>
   <td align="right">26MB</td>
   <td><tt>b1618d6acf229be38a0dcddff28a321349078a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/okular-20.11.80.tar.xz">okular-20.11.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>84ed0bcb02fb740c7fde2a8e45aff38fbf068ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/palapeli-20.11.80.tar.xz">palapeli-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>699ae39f6c6ab2818f1b2cc690a4129595e65944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/parley-20.11.80.tar.xz">parley-20.11.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>3e37a8ecb669ccbf70d628d8a0bea304308e846f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/partitionmanager-20.11.80.tar.xz">partitionmanager-20.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6702bdcf48ed70e9a81b93cae33152c60d25d6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/picmi-20.11.80.tar.xz">picmi-20.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a631a3f9266eea0ff805b739a96c6f70af4c58ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/pimcommon-20.11.80.tar.xz">pimcommon-20.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>915630b23fa62ec4e7ee101052fd09bd8fd42f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/pim-data-exporter-20.11.80.tar.xz">pim-data-exporter-20.11.80</a></td>
   <td align="right">389kB</td>
   <td><tt>2cf409c6641d6129ec1323fccfd061ebd8b5e0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/pim-sieve-editor-20.11.80.tar.xz">pim-sieve-editor-20.11.80</a></td>
   <td align="right">443kB</td>
   <td><tt>3c48fe8dcbf4a304585af3e56541704363e05c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/poxml-20.11.80.tar.xz">poxml-20.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>e65a41e0af45fe3c85b70c09ea9a12c0d8df7935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/print-manager-20.11.80.tar.xz">print-manager-20.11.80</a></td>
   <td align="right">252kB</td>
   <td><tt>d07a305fcd666597d54d26724b28f68e67c05b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/rocs-20.11.80.tar.xz">rocs-20.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7d729838079159373fb5ef34758c7b0910b2b722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/signon-kwallet-extension-20.11.80.tar.xz">signon-kwallet-extension-20.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>bd67abeab6a5d20d9f92545a166de41ba636b1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/spectacle-20.11.80.tar.xz">spectacle-20.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>be1a0015976ccac725f40f24157869175ebcac29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/step-20.11.80.tar.xz">step-20.11.80</a></td>
   <td align="right">928kB</td>
   <td><tt>03944f4eba62dd894bce50a8d134b55e0827afd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/svgpart-20.11.80.tar.xz">svgpart-20.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>855f1c868bdf1a2c5eafbe50cff2fad116d6fe39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/sweeper-20.11.80.tar.xz">sweeper-20.11.80</a></td>
   <td align="right">363kB</td>
   <td><tt>bbc52469cf7db4170aec92db938c436e4a5aeab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/umbrello-20.11.80.tar.xz">umbrello-20.11.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>64e371f229ca3fb1d4b46e69b1f27aa3eddd4439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/yakuake-20.11.80.tar.xz">yakuake-20.11.80</a></td>
   <td align="right">372kB</td>
   <td><tt>dea42efae663e5a2dc92a6ba940b71c717d61721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.80/src/zeroconf-ioslave-20.11.80.tar.xz">zeroconf-ioslave-20.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>933448be7c4764b1daeebe38254d57e428f7e694</tt></td>
</tr>

</table>
