<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/bluedevil-5.12.0.tar.xz">bluedevil-5.12.0</a></td>
   <td align="right">146kB</td>
   <td><tt>de009f6c440cc89cdb6ca0c16e60d49bf419b1a195a5bb49b0316275619254ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/breeze-5.12.0.tar.xz">breeze-5.12.0</a></td>
   <td align="right">21MB</td>
   <td><tt>7272e96d1b0c81cb8384e99a334bb3c94aed90637c9b88e00241d9e0ed8470bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/breeze-grub-5.12.0.tar.xz">breeze-grub-5.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>463c14bd62f7a17b537155fdb376269f683efa0e05bd3c684d8b3a899493bcc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/breeze-gtk-5.12.0.tar.xz">breeze-gtk-5.12.0</a></td>
   <td align="right">208kB</td>
   <td><tt>63bb840dc97e4be3fce91da4d1ac18492b7d2f969e39657e1ef2f60565465f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/breeze-plymouth-5.12.0.tar.xz">breeze-plymouth-5.12.0</a></td>
   <td align="right">103kB</td>
   <td><tt>2f9c47e4121df3fb0e74cd18481981c2c8473eb911685ff96a457c24e1319fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/discover-5.12.0.tar.xz">discover-5.12.0</a></td>
   <td align="right">9.7MB</td>
   <td><tt>c20b740ce79226139fece42f5e2d9fb3407485a62e7d0a76e5709229d2cf8eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/drkonqi-5.12.0.tar.xz">drkonqi-5.12.0</a></td>
   <td align="right">722kB</td>
   <td><tt>d3ee2533393b5b0495c9f287075a06b664e9ba17da622dfe93c39170c8647d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kactivitymanagerd-5.12.0.tar.xz">kactivitymanagerd-5.12.0</a></td>
   <td align="right">82kB</td>
   <td><tt>7965611894fb368387ba6626f4d3b33900775031019bfb1449d120973c380720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kde-cli-tools-5.12.0.tar.xz">kde-cli-tools-5.12.0</a></td>
   <td align="right">557kB</td>
   <td><tt>9e27eff6a73935b504d7a8fbf35dd8fba353943da0378df6c2f0422c07bf7288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kdecoration-5.12.0.tar.xz">kdecoration-5.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>d75efdc5a64e0fd11cb54666bdb403fbe53077049d8ee49c174fd06e98aa092b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kde-gtk-config-5.12.0.tar.xz">kde-gtk-config-5.12.0</a></td>
   <td align="right">153kB</td>
   <td><tt>eaac67c464d52342c17cd36eb88ed1441f0acb17399174ea9299b7564ffdb594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kdeplasma-addons-5.12.0.tar.xz">kdeplasma-addons-5.12.0</a></td>
   <td align="right">572kB</td>
   <td><tt>1717f67907faee002006d4c11b95ec0100afbc6c0794aae065f1e226999fc49d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kgamma5-5.12.0.tar.xz">kgamma5-5.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>523767048e98ceaeb7425409f692fb60a53e2e56ca8b2a99cf6fc2442c7baded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/khotkeys-5.12.0.tar.xz">khotkeys-5.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2176032215369c9c4f3b5ac6a23c7c27d7fd2fc8f9082e9d9e555ed33771365c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kinfocenter-5.12.0.tar.xz">kinfocenter-5.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8001d61ad6adf705b46df3e829369e478a2803e17545e71850c84393764450de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kmenuedit-5.12.0.tar.xz">kmenuedit-5.12.0</a></td>
   <td align="right">637kB</td>
   <td><tt>89bb3e5da54e671fd1a30b5867da3534aa5efb6d97cb558a8660ecc5f4894509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kscreen-5.12.0.tar.xz">kscreen-5.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>9b661ef8a21a4a5bfc47e76f92c62c6893da4081de12eac07e549a87c14a9cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kscreenlocker-5.12.0.tar.xz">kscreenlocker-5.12.0</a></td>
   <td align="right">115kB</td>
   <td><tt>5c6002ba33e2337cfc05076bbaf58416a6f7f0a88663ccd806262e6fbb365383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/ksshaskpass-5.12.0.tar.xz">ksshaskpass-5.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>0cfc7925ca124264a7b00f3ca78c1900010071b4eaa39e66e72d79f7d52ebc50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/ksysguard-5.12.0.tar.xz">ksysguard-5.12.0</a></td>
   <td align="right">475kB</td>
   <td><tt>0b20c687cb5e0d2e5959e942ce05c9122e5b59f36bb05410f1d1b6a2b802746b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kwallet-pam-5.12.0.tar.xz">kwallet-pam-5.12.0</a></td>
   <td align="right">18kB</td>
   <td><tt>4ab3ed4d673812624571d5e77c4391f0d808286aa811d33f2270d6ee42899597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kwayland-integration-5.12.0.tar.xz">kwayland-integration-5.12.0</a></td>
   <td align="right">18kB</td>
   <td><tt>4e0ba30eb0d37884dc0951b2c797b7ff054be34432da414346db3deaf5c42c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kwin-5.12.0.tar.xz">kwin-5.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>73f6cec78dd3cd76caf26ba57f3d3deed94ad37458ed4aea70752eaffa5664c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/kwrited-5.12.0.tar.xz">kwrited-5.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>385e8a9f2099856527686a418f11905a78705f20764f6dd9f7fa0f5065dc822b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/libkscreen-5.12.0.tar.xz">libkscreen-5.12.0</a></td>
   <td align="right">92kB</td>
   <td><tt>9b9752e7ead91982a84ff064a64836ba824919db1ac4122a5a73d2f5ba8dab73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/libksysguard-5.12.0.tar.xz">libksysguard-5.12.0</a></td>
   <td align="right">556kB</td>
   <td><tt>899c35ed3f33c86286d425e54f9a0395c16bdfd8ab4a73893b359c2be2b5246c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/milou-5.12.0.tar.xz">milou-5.12.0</a></td>
   <td align="right">56kB</td>
   <td><tt>3c95f4e1267e3539be09ee54336097a6ca3fe2af74d0234ea54c930999739bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/oxygen-5.12.0.tar.xz">oxygen-5.12.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0d3aee5cbb72178cf5476439ba6febe5cfd103dd4b96ec5463e98502b567245b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-desktop-5.12.0.tar.xz">plasma-desktop-5.12.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>7a9f575f8d7c77c176e8bec9e3f3f41f4020055443bc25f79727c9570d494d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-integration-5.12.0.tar.xz">plasma-integration-5.12.0</a></td>
   <td align="right">51kB</td>
   <td><tt>1d78c5de77c7884b43ffac25f9a34aa4dbc3edeeac971c54be2fbac969bbad9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-nm-5.12.0.tar.xz">plasma-nm-5.12.0</a></td>
   <td align="right">684kB</td>
   <td><tt>3856baf7899eb69aa90fc84fa60defe548183f4624b9b58f2e06d879c5a8c822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-pa-5.12.0.tar.xz">plasma-pa-5.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>508ad16ab4260e864c4c0195ef32b11d52cf67e91995e75b964aab9e67422161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-sdk-5.12.0.tar.xz">plasma-sdk-5.12.0</a></td>
   <td align="right">244kB</td>
   <td><tt>6a4359270335cb51a51ffc897193f0a856f458d8a808a33985ad49420cd4eb0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-tests-5.12.0.tar.xz">plasma-tests-5.12.0</a></td>
   <td align="right">1kB</td>
   <td><tt>52d5abc2ae908151a61520e0557e38f1d7f0cf86974584ae7652147024750e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-vault-5.12.0.tar.xz">plasma-vault-5.12.0</a></td>
   <td align="right">99kB</td>
   <td><tt>04bf4ed734e3b3b6feef579eda24d2652968519ffb98f015b59605f27c40c8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-workspace-5.12.0.tar.xz">plasma-workspace-5.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d5e58c98a43eec206396cd7d3b1d3008c6edba07e9e92c593c24d321f13548b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plasma-workspace-wallpapers-5.12.0.tar.xz">plasma-workspace-wallpapers-5.12.0</a></td>
   <td align="right">43MB</td>
   <td><tt>c1366566cbfff626964b05e5c8655aa456a4ada0f1614717dfb6d0f09da38e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/plymouth-kcm-5.12.0.tar.xz">plymouth-kcm-5.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>e494a59e2797c4a595922643e9e19164c5592a7aec74598b94f2f3c030ff3487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/polkit-kde-agent-1-5.12.0.tar.xz">polkit-kde-agent-1-5.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>ee4486b6678b24ba5f9eb6ac8b36b07b34cb87f84e0a3183761a75414b3c0be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/powerdevil-5.12.0.tar.xz">powerdevil-5.12.0</a></td>
   <td align="right">370kB</td>
   <td><tt>f8f28d24c87319e2e700f62f32db873c28eb94b71288c71c706441e98a4dce71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/sddm-kcm-5.12.0.tar.xz">sddm-kcm-5.12.0</a></td>
   <td align="right">58kB</td>
   <td><tt>9b09d0446d96a2e2b69aee57afce7a8fbddf382a6c401f3a894f3bcc870c23fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/systemsettings-5.12.0.tar.xz">systemsettings-5.12.0</a></td>
   <td align="right">167kB</td>
   <td><tt>0b6d4bca5a09b2039d52ebad1bb5f8de71698b3e3fdf6f7ad9cc5688fe8ab144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/user-manager-5.12.0.tar.xz">user-manager-5.12.0</a></td>
   <td align="right">532kB</td>
   <td><tt>9b78880cd76c45a0e4bcca1dbcaf769988b394e1fe3f666310941960df6b9622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.0/xdg-desktop-portal-kde-5.12.0.tar.xz">xdg-desktop-portal-kde-5.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>8673abe0f07f3ce6db69cd480a7ab9e0ebf24c23078e76be2e7285d8648ae14e</tt></td>
</tr>

</table>
