
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/attica-5.90.0.tar.xz">attica-5.90.0</a></td>
   <td align="right">67kB</td>
   <td><tt>1a9c052e34e362960f69eb1c10bfc323ee60f534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/baloo-5.90.0.tar.xz">baloo-5.90.0</a></td>
   <td align="right">277kB</td>
   <td><tt>9c5e33e5d3e7b98d8d6fa730aa7fd3293bf0adba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/bluez-qt-5.90.0.tar.xz">bluez-qt-5.90.0</a></td>
   <td align="right">111kB</td>
   <td><tt>b26e7c00afb5d1f3a569960aae9459737c6a7662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/breeze-icons-5.90.0.tar.xz">breeze-icons-5.90.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>69745e3eb1784ecbf1a86c13c1fb95409c06aed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/extra-cmake-modules-5.90.0.tar.xz">extra-cmake-modules-5.90.0</a></td>
   <td align="right">315kB</td>
   <td><tt>862cf9f5863f2fea933d9ee3620812501fe9b502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/frameworkintegration-5.90.0.tar.xz">frameworkintegration-5.90.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>009e4df365d080433a63b930613976549d82ebca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kactivities-5.90.0.tar.xz">kactivities-5.90.0</a></td>
   <td align="right">72kB</td>
   <td><tt>2038d066aad9e927ecd9c4adc44c0c46aa87f93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kactivities-stats-5.90.0.tar.xz">kactivities-stats-5.90.0</a></td>
   <td align="right">82kB</td>
   <td><tt>db0170e6ff41a51262a9c7162860af4657501c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kapidox-5.90.0.tar.xz">kapidox-5.90.0</a></td>
   <td align="right">192kB</td>
   <td><tt>59d490b7640f366a05926d6f2588c88c4a36f939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/karchive-5.90.0.tar.xz">karchive-5.90.0</a></td>
   <td align="right">963kB</td>
   <td><tt>d35493b448172755bfd17acbe27f013f276f958f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kauth-5.90.0.tar.xz">kauth-5.90.0</a></td>
   <td align="right">88kB</td>
   <td><tt>4fc438aa7b232c856db3da4a8fabd87638a5ea0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kbookmarks-5.90.0.tar.xz">kbookmarks-5.90.0</a></td>
   <td align="right">127kB</td>
   <td><tt>a5c74d3065da755666418a8d9debb3a110475bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcalendarcore-5.90.0.tar.xz">kcalendarcore-5.90.0</a></td>
   <td align="right">255kB</td>
   <td><tt>23376ca4ab18ac4b169160119d58bde394c98b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcmutils-5.90.0.tar.xz">kcmutils-5.90.0</a></td>
   <td align="right">167kB</td>
   <td><tt>bc9c8f7f524280d8cbd0770b0f1f3d7d41c6ca40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcodecs-5.90.0.tar.xz">kcodecs-5.90.0</a></td>
   <td align="right">231kB</td>
   <td><tt>429bdbebc06d9105229f4858ae4932df401b1cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcompletion-5.90.0.tar.xz">kcompletion-5.90.0</a></td>
   <td align="right">122kB</td>
   <td><tt>e658c0e869eeac92c04bde6024e9c29a3ce99aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kconfig-5.90.0.tar.xz">kconfig-5.90.0</a></td>
   <td align="right">273kB</td>
   <td><tt>3f5af655360ccc538274a3363fd3bb44ee034406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kconfigwidgets-5.90.0.tar.xz">kconfigwidgets-5.90.0</a></td>
   <td align="right">404kB</td>
   <td><tt>0a1b8a0a9f9907d636f139c97f835fea12ccdf0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcontacts-5.90.0.tar.xz">kcontacts-5.90.0</a></td>
   <td align="right">178kB</td>
   <td><tt>8ab4452a43a209983b1216051d38ab718205d678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcoreaddons-5.90.0.tar.xz">kcoreaddons-5.90.0</a></td>
   <td align="right">435kB</td>
   <td><tt>a8f0676a72bc1157af1891b425676485ce4452ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kcrash-5.90.0.tar.xz">kcrash-5.90.0</a></td>
   <td align="right">27kB</td>
   <td><tt>ea1feb868f8974958f97411c782c2c19641b0433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdav-5.90.0.tar.xz">kdav-5.90.0</a></td>
   <td align="right">62kB</td>
   <td><tt>c0ae5ff8935c71149456e48ee4f657b6f0421765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdbusaddons-5.90.0.tar.xz">kdbusaddons-5.90.0</a></td>
   <td align="right">46kB</td>
   <td><tt>6eb285016afe9516338e569ed864746a92993a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdeclarative-5.90.0.tar.xz">kdeclarative-5.90.0</a></td>
   <td align="right">194kB</td>
   <td><tt>7e8c86b44bb0c42208ca31cf2b33d839bf280aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kded-5.90.0.tar.xz">kded-5.90.0</a></td>
   <td align="right">38kB</td>
   <td><tt>77747d7973e582f1753fbee11c85b847110c734a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdesu-5.90.0.tar.xz">kdesu-5.90.0</a></td>
   <td align="right">53kB</td>
   <td><tt>c7216d06137000a5717033e1eba31185332c473c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdnssd-5.90.0.tar.xz">kdnssd-5.90.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0084a9eb8a1afbc7c6c7f67e6281836e54fc9f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kdoctools-5.90.0.tar.xz">kdoctools-5.90.0</a></td>
   <td align="right">429kB</td>
   <td><tt>fd94a1cb54da377a44a12b8f052c0d77345b348a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kemoticons-5.90.0.tar.xz">kemoticons-5.90.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>94bef61550ee03ea5918f79cefb5784eaba9e859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kfilemetadata-5.90.0.tar.xz">kfilemetadata-5.90.0</a></td>
   <td align="right">419kB</td>
   <td><tt>32d8761b571166879a2be8641b280e017517cc5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kglobalaccel-5.90.0.tar.xz">kglobalaccel-5.90.0</a></td>
   <td align="right">91kB</td>
   <td><tt>00822ec70e2872a2286cb859af0cd9e5d0f49c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kguiaddons-5.90.0.tar.xz">kguiaddons-5.90.0</a></td>
   <td align="right">68kB</td>
   <td><tt>f7c0fab3201b2430624affaf6c8969baa47a5d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kholidays-5.90.0.tar.xz">kholidays-5.90.0</a></td>
   <td align="right">229kB</td>
   <td><tt>31f06f56a473fd1d250554f4b455e60a4fa40f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/ki18n-5.90.0.tar.xz">ki18n-5.90.0</a></td>
   <td align="right">934kB</td>
   <td><tt>dd84641343b4bb91066fa7ca12aff4bee9998d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kiconthemes-5.90.0.tar.xz">kiconthemes-5.90.0</a></td>
   <td align="right">220kB</td>
   <td><tt>13afd648e9ef0fd0c7189c9c87ed81786f32a93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kidletime-5.90.0.tar.xz">kidletime-5.90.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f68874b7cba1ee5ab8e7d29338c51e86a705e7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kimageformats-5.90.0.tar.xz">kimageformats-5.90.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9f18ce3826f7c90d58f8d01492fd6bba10a762f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kinit-5.90.0.tar.xz">kinit-5.90.0</a></td>
   <td align="right">116kB</td>
   <td><tt>8cb7f01430918338e5bf15cc2c3936e703062332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kio-5.90.0.tar.xz">kio-5.90.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>21dd4a7b1b166e081f1217fa213ad2918a24869e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kirigami2-5.90.0.tar.xz">kirigami2-5.90.0</a></td>
   <td align="right">341kB</td>
   <td><tt>8b76ed2a1f21cfbee07e2634a190ac1a87efb392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kitemmodels-5.90.0.tar.xz">kitemmodels-5.90.0</a></td>
   <td align="right">397kB</td>
   <td><tt>8dad2e59e000fde31cdf0b16477026c31a0e4730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kitemviews-5.90.0.tar.xz">kitemviews-5.90.0</a></td>
   <td align="right">75kB</td>
   <td><tt>d7bc386c5cabedbe4a4ce5945b751417b8c17606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kjobwidgets-5.90.0.tar.xz">kjobwidgets-5.90.0</a></td>
   <td align="right">99kB</td>
   <td><tt>d50dcce1fdbbbed4a56f4c06c7829ddf3cd4e32a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/knewstuff-5.90.0.tar.xz">knewstuff-5.90.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f6e9949c2d39770ec0ca57255e4ccda7b7ec01ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/knotifications-5.90.0.tar.xz">knotifications-5.90.0</a></td>
   <td align="right">127kB</td>
   <td><tt>c0aac8dd4a45b679e3e03c02eed1e7f771cf06d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/knotifyconfig-5.90.0.tar.xz">knotifyconfig-5.90.0</a></td>
   <td align="right">85kB</td>
   <td><tt>1334a34d975acbf6beae03ad990e0f581d355977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kpackage-5.90.0.tar.xz">kpackage-5.90.0</a></td>
   <td align="right">137kB</td>
   <td><tt>79ab8899b83040110cfedd7fbae8ea8efa56bed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kparts-5.90.0.tar.xz">kparts-5.90.0</a></td>
   <td align="right">191kB</td>
   <td><tt>3e581782032c74198aa02dae52ccbe176cc4e776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kpeople-5.90.0.tar.xz">kpeople-5.90.0</a></td>
   <td align="right">57kB</td>
   <td><tt>f7579d70a5444245864c3d01d1109f99e289104a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kplotting-5.90.0.tar.xz">kplotting-5.90.0</a></td>
   <td align="right">32kB</td>
   <td><tt>805597b553b8cf6f478b84da39efd0da240faae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kpty-5.90.0.tar.xz">kpty-5.90.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d51196bda776aa2989a552887f801b958d068dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kquickcharts-5.90.0.tar.xz">kquickcharts-5.90.0</a></td>
   <td align="right">105kB</td>
   <td><tt>a922ae3f7586f287d75611d3beb3bc4b66564ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/krunner-5.90.0.tar.xz">krunner-5.90.0</a></td>
   <td align="right">82kB</td>
   <td><tt>e2c38fb1fa8bef8ac087ef6488b67831495bc414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kservice-5.90.0.tar.xz">kservice-5.90.0</a></td>
   <td align="right">260kB</td>
   <td><tt>9b51b70eee4e32250c88b15cd666ed4a6d215192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/ktexteditor-5.90.0.tar.xz">ktexteditor-5.90.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cb95612b073b8ef05562c9ad720f11b2b540d53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/ktextwidgets-5.90.0.tar.xz">ktextwidgets-5.90.0</a></td>
   <td align="right">321kB</td>
   <td><tt>71b5c8e128bb5cfe0bdbb1c90d0c21c6e46c4966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kunitconversion-5.90.0.tar.xz">kunitconversion-5.90.0</a></td>
   <td align="right">891kB</td>
   <td><tt>3e46d159fa60a22c293f8be66953dd0cb8c12686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kwallet-5.90.0.tar.xz">kwallet-5.90.0</a></td>
   <td align="right">297kB</td>
   <td><tt>0682825c7d2446e0ddb68625f646ca09fe7974ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kwayland-5.90.0.tar.xz">kwayland-5.90.0</a></td>
   <td align="right">326kB</td>
   <td><tt>0f0baff83ee57c18606b8897a9cdb870835e033f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kwidgetsaddons-5.90.0.tar.xz">kwidgetsaddons-5.90.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dd0a041afebb598ad345e20d2cd4f36113af1581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kwindowsystem-5.90.0.tar.xz">kwindowsystem-5.90.0</a></td>
   <td align="right">177kB</td>
   <td><tt>4fd805a815be2cf5413ca658f2c491df0cf12c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/kxmlgui-5.90.0.tar.xz">kxmlgui-5.90.0</a></td>
   <td align="right">867kB</td>
   <td><tt>a3d6b1618c8399ec6303e224407fe3c99c203766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/modemmanager-qt-5.90.0.tar.xz">modemmanager-qt-5.90.0</a></td>
   <td align="right">118kB</td>
   <td><tt>4613c25d00c0e5bdc063283913ccd3adf7979ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/networkmanager-qt-5.90.0.tar.xz">networkmanager-qt-5.90.0</a></td>
   <td align="right">193kB</td>
   <td><tt>1076991fca41c53be65009cd15210cf593b6aad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/oxygen-icons5-5.90.0.tar.xz">oxygen-icons5-5.90.0</a></td>
   <td align="right">227MB</td>
   <td><tt>06c181a631df620d23dd4591cc7a6516636ca7fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/plasma-framework-5.90.0.tar.xz">plasma-framework-5.90.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3672be588c9f62b90a71daa08bf4a45cc40b8828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/prison-5.90.0.tar.xz">prison-5.90.0</a></td>
   <td align="right">46kB</td>
   <td><tt>4fa4c7157374741ff6f1f0dbe491eace0536ba3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/purpose-5.90.0.tar.xz">purpose-5.90.0</a></td>
   <td align="right">167kB</td>
   <td><tt>fa6be43756327267a046dc4cde38775821bb6f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/qqc2-desktop-style-5.90.0.tar.xz">qqc2-desktop-style-5.90.0</a></td>
   <td align="right">63kB</td>
   <td><tt>b50d31bba718d9336639ff7ea5b631e6efc8165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/solid-5.90.0.tar.xz">solid-5.90.0</a></td>
   <td align="right">250kB</td>
   <td><tt>18ff2ac7ca20dba74c327bfae5c762b946bcc6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/sonnet-5.90.0.tar.xz">sonnet-5.90.0</a></td>
   <td align="right">300kB</td>
   <td><tt>3da8cf8f27fb9733e75cebc8580ab801ee6e71bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/syndication-5.90.0.tar.xz">syndication-5.90.0</a></td>
   <td align="right">498kB</td>
   <td><tt>f86cf0bfa97a683552f1b0ea3981ac06e79c4104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/syntax-highlighting-5.90.0.tar.xz">syntax-highlighting-5.90.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fff542a4fe592a7ff87987289a830ab3e1515607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.90/threadweaver-5.90.0.tar.xz">threadweaver-5.90.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5e6cb55082be8d04a7762a5a2fc9e70b79c98ffd</tt></td>
</tr>

</table>
