
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/attica-5.71.0.tar.xz">attica-5.71.0</a></td>
   <td align="right">65kB</td>
   <td><tt>91f31967241d391f11845989a62f2c6f7dda4462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/baloo-5.71.0.tar.xz">baloo-5.71.0</a></td>
   <td align="right">270kB</td>
   <td><tt>106c9e430ebafd52ebad08c70c1195c7759c4258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/bluez-qt-5.71.0.tar.xz">bluez-qt-5.71.0</a></td>
   <td align="right">100kB</td>
   <td><tt>0de7e99da545a1c2f2ededdd349ce1e850905f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/breeze-icons-5.71.0.tar.xz">breeze-icons-5.71.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2f2d12efb65dd33ea1b13fb6cd0699acd304aff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/extra-cmake-modules-5.71.0.tar.xz">extra-cmake-modules-5.71.0</a></td>
   <td align="right">335kB</td>
   <td><tt>3469d57a131a138a63189b783ac1bd7dcc958406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/frameworkintegration-5.71.0.tar.xz">frameworkintegration-5.71.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d123da6d07b5ef855217ce11a1a60903fd42d71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kactivities-5.71.0.tar.xz">kactivities-5.71.0</a></td>
   <td align="right">70kB</td>
   <td><tt>968079bf3e14baa4cc5f5f1634e7a849d3d8a458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kactivities-stats-5.71.0.tar.xz">kactivities-stats-5.71.0</a></td>
   <td align="right">75kB</td>
   <td><tt>867614a3ba2a8cbaa21dd129fd5fda81d209f997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kapidox-5.71.0.tar.xz">kapidox-5.71.0</a></td>
   <td align="right">154kB</td>
   <td><tt>a02cf57b53078ee80d9fc27d349385224098b4b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/karchive-5.71.0.tar.xz">karchive-5.71.0</a></td>
   <td align="right">964kB</td>
   <td><tt>4410b32639187cde1a8a451d1cef9f5eb1c4707e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kauth-5.71.0.tar.xz">kauth-5.71.0</a></td>
   <td align="right">85kB</td>
   <td><tt>fe09a46ff9e6be509d44f209d67621013c274b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kbookmarks-5.71.0.tar.xz">kbookmarks-5.71.0</a></td>
   <td align="right">120kB</td>
   <td><tt>8821e96f8dc24343f511859f98cb4941a7d4e674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcalendarcore-5.71.0.tar.xz">kcalendarcore-5.71.0</a></td>
   <td align="right">248kB</td>
   <td><tt>49a38cf8a5c04714342260037fa297ab697ae111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcmutils-5.71.0.tar.xz">kcmutils-5.71.0</a></td>
   <td align="right">239kB</td>
   <td><tt>7d3ff3fa2339dc0ffff85df32068b3a940ad83bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcodecs-5.71.0.tar.xz">kcodecs-5.71.0</a></td>
   <td align="right">224kB</td>
   <td><tt>1148734279f2e391ae1ab3b7283a774bfdb6540b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcompletion-5.71.0.tar.xz">kcompletion-5.71.0</a></td>
   <td align="right">117kB</td>
   <td><tt>88711863dcecebedd759b87955708d130df0fe39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kconfig-5.71.0.tar.xz">kconfig-5.71.0</a></td>
   <td align="right">256kB</td>
   <td><tt>8e2c46a5a127fcfbe577058259e28eb2633631dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kconfigwidgets-5.71.0.tar.xz">kconfigwidgets-5.71.0</a></td>
   <td align="right">375kB</td>
   <td><tt>7f9e9eea2279473041764770afe2016e0891508a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcontacts-5.71.0.tar.xz">kcontacts-5.71.0</a></td>
   <td align="right">531kB</td>
   <td><tt>cd5956d7a0b0ae39fb4ce6457d951dcdbafd9969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcoreaddons-5.71.0.tar.xz">kcoreaddons-5.71.0</a></td>
   <td align="right">397kB</td>
   <td><tt>291411502f52588e086d8bd5f5f8f9145480083b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kcrash-5.71.0.tar.xz">kcrash-5.71.0</a></td>
   <td align="right">22kB</td>
   <td><tt>087ee71e86f1ecebabfc6f219e2ddfa320a61e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kdbusaddons-5.71.0.tar.xz">kdbusaddons-5.71.0</a></td>
   <td align="right">43kB</td>
   <td><tt>172f63cafe74d88afa481de2ed964d146042103e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kdeclarative-5.71.0.tar.xz">kdeclarative-5.71.0</a></td>
   <td align="right">172kB</td>
   <td><tt>d0afad0e00ff176bb8a25893a3e38feb47d4a168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kded-5.71.0.tar.xz">kded-5.71.0</a></td>
   <td align="right">37kB</td>
   <td><tt>cbab49266b6d07aa5df51e8df712c56e45b3cab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kdesu-5.71.0.tar.xz">kdesu-5.71.0</a></td>
   <td align="right">46kB</td>
   <td><tt>d2d611a29f463bcd3037a72cec3d698550983484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kdnssd-5.71.0.tar.xz">kdnssd-5.71.0</a></td>
   <td align="right">58kB</td>
   <td><tt>2d4ca8c8029a1b84572799b95dae5b6756461865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kdoctools-5.71.0.tar.xz">kdoctools-5.71.0</a></td>
   <td align="right">416kB</td>
   <td><tt>96af1e5b0999667a47728cb6c4923487913169bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kemoticons-5.71.0.tar.xz">kemoticons-5.71.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fd87033087e62efc13a71b693490f5ae87a23881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kfilemetadata-5.71.0.tar.xz">kfilemetadata-5.71.0</a></td>
   <td align="right">415kB</td>
   <td><tt>aa168e29d963c6097d734f1b57f5c5b1b3352a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kglobalaccel-5.71.0.tar.xz">kglobalaccel-5.71.0</a></td>
   <td align="right">82kB</td>
   <td><tt>5cdcfa1f6018b745be8178f17315f56164448f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kguiaddons-5.71.0.tar.xz">kguiaddons-5.71.0</a></td>
   <td align="right">51kB</td>
   <td><tt>eb5223dbf56138f0da78da220355a29f965fcd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kholidays-5.71.0.tar.xz">kholidays-5.71.0</a></td>
   <td align="right">220kB</td>
   <td><tt>5bf99401c55b709b55bf999eacfe21bb27bd33b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/ki18n-5.71.0.tar.xz">ki18n-5.71.0</a></td>
   <td align="right">577kB</td>
   <td><tt>a9f464f9a3171c9081a6df03c9871445e75de965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kiconthemes-5.71.0.tar.xz">kiconthemes-5.71.0</a></td>
   <td align="right">205kB</td>
   <td><tt>9b94f3adf4079d501df2a091263df599d5a02877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kidletime-5.71.0.tar.xz">kidletime-5.71.0</a></td>
   <td align="right">28kB</td>
   <td><tt>eb4c6509dbfccbbe18d0d5084146d2abcd80a994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kimageformats-5.71.0.tar.xz">kimageformats-5.71.0</a></td>
   <td align="right">394kB</td>
   <td><tt>0f149f9f9e2a788f9d370fa7b517b597e6ac2c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kinit-5.71.0.tar.xz">kinit-5.71.0</a></td>
   <td align="right">116kB</td>
   <td><tt>1d5bdae8f39dee61ef799e8b9e008f8e4365753c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kio-5.71.0.tar.xz">kio-5.71.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>7d4d6ecc846c5f24400e3e4e47eaaa0f9f0e6aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kirigami2-5.71.0.tar.xz">kirigami2-5.71.0</a></td>
   <td align="right">264kB</td>
   <td><tt>5e9a6cd596648e06c069e7ba9d1258618477063c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kitemmodels-5.71.0.tar.xz">kitemmodels-5.71.0</a></td>
   <td align="right">390kB</td>
   <td><tt>3a6fa5bc06ca97c00dd8e7d1a38a29336a8f1e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kitemviews-5.71.0.tar.xz">kitemviews-5.71.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d2d73f83401924eba93c63d269669d0ccad81595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kjobwidgets-5.71.0.tar.xz">kjobwidgets-5.71.0</a></td>
   <td align="right">86kB</td>
   <td><tt>69b7da1e70baf0e0e3c583c93efdf0300ef2968b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/knewstuff-5.71.0.tar.xz">knewstuff-5.71.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3abe74298ba90c2208e3a5beb90056f077fee35c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/knotifications-5.71.0.tar.xz">knotifications-5.71.0</a></td>
   <td align="right">115kB</td>
   <td><tt>4deb97ea2bc04b608f8f5ba1f398d193629cacbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/knotifyconfig-5.71.0.tar.xz">knotifyconfig-5.71.0</a></td>
   <td align="right">83kB</td>
   <td><tt>ba9e997b789e691bf243e5eba10130c704a7c20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kpackage-5.71.0.tar.xz">kpackage-5.71.0</a></td>
   <td align="right">136kB</td>
   <td><tt>7991064fddac2511c9aa5711a3c0181480431aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kparts-5.71.0.tar.xz">kparts-5.71.0</a></td>
   <td align="right">184kB</td>
   <td><tt>916415218de449da629978843c09a0fa18bae931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kpeople-5.71.0.tar.xz">kpeople-5.71.0</a></td>
   <td align="right">60kB</td>
   <td><tt>15ae8bd234c2aa7609e781ce9630538c39b65c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kplotting-5.71.0.tar.xz">kplotting-5.71.0</a></td>
   <td align="right">32kB</td>
   <td><tt>34b0174214721ae0094bda3a018e977b3452147c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kpty-5.71.0.tar.xz">kpty-5.71.0</a></td>
   <td align="right">57kB</td>
   <td><tt>8b11361d3d0baa1c7aea466d92e81ee4cd2ba17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kquickcharts-5.71.0.tar.xz">kquickcharts-5.71.0</a></td>
   <td align="right">94kB</td>
   <td><tt>2fe6a2829f13d27a9542d575658c62559e3d3d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/krunner-5.71.0.tar.xz">krunner-5.71.0</a></td>
   <td align="right">62kB</td>
   <td><tt>ad0a7e61b76cdc4a4e40315d1668f001dbad0c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kservice-5.71.0.tar.xz">kservice-5.71.0</a></td>
   <td align="right">253kB</td>
   <td><tt>68253204d51f365b9658456152bab600a6074cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/ktexteditor-5.71.0.tar.xz">ktexteditor-5.71.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>20645a6b2d1856a9d5325e676382e3a5998091c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/ktextwidgets-5.71.0.tar.xz">ktextwidgets-5.71.0</a></td>
   <td align="right">315kB</td>
   <td><tt>f69ff0cce3933fadf87baec6ecc3624f89655aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kunitconversion-5.71.0.tar.xz">kunitconversion-5.71.0</a></td>
   <td align="right">844kB</td>
   <td><tt>fba1e6083e8e3a1f65b4ff583cccb22745e70533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kwallet-5.71.0.tar.xz">kwallet-5.71.0</a></td>
   <td align="right">292kB</td>
   <td><tt>7328edbfd7a70e78359bba3d91093a2511f06046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kwayland-5.71.0.tar.xz">kwayland-5.71.0</a></td>
   <td align="right">339kB</td>
   <td><tt>eb823631054cff994c093bd4d78dc49e1039f0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kwidgetsaddons-5.71.0.tar.xz">kwidgetsaddons-5.71.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ed628a189b889cd3e5b1f9fcc10f2a0d4e1dd6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kwindowsystem-5.71.0.tar.xz">kwindowsystem-5.71.0</a></td>
   <td align="right">175kB</td>
   <td><tt>a630eea1ba675827cdda085f024f51b3de4b195a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/kxmlgui-5.71.0.tar.xz">kxmlgui-5.71.0</a></td>
   <td align="right">843kB</td>
   <td><tt>5cd4d97842d91fe3daaf909f8b81cbae6ffaff19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/modemmanager-qt-5.71.0.tar.xz">modemmanager-qt-5.71.0</a></td>
   <td align="right">111kB</td>
   <td><tt>f936bb1997ae8d939b1493dee8a7bb4058bbb213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/networkmanager-qt-5.71.0.tar.xz">networkmanager-qt-5.71.0</a></td>
   <td align="right">191kB</td>
   <td><tt>a6d1315bc18d88fea0b790cf63cb8cafb756b32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/oxygen-icons5-5.71.0.tar.xz">oxygen-icons5-5.71.0</a></td>
   <td align="right">225MB</td>
   <td><tt>05b0b6332cdae0318fc75f38fac201ca1741e178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/plasma-framework-5.71.0.tar.xz">plasma-framework-5.71.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>acfea8ff807a89c641073325a99cbb1b59d9fd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/prison-5.71.0.tar.xz">prison-5.71.0</a></td>
   <td align="right">40kB</td>
   <td><tt>2d29f51b55f1a6d0b97cfe4b8f9572b3c1c3cc15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/purpose-5.71.0.tar.xz">purpose-5.71.0</a></td>
   <td align="right">151kB</td>
   <td><tt>c997d701953071e240119070ed27e6e6a4c54264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/qqc2-desktop-style-5.71.0.tar.xz">qqc2-desktop-style-5.71.0</a></td>
   <td align="right">57kB</td>
   <td><tt>fb11584a1575e48b179952b3d8f44485c262f818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/solid-5.71.0.tar.xz">solid-5.71.0</a></td>
   <td align="right">263kB</td>
   <td><tt>15a3fe6f4802973802f5cdb74a8bdeb92d02215c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/sonnet-5.71.0.tar.xz">sonnet-5.71.0</a></td>
   <td align="right">287kB</td>
   <td><tt>0fb864f83081464baf34823a2c5134ae9819874f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/syndication-5.71.0.tar.xz">syndication-5.71.0</a></td>
   <td align="right">496kB</td>
   <td><tt>332d77b97576c3d7f39b8c0df042e389dfdecfd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/syntax-highlighting-5.71.0.tar.xz">syntax-highlighting-5.71.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>77cac083ba5fc81ad229324732c4cb47695913d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.71/threadweaver-5.71.0.tar.xz">threadweaver-5.71.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>53cfea7dc95f42d21712b3302d77731b4b36f7cb</tt></td>
</tr>

</table>
