<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeaccessibility-4.4.4.tar.bz2">kdeaccessibility-4.4.4</a></td><td align="right">5,4MB</td><td><tt>41a07301b86c37a39689132b1662c51751ee4833</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeadmin-4.4.4.tar.bz2">kdeadmin-4.4.4</a></td><td align="right">1,4MB</td><td><tt>1a473fecb3a5fe996a1567463622037538a876d4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeartwork-4.4.4.tar.bz2">kdeartwork-4.4.4</a></td><td align="right">70MB</td><td><tt>7a0dd910a97a1bc9e5a98f4d83104f287f4534d5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdebase-4.4.4.tar.bz2">kdebase-4.4.4</a></td><td align="right">3,9MB</td><td><tt>96c8b34fa388831fba2fe154b27d04514e87b34f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdebase-runtime-4.4.4.tar.bz2">kdebase-runtime-4.4.4</a></td><td align="right">7,0MB</td><td><tt>dee7405e7410a7583567a0cc1e76d0d1b0e917ca</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdebase-workspace-4.4.4.tar.bz2">kdebase-workspace-4.4.4</a></td><td align="right">74MB</td><td><tt>7b20bc91a5969b4c42c83076926cf6838b2ba47b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdebindings-4.4.4.tar.bz2">kdebindings-4.4.4</a></td><td align="right">4,9MB</td><td><tt>db5afa2a70558e34838a0f9296f008035e03f064</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeedu-4.4.4.tar.bz2">kdeedu-4.4.4</a></td><td align="right">58MB</td><td><tt>917a6e998b2eba31e241d208df7c57acf1c68550</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdegames-4.4.4.tar.bz2">kdegames-4.4.4</a></td><td align="right">67MB</td><td><tt>30560250375b4e18441caa115efb01c8591964e5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdegraphics-4.4.4.tar.bz2">kdegraphics-4.4.4</a></td><td align="right">3,7MB</td><td><tt>cdec759477af915fe661b4a4e605708cdb2eebd8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdelibs-4.4.4.tar.bz2">kdelibs-4.4.4</a></td><td align="right">14MB</td><td><tt>80bc85618e628986da6ac364507188ae2c8ff95b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdemultimedia-4.4.4.tar.bz2">kdemultimedia-4.4.4</a></td><td align="right">1,4MB</td><td><tt>0b7aa2105995cea9c12273cd53016f1abd5b1714</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdenetwork-4.4.4.tar.bz2">kdenetwork-4.4.4</a></td><td align="right">8,0MB</td><td><tt>1706b009d723897cbc9ad9b0c1743873e8e79362</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdepim-4.4.4.tar.bz2">kdepim-4.4.4</a></td><td align="right">9,0MB</td><td><tt>8edd0abf479d29b55463d8f8c698477f66120ed6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdepimlibs-4.4.4.tar.bz2">kdepimlibs-4.4.4</a></td><td align="right">2,4MB</td><td><tt>6e59063d018583227d0427eb85fa51fc7efa9652</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdepim-runtime-4.4.4.tar.bz2">kdepim-runtime-4.4.4</a></td><td align="right">620KB</td><td><tt>18e5ec39f4b39f9d524cee82b5037e5ba6c2b417</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeplasma-addons-4.4.4.tar.bz2">kdeplasma-addons-4.4.4</a></td><td align="right">1,6MB</td><td><tt>0fdd55b878b82f7c69c7e97dac65b69945ddf90c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdesdk-4.4.4.tar.bz2">kdesdk-4.4.4</a></td><td align="right">5,4MB</td><td><tt>f62a54f7d1e6b260f548c9031c5ddcafac0c9eaf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdetoys-4.4.4.tar.bz2">kdetoys-4.4.4</a></td><td align="right">1,3MB</td><td><tt>ac0a0c83a1d4960f1acde532734c7e1eebc49ea7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdeutils-4.4.4.tar.bz2">kdeutils-4.4.4</a></td><td align="right">2,6MB</td><td><tt>9a8e3358862151417f4d10a1c19839442b077e52</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/kdewebdev-4.4.4.tar.bz2">kdewebdev-4.4.4</a></td><td align="right">2,1MB</td><td><tt>b72201f03ffb1903f82d5b9b3ed6c74ccd081a93</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.4/src/oxygen-icons-4.4.4.tar.bz2">oxygen-icons-4.4.4</a></td><td align="right">131MB</td><td><tt>f22c4f03c94a551619bad1ea39fa03880f6a6c16</tt></td></tr>
</table>
