<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-18.12.0.tar.xz">akonadi-18.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ac17886a7d10d3e2a77d1f87c0682996db23e380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-calendar-18.12.0.tar.xz">akonadi-calendar-18.12.0</a></td>
   <td align="right">325kB</td>
   <td><tt>297b10ea1b3934c9f7a7db32271fa62ce9844f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-calendar-tools-18.12.0.tar.xz">akonadi-calendar-tools-18.12.0</a></td>
   <td align="right">219kB</td>
   <td><tt>6cebc468c26f1437ff5af7fd70bcc7944eb70a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadiconsole-18.12.0.tar.xz">akonadiconsole-18.12.0</a></td>
   <td align="right">189kB</td>
   <td><tt>cf5e45b4683425fd4cfb293a00c18635a407ea22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-contacts-18.12.0.tar.xz">akonadi-contacts-18.12.0</a></td>
   <td align="right">381kB</td>
   <td><tt>4d8799bee801b89ee8636e5b30fdb02ea6fdeeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-import-wizard-18.12.0.tar.xz">akonadi-import-wizard-18.12.0</a></td>
   <td align="right">428kB</td>
   <td><tt>0c94169692d50683a65a971e38ee07a3ae9651f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-mime-18.12.0.tar.xz">akonadi-mime-18.12.0</a></td>
   <td align="right">133kB</td>
   <td><tt>019b48bc86c9109501ac27ea562189143a0ce4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-notes-18.12.0.tar.xz">akonadi-notes-18.12.0</a></td>
   <td align="right">23kB</td>
   <td><tt>1656ab8ed12c4581d67c13a661cce34dad2f613f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akonadi-search-18.12.0.tar.xz">akonadi-search-18.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>6b17a63db262595b3d1c977ca0a48da4525d6df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/akregator-18.12.0.tar.xz">akregator-18.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>db373548e6e0ad8047f76731cf6352c4d41b1525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/analitza-18.12.0.tar.xz">analitza-18.12.0</a></td>
   <td align="right">324kB</td>
   <td><tt>959f7c0a7238484ed0964be4e8f6662fcef58b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ark-18.12.0.tar.xz">ark-18.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f696cdadb74692dda677fbcf3caac5e7654e3784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/artikulate-18.12.0.tar.xz">artikulate-18.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>f2d638e362abf588170b8a5fb6af845959cf7ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/audiocd-kio-18.12.0.tar.xz">audiocd-kio-18.12.0</a></td>
   <td align="right">244kB</td>
   <td><tt>d55dffcc625a4edb28ef093179a3d311d71a56ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/baloo-widgets-18.12.0.tar.xz">baloo-widgets-18.12.0</a></td>
   <td align="right">239kB</td>
   <td><tt>18a860f1e71fbc2d2d71315f78ec3839b318d694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/blinken-18.12.0.tar.xz">blinken-18.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>71191904c697ed5ee8d2297e24a722c08c463a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/bomber-18.12.0.tar.xz">bomber-18.12.0</a></td>
   <td align="right">800kB</td>
   <td><tt>6c399107cc5bbd0daeea45345492ed3332370d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/bovo-18.12.0.tar.xz">bovo-18.12.0</a></td>
   <td align="right">194kB</td>
   <td><tt>a0e9725a6a5680539128e01dc0a45ebf84668be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/calendarsupport-18.12.0.tar.xz">calendarsupport-18.12.0</a></td>
   <td align="right">631kB</td>
   <td><tt>72bb6dc74062bcc6e663660eac3b94aa91f6d150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/cantor-18.12.0.tar.xz">cantor-18.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ec025ee25b95469c05be865c175ce8be667cae6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/cervisia-18.12.0.tar.xz">cervisia-18.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>29987d5983e25b2a84870b02224041d0fa695931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/dolphin-18.12.0.tar.xz">dolphin-18.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>6fba0cd6a1659cdfb070c8510bb0e92be115492f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/dolphin-plugins-18.12.0.tar.xz">dolphin-plugins-18.12.0</a></td>
   <td align="right">187kB</td>
   <td><tt>7929c1c4bfc99c0daf1a7d31276165140e531fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/dragon-18.12.0.tar.xz">dragon-18.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>57641737878c413159688cfb4c60b8f047404fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/eventviews-18.12.0.tar.xz">eventviews-18.12.0</a></td>
   <td align="right">432kB</td>
   <td><tt>d8ae7029ce0f7ac88c78e278f87bb9fb0bcdc43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ffmpegthumbs-18.12.0.tar.xz">ffmpegthumbs-18.12.0</a></td>
   <td align="right">21kB</td>
   <td><tt>fa3fd75223baf93aa64be96baaae88da2b334f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/filelight-18.12.0.tar.xz">filelight-18.12.0</a></td>
   <td align="right">644kB</td>
   <td><tt>dc87d2e44804d11697bf34eac66f23805a4ac9b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/granatier-18.12.0.tar.xz">granatier-18.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>60ded3ab3c7fee711502e7c19d24e092de8f8dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/grantlee-editor-18.12.0.tar.xz">grantlee-editor-18.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>ef17ebf8f76ccbaff18f2ee669aaaf798ca47911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/grantleetheme-18.12.0.tar.xz">grantleetheme-18.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>b983021d100315078571d89641eb71bb7672ce63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/gwenview-18.12.0.tar.xz">gwenview-18.12.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>a7dbcf95e8b583ee00e5edab35f24c4f31890f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/incidenceeditor-18.12.0.tar.xz">incidenceeditor-18.12.0</a></td>
   <td align="right">529kB</td>
   <td><tt>eef1d84d5141971924f0728b5fdb0bae3d866e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/juk-18.12.0.tar.xz">juk-18.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d47f8bbee841956028dfe248f9af70a6b15487b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/k3b-18.12.0.tar.xz">k3b-18.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>568b1b69b38e35ab44d5ab4b579f1d738a2d4ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kaccounts-integration-18.12.0.tar.xz">kaccounts-integration-18.12.0</a></td>
   <td align="right">69kB</td>
   <td><tt>8f524769b764447356239e8ffd8c968a1cc0d337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kaccounts-providers-18.12.0.tar.xz">kaccounts-providers-18.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>73be32daefa04475a6f3fd42b3e3a73f8bf3b840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kaddressbook-18.12.0.tar.xz">kaddressbook-18.12.0</a></td>
   <td align="right">459kB</td>
   <td><tt>9f28f7886c89369fe48c611739ef68b3b24732f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kajongg-18.12.0.tar.xz">kajongg-18.12.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>91b985d34be0c059ea49c3cf8cd19321b9e833ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kalarm-18.12.0.tar.xz">kalarm-18.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>63daf4bb5faf7c5a8dae787cce4cc45096760a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kalarmcal-18.12.0.tar.xz">kalarmcal-18.12.0</a></td>
   <td align="right">559kB</td>
   <td><tt>d1ad4b8ffadc190e4c8bfa384bf05765f7a5614f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kalgebra-18.12.0.tar.xz">kalgebra-18.12.0</a></td>
   <td align="right">699kB</td>
   <td><tt>485e76cb96c983833ff5a0f20b9ffe99e0d77096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kalzium-18.12.0.tar.xz">kalzium-18.12.0</a></td>
   <td align="right">23MB</td>
   <td><tt>95b7069afc31b0603ca138748d499265e6fb5014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kamera-18.12.0.tar.xz">kamera-18.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>433cf6b1cb475af82d68926753a85992a7a0c476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kamoso-18.12.0.tar.xz">kamoso-18.12.0</a></td>
   <td align="right">162kB</td>
   <td><tt>8d3807a53a147a8952b31888476292d9424455b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kanagram-18.12.0.tar.xz">kanagram-18.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a633cb49f01a27b8675bb1398d7bbf0ecd6ea4bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kapman-18.12.0.tar.xz">kapman-18.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>09f905067e75d4dc602204ff3bf751341f45a9c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kapptemplate-18.12.0.tar.xz">kapptemplate-18.12.0</a></td>
   <td align="right">309kB</td>
   <td><tt>d0f29cddf02e3e013a86900af454665043f1d92f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kate-18.12.0.tar.xz">kate-18.12.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>a0d787762045fa74261b04550a4da24e23038baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/katomic-18.12.0.tar.xz">katomic-18.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>36dae08ea3f1b7735daf462f75b575575cb3963b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kbackup-18.12.0.tar.xz">kbackup-18.12.0</a></td>
   <td align="right">342kB</td>
   <td><tt>b49c4bbdc97e452206bfedced3dea7aad12047bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kblackbox-18.12.0.tar.xz">kblackbox-18.12.0</a></td>
   <td align="right">433kB</td>
   <td><tt>f55a464aecdd67291549a51c7dbc577294220ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kblocks-18.12.0.tar.xz">kblocks-18.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>afc2f9620e273a84d2eff088cca209fd5248c6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kblog-18.12.0.tar.xz">kblog-18.12.0</a></td>
   <td align="right">71kB</td>
   <td><tt>34fcb0b77423891f6915d0801fad41acbafa7fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kbounce-18.12.0.tar.xz">kbounce-18.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>bb3d688f1bad78480afa5836b3866865b6ff0b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kbreakout-18.12.0.tar.xz">kbreakout-18.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>882b402158aea9991b99348bd1cd59ca626de90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kbruch-18.12.0.tar.xz">kbruch-18.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>e9cbea9feee296e3db6ef5e6a46986f49297b0f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcachegrind-18.12.0.tar.xz">kcachegrind-18.12.0</a></td>
   <td align="right">788kB</td>
   <td><tt>e83e5d331cd27caee935b7e8c157f78f4d74485a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcalc-18.12.0.tar.xz">kcalc-18.12.0</a></td>
   <td align="right">354kB</td>
   <td><tt>959b08c9db6db483dd7afb71696f4ff0aab8d39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcalcore-18.12.0.tar.xz">kcalcore-18.12.0</a></td>
   <td align="right">246kB</td>
   <td><tt>871632f78bb135515fe8fa0afc007d1275192f0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcalutils-18.12.0.tar.xz">kcalutils-18.12.0</a></td>
   <td align="right">321kB</td>
   <td><tt>b5d0e629e1d3fe5c6a86c6e74e1f0f18c2cbdd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcharselect-18.12.0.tar.xz">kcharselect-18.12.0</a></td>
   <td align="right">347kB</td>
   <td><tt>062f99bd6863e18496a322f88f88229d49c3403d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcolorchooser-18.12.0.tar.xz">kcolorchooser-18.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>4fdbdbed6dda8f71b0817e3fbbf79f4aa315538a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcontacts-18.12.0.tar.xz">kcontacts-18.12.0</a></td>
   <td align="right">589kB</td>
   <td><tt>aaf9afa0283c5a4bb04ca9913d3e6f606efdc472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kcron-18.12.0.tar.xz">kcron-18.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>edeacb2291f62eea00a8d9b88bf6a298bce1c852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdav-18.12.0.tar.xz">kdav-18.12.0</a></td>
   <td align="right">48kB</td>
   <td><tt>926e00f3ecc1bf9a36a86c24e9393791b28addf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdebugsettings-18.12.0.tar.xz">kdebugsettings-18.12.0</a></td>
   <td align="right">53kB</td>
   <td><tt>d45b2f21ad96c8c50b7bd0039194ae611be9f2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kde-dev-scripts-18.12.0.tar.xz">kde-dev-scripts-18.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>e6efcee1e2fec731c3ad55981100309ddb7b6ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kde-dev-utils-18.12.0.tar.xz">kde-dev-utils-18.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bf03e159b00c6844c0b7128372067569a456816a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdeedu-data-18.12.0.tar.xz">kdeedu-data-18.12.0</a></td>
   <td align="right">320kB</td>
   <td><tt>95378476a639ad3e68f4374f6f2aa6dad3ed605f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdegraphics-mobipocket-18.12.0.tar.xz">kdegraphics-mobipocket-18.12.0</a></td>
   <td align="right">13kB</td>
   <td><tt>4392db822ee94a656382bd99920c4ee4a1474429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdegraphics-thumbnailers-18.12.0.tar.xz">kdegraphics-thumbnailers-18.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>36891fd373ea665d8a2e4e60e42c97d421f6976f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdenetwork-filesharing-18.12.0.tar.xz">kdenetwork-filesharing-18.12.0</a></td>
   <td align="right">305kB</td>
   <td><tt>dc8cdf068769d768850e1948925c9288ab6df238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdenlive-18.12.0.tar.xz">kdenlive-18.12.0</a></td>
   <td align="right">9.7MB</td>
   <td><tt>e668f9bc40cb93b4587c2ade16ceae9dcf96860f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdepim-addons-18.12.0.tar.xz">kdepim-addons-18.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>854fe59644f0d1da820a187dc53212091d3921af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdepim-apps-libs-18.12.0.tar.xz">kdepim-apps-libs-18.12.0</a></td>
   <td align="right">82kB</td>
   <td><tt>06b6f3c3a6c12359c4e3aada9adabd1fbfabaed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdepim-runtime-18.12.0.tar.xz">kdepim-runtime-18.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e494e9b6aca9bdfeed99c26ddec31426320a265e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdesdk-kioslaves-18.12.0.tar.xz">kdesdk-kioslaves-18.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>07456f6b50528b88c43b7947efe80e57057b9c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdesdk-thumbnailers-18.12.0.tar.xz">kdesdk-thumbnailers-18.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>99d3e7ce94f9604e16f3a67714368ad467dd3f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdf-18.12.0.tar.xz">kdf-18.12.0</a></td>
   <td align="right">543kB</td>
   <td><tt>c7393d127b91191504c043ba3792bbe17a46fa09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdialog-18.12.0.tar.xz">kdialog-18.12.0</a></td>
   <td align="right">95kB</td>
   <td><tt>7ad965abf17ab86816b77d4ae3b7f8c0895411a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kdiamond-18.12.0.tar.xz">kdiamond-18.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c072e09c79740bf1e5f82db6680bfb68b15a885d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/keditbookmarks-18.12.0.tar.xz">keditbookmarks-18.12.0</a></td>
   <td align="right">180kB</td>
   <td><tt>a2d2839c60078bddf921d094c42998526646d270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kfind-18.12.0.tar.xz">kfind-18.12.0</a></td>
   <td align="right">261kB</td>
   <td><tt>eb034b62066f22ace0c49f1f0b63b06bb23aba26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kfloppy-18.12.0.tar.xz">kfloppy-18.12.0</a></td>
   <td align="right">194kB</td>
   <td><tt>c7a55adf99573f6e1bd3b74b3103c3fb19e1c0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kfourinline-18.12.0.tar.xz">kfourinline-18.12.0</a></td>
   <td align="right">621kB</td>
   <td><tt>ceb08e00c6a918508c012f57def8ac5585b1da82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kgeography-18.12.0.tar.xz">kgeography-18.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>9898ec2734b0de99a86e2c8857173dd8eb6abab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kget-18.12.0.tar.xz">kget-18.12.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>3122a00cee4f3676ff0d2a31f89254db97087bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kgoldrunner-18.12.0.tar.xz">kgoldrunner-18.12.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>33259a33c3899bb0f984172ae764b146db7a1c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kgpg-18.12.0.tar.xz">kgpg-18.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>6651015b178006a590c45b0958d02514c299933a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/khangman-18.12.0.tar.xz">khangman-18.12.0</a></td>
   <td align="right">6.9MB</td>
   <td><tt>f3415df1fd88b6a3ef411bf02161e91413f708bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/khelpcenter-18.12.0.tar.xz">khelpcenter-18.12.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>45f472d29fb6b0af232472e258af124b0615c889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kidentitymanagement-18.12.0.tar.xz">kidentitymanagement-18.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>2eccdfde61d15783d61e434972427a47ca21deb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kig-18.12.0.tar.xz">kig-18.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a08a1550ffac1274bd8be6a9e653bbda566aba73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kigo-18.12.0.tar.xz">kigo-18.12.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>31c29e0f06e7579bf77f87e66ecea03d30424825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/killbots-18.12.0.tar.xz">killbots-18.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c54790f83dcbfa56baf7ab2138da5b503d1647a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kimagemapeditor-18.12.0.tar.xz">kimagemapeditor-18.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b72dd98a9a7d003480abad7b8e4e0d2080b7ea36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kimap-18.12.0.tar.xz">kimap-18.12.0</a></td>
   <td align="right">116kB</td>
   <td><tt>24783a5c4160236e4effc523d898dca44a326397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kio-extras-18.12.0.tar.xz">kio-extras-18.12.0</a></td>
   <td align="right">548kB</td>
   <td><tt>63bdc4fceb0fe4f7bda3002c9e105060b46c459f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kirigami-gallery-18.12.0.tar.xz">kirigami-gallery-18.12.0</a></td>
   <td align="right">253kB</td>
   <td><tt>cc3c3bca444ec7c89f6274f0584465ccd707e240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kiriki-18.12.0.tar.xz">kiriki-18.12.0</a></td>
   <td align="right">363kB</td>
   <td><tt>4c4e3f912737777ac77b3f574a58e8ff9ae4bd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kiten-18.12.0.tar.xz">kiten-18.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>8228e8f550c7116c417f55c63b8abfff0104f85f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kitinerary-18.12.0.tar.xz">kitinerary-18.12.0</a></td>
   <td align="right">636kB</td>
   <td><tt>7f2d1b89b2c4af6c20f81c6cce6624cd3a53ef4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kjumpingcube-18.12.0.tar.xz">kjumpingcube-18.12.0</a></td>
   <td align="right">279kB</td>
   <td><tt>a3324abac103c0e28ac49638ef694785e077f1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kldap-18.12.0.tar.xz">kldap-18.12.0</a></td>
   <td align="right">151kB</td>
   <td><tt>b3d92650fa44227ed1451ef1bc2ef116e062bd72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kleopatra-18.12.0.tar.xz">kleopatra-18.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bc4406e66d0f4ecf7dade472890df0820ca69ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/klettres-18.12.0.tar.xz">klettres-18.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>e69e289433f49d7ddfa4c158a6a21b01e389ca2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/klickety-18.12.0.tar.xz">klickety-18.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ecea3ed1dddb12c150f2f6dd01222e9c2d72317f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/klines-18.12.0.tar.xz">klines-18.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1f02447d85c83b07fea437cf75b16e0554160e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmag-18.12.0.tar.xz">kmag-18.12.0</a></td>
   <td align="right">614kB</td>
   <td><tt>b480052e151a36894952e34c97b5f5464554ed12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmahjongg-18.12.0.tar.xz">kmahjongg-18.12.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>f06ab0f834e709e5ce6b7c02114c1d1e3816ebb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmail-18.12.0.tar.xz">kmail-18.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>08f185da45e2ff89aa31b135af66d7a00b152f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmail-account-wizard-18.12.0.tar.xz">kmail-account-wizard-18.12.0</a></td>
   <td align="right">152kB</td>
   <td><tt>92564f8c960aa1a82e025a943a47008ef8a44b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmailtransport-18.12.0.tar.xz">kmailtransport-18.12.0</a></td>
   <td align="right">161kB</td>
   <td><tt>ae7235310cb168d48586ea98fe7d4c96562b0ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmbox-18.12.0.tar.xz">kmbox-18.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>713c12b6860ac447361322beac9cd4fec6c983bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmime-18.12.0.tar.xz">kmime-18.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>1c86943a5db454da08f72f3d9f689a919e8b5d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmines-18.12.0.tar.xz">kmines-18.12.0</a></td>
   <td align="right">879kB</td>
   <td><tt>58852d1d495a9f9d413cc21051108f69f3d7838e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmix-18.12.0.tar.xz">kmix-18.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dbcaba3fa33a2823a649bed87e2cd34b768d0ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmousetool-18.12.0.tar.xz">kmousetool-18.12.0</a></td>
   <td align="right">110kB</td>
   <td><tt>c81087eb69f2eb081aa226a3f19abd4ccd3ca86b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmouth-18.12.0.tar.xz">kmouth-18.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6116673c9474ee7a6619725f06392401eb390e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kmplot-18.12.0.tar.xz">kmplot-18.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6d44924792a6affdd29d9a9fa494d0964aa1bc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/knavalbattle-18.12.0.tar.xz">knavalbattle-18.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>993ba828de8aa17305167be76214cb84b7302bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/knetwalk-18.12.0.tar.xz">knetwalk-18.12.0</a></td>
   <td align="right">1012kB</td>
   <td><tt>c54f1434870b2b75034b3f8103990ba3373ff9b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/knights-18.12.0.tar.xz">knights-18.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>d355c226057772337be4fa4e1da9301156f169cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/knotes-18.12.0.tar.xz">knotes-18.12.0</a></td>
   <td align="right">312kB</td>
   <td><tt>a8a6c73ffd8bc90d6de05606eeaa01575fe114dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kolf-18.12.0.tar.xz">kolf-18.12.0</a></td>
   <td align="right">902kB</td>
   <td><tt>b348bbf91fc214fcaac3c67c2f99253baff4f71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kollision-18.12.0.tar.xz">kollision-18.12.0</a></td>
   <td align="right">274kB</td>
   <td><tt>51d540cbe8b54d44e2fb668355add5648bc00e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kolourpaint-18.12.0.tar.xz">kolourpaint-18.12.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>fb4f560f8a2656b524294e1670427939c8351414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kompare-18.12.0.tar.xz">kompare-18.12.0</a></td>
   <td align="right">782kB</td>
   <td><tt>fc100102e1d47812c0f74b75be06519a06f77b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/konqueror-18.12.0.tar.xz">konqueror-18.12.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>1f91d40c0a446b70497b800b09046efc597beccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/konquest-18.12.0.tar.xz">konquest-18.12.0</a></td>
   <td align="right">643kB</td>
   <td><tt>1b80fff6bc3df893f0a26a9d9a870afe98b7a9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/konsole-18.12.0.tar.xz">konsole-18.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6984e5a819e390e4aa48e97d8f64f63ba2c238be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kontact-18.12.0.tar.xz">kontact-18.12.0</a></td>
   <td align="right">773kB</td>
   <td><tt>3b6ff28033b7c726f62036a32e812ffd781bfbe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kontactinterface-18.12.0.tar.xz">kontactinterface-18.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>8eddcd489b6241c3031b6faff809f42d23cce507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kopete-18.12.0.tar.xz">kopete-18.12.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>cf0a4960df2e5c423326616864499f89a2a99b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/korganizer-18.12.0.tar.xz">korganizer-18.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7ae35d9142373842031724378be7ace594fa134f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kpat-18.12.0.tar.xz">kpat-18.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>8d9a5c66aba7c783c08ee5f56088dbc02cc80762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kpimtextedit-18.12.0.tar.xz">kpimtextedit-18.12.0</a></td>
   <td align="right">139kB</td>
   <td><tt>c21d9d1d018854ba138aa36eb3603cdc61ce3c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kpkpass-18.12.0.tar.xz">kpkpass-18.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>94faf79f257aa8c53efc7ed473bd4fd18fab07a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kqtquickcharts-18.12.0.tar.xz">kqtquickcharts-18.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>233d0d2f47ac72c80f0dc70cc1f8c9f205bb16ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/krdc-18.12.0.tar.xz">krdc-18.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a73ec3fb3f7fbdb85fa8b04564956eb5260208be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kreversi-18.12.0.tar.xz">kreversi-18.12.0</a></td>
   <td align="right">920kB</td>
   <td><tt>d799a8b12b23bbd464806807a78e89eaf705b7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/krfb-18.12.0.tar.xz">krfb-18.12.0</a></td>
   <td align="right">969kB</td>
   <td><tt>8bf446ecd0aa2d74a234095f807896de3ff63204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kross-interpreters-18.12.0.tar.xz">kross-interpreters-18.12.0</a></td>
   <td align="right">141kB</td>
   <td><tt>03ecc175bde3816612bb1102751b9fa6f8b48ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kruler-18.12.0.tar.xz">kruler-18.12.0</a></td>
   <td align="right">288kB</td>
   <td><tt>b01dd130e9cc33fa4e02ee717d92b5928cf8c54b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kshisen-18.12.0.tar.xz">kshisen-18.12.0</a></td>
   <td align="right">801kB</td>
   <td><tt>0af4549af8aaa7865ac426e2f5b5f7352e00ea23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksirk-18.12.0.tar.xz">ksirk-18.12.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>b9441d5a74ee0821e7c3303c33e8abb6a46c3939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksmtp-18.12.0.tar.xz">ksmtp-18.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>c22d6d10b87259bfaaa3f35e0cf0a3efbcbee047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksnakeduel-18.12.0.tar.xz">ksnakeduel-18.12.0</a></td>
   <td align="right">590kB</td>
   <td><tt>97a1ee7662cdf3d1eae59de0602afc8ccf3b1224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kspaceduel-18.12.0.tar.xz">kspaceduel-18.12.0</a></td>
   <td align="right">596kB</td>
   <td><tt>a96aa60d99a39d31cfb90a932aad9cbe8f71a456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksquares-18.12.0.tar.xz">ksquares-18.12.0</a></td>
   <td align="right">253kB</td>
   <td><tt>2b30216f2c7d6b1587e37e3e58a9028032b9ad35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksudoku-18.12.0.tar.xz">ksudoku-18.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>75aaad2b318926bb0527aae8774778ea1cb46706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ksystemlog-18.12.0.tar.xz">ksystemlog-18.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>767c24a04401782765f03d80aec8a7fd567613ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kteatime-18.12.0.tar.xz">kteatime-18.12.0</a></td>
   <td align="right">291kB</td>
   <td><tt>907288e89b8cbe2053b782cfea4e447d72e07905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktimer-18.12.0.tar.xz">ktimer-18.12.0</a></td>
   <td align="right">427kB</td>
   <td><tt>948e9f436bd26340f9ba0254138195bdaebb527f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktnef-18.12.0.tar.xz">ktnef-18.12.0</a></td>
   <td align="right">292kB</td>
   <td><tt>d41d2d200ddb91f7fd1fc836b71cb59f73d11e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktouch-18.12.0.tar.xz">ktouch-18.12.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>27a20c5eae93455c01b24e215c5b99fd488dcf3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-accounts-kcm-18.12.0.tar.xz">ktp-accounts-kcm-18.12.0</a></td>
   <td align="right">255kB</td>
   <td><tt>dd0518f89122b7495b07742bc7b9f6c0d0210128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-approver-18.12.0.tar.xz">ktp-approver-18.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>3feed9cf03290c761c94aae26c5b5f5c7302238e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-auth-handler-18.12.0.tar.xz">ktp-auth-handler-18.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>0818c617027895d2714b0fb51508f18a19924c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-call-ui-18.12.0.tar.xz">ktp-call-ui-18.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>e6681d3c9e91c5d1c550aa31fe2ecc2f8ea34f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-common-internals-18.12.0.tar.xz">ktp-common-internals-18.12.0</a></td>
   <td align="right">430kB</td>
   <td><tt>1fabd8486b4ef624f011101a4493599cb61ab479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-contact-list-18.12.0.tar.xz">ktp-contact-list-18.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>fe9fd0655c113107ff2a4a6967593d15fa5aa465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-contact-runner-18.12.0.tar.xz">ktp-contact-runner-18.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>ebffb66336c93cc28f9a300f6de123219dc6cb1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-desktop-applets-18.12.0.tar.xz">ktp-desktop-applets-18.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>6451d2d17cec1b8d9665ddb3c7fa16e3adbd7919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-filetransfer-handler-18.12.0.tar.xz">ktp-filetransfer-handler-18.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>82d8960163469e34bfd489ccfec7ed7d130c9b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-kded-module-18.12.0.tar.xz">ktp-kded-module-18.12.0</a></td>
   <td align="right">92kB</td>
   <td><tt>fee4b37d562d9c5959fbb30fcdc25552804c9c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-send-file-18.12.0.tar.xz">ktp-send-file-18.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>8295494f7336ce4253814ebc65d4b182fb26464c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktp-text-ui-18.12.0.tar.xz">ktp-text-ui-18.12.0</a></td>
   <td align="right">454kB</td>
   <td><tt>ed17d6a1fbab3a478986b91836ec5d9f1e8405f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/ktuberling-18.12.0.tar.xz">ktuberling-18.12.0</a></td>
   <td align="right">31MB</td>
   <td><tt>59545288531d67a6687241b228d0ba3da0a0a63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kturtle-18.12.0.tar.xz">kturtle-18.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b55324fe990c79206a9cfd814c76288e6781e76c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kubrick-18.12.0.tar.xz">kubrick-18.12.0</a></td>
   <td align="right">304kB</td>
   <td><tt>15e49d2625db76ce990d61548df1f851e47911bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kwalletmanager-18.12.0.tar.xz">kwalletmanager-18.12.0</a></td>
   <td align="right">766kB</td>
   <td><tt>477b3b81ec0ef2d839fc918bf3087968256945c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kwave-18.12.0.tar.xz">kwave-18.12.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>9b5636cbd309975644aaf7fd0b083d6d3b5dc905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/kwordquiz-18.12.0.tar.xz">kwordquiz-18.12.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>83a83505a6d2cc1c050e5a6ea59436c230967bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libgravatar-18.12.0.tar.xz">libgravatar-18.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>be5dfb3ad1569466a70dc1ac039f40d983ffb496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkcddb-18.12.0.tar.xz">libkcddb-18.12.0</a></td>
   <td align="right">416kB</td>
   <td><tt>7ce05c13c892773c3d71f71aa0cb0e3a2225a5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkcompactdisc-18.12.0.tar.xz">libkcompactdisc-18.12.0</a></td>
   <td align="right">86kB</td>
   <td><tt>4c6060f7ae52cb7b1fe2303d4be05c8601d86f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkdcraw-18.12.0.tar.xz">libkdcraw-18.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>e0b7628d38d27ef27ed0c7e0c6dd794ebfb0e6f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkdegames-18.12.0.tar.xz">libkdegames-18.12.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ea7af81e8212630d05a0a6e25491b04ef0c7631f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkdepim-18.12.0.tar.xz">libkdepim-18.12.0</a></td>
   <td align="right">328kB</td>
   <td><tt>3cd82c7e7f84244285cecb997a6452485d0bdfd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkeduvocdocument-18.12.0.tar.xz">libkeduvocdocument-18.12.0</a></td>
   <td align="right">202kB</td>
   <td><tt>a1b53b9fc10dedd6d72e8f8ecc49ed1b9897e99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkexiv2-18.12.0.tar.xz">libkexiv2-18.12.0</a></td>
   <td align="right">63kB</td>
   <td><tt>b468e505172f18a376da0df934f6e806dddfc393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkgapi-18.12.0.tar.xz">libkgapi-18.12.0</a></td>
   <td align="right">209kB</td>
   <td><tt>08196f85c8d2f45b4852909498a47af7be146c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkgeomap-18.12.0.tar.xz">libkgeomap-18.12.0</a></td>
   <td align="right">147kB</td>
   <td><tt>95600f8c88be7c5d0468efdde2c3495776ccae8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkipi-18.12.0.tar.xz">libkipi-18.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>5ae766cd9ca40c87d9a896813671e64007f88d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkleo-18.12.0.tar.xz">libkleo-18.12.0</a></td>
   <td align="right">325kB</td>
   <td><tt>b348fa7ab2eb9942d4789914d1785602bff15644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkmahjongg-18.12.0.tar.xz">libkmahjongg-18.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dad12ebf8a098a37cffe3e3912be6c52b5dc4453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libkomparediff2-18.12.0.tar.xz">libkomparediff2-18.12.0</a></td>
   <td align="right">169kB</td>
   <td><tt>b12a54adc1649116b4b3271522c6862adac9f3b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libksane-18.12.0.tar.xz">libksane-18.12.0</a></td>
   <td align="right">134kB</td>
   <td><tt>7006ae7c8337b62755dbcd01e34636e494da6a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/libksieve-18.12.0.tar.xz">libksieve-18.12.0</a></td>
   <td align="right">537kB</td>
   <td><tt>fc20dc9f578dd9accb0ed5a08e29d318152a386c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/lokalize-18.12.0.tar.xz">lokalize-18.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f596aff15b76a4d2a6fc462238044d910dd423bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/lskat-18.12.0.tar.xz">lskat-18.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>03c734299e9882624e70ab8fa21704031c1e3969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/mailcommon-18.12.0.tar.xz">mailcommon-18.12.0</a></td>
   <td align="right">677kB</td>
   <td><tt>77d892638807b7477357b1dca2c3aa672c845244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/mailimporter-18.12.0.tar.xz">mailimporter-18.12.0</a></td>
   <td align="right">528kB</td>
   <td><tt>9fb0ca1f475fe6a592007c785dcc0220727f45bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/marble-18.12.0.tar.xz">marble-18.12.0</a></td>
   <td align="right">49MB</td>
   <td><tt>61baa1c24d96b8adcc9bae0cb6f05899a10d0f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/mbox-importer-18.12.0.tar.xz">mbox-importer-18.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>5b2ca71e77cc393dc2c1aa281bfae7b473a6f038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/messagelib-18.12.0.tar.xz">messagelib-18.12.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>54eefc2fa867ce5318603099d437a48ae3b241a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/minuet-18.12.0.tar.xz">minuet-18.12.0</a></td>
   <td align="right">26MB</td>
   <td><tt>5ec3a40f7ad97ab1da925c8e905661c135ca0d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/okular-18.12.0.tar.xz">okular-18.12.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>bc20f7f41d03054f201e1b81e3f3cf911895e6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/palapeli-18.12.0.tar.xz">palapeli-18.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7102ea31fe91a30f3fd3d77f61dffdec9d44c637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/parley-18.12.0.tar.xz">parley-18.12.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ea505215fba611cfdf5e351bd5a5a436e3bd48f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/picmi-18.12.0.tar.xz">picmi-18.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6131423a9033414410b09324f7e54725a3112fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/pimcommon-18.12.0.tar.xz">pimcommon-18.12.0</a></td>
   <td align="right">287kB</td>
   <td><tt>ebcf6b5bf1855a5d9eba4d1807ac3906dfe4f9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/pim-data-exporter-18.12.0.tar.xz">pim-data-exporter-18.12.0</a></td>
   <td align="right">264kB</td>
   <td><tt>03a9c0f6b6ebe2bb1b718c3f06daa3efdba52a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/pim-sieve-editor-18.12.0.tar.xz">pim-sieve-editor-18.12.0</a></td>
   <td align="right">439kB</td>
   <td><tt>f64a1b3892a1198091aa44f2642c1111fc6e04f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/poxml-18.12.0.tar.xz">poxml-18.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>742d7e37a05bac60c479fe3d241f1e177753bd75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/print-manager-18.12.0.tar.xz">print-manager-18.12.0</a></td>
   <td align="right">233kB</td>
   <td><tt>a4aca33bba29ad953d51c3af7d6cfad3eed3bb6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/rocs-18.12.0.tar.xz">rocs-18.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9063d095722d52d51c5a8993c2384dc2d364abc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/signon-kwallet-extension-18.12.0.tar.xz">signon-kwallet-extension-18.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>4828ed0331d66abca542352cdbd26663657dedab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/spectacle-18.12.0.tar.xz">spectacle-18.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4c7eeb6881d6d3cb6eabfece765c5027d0179941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/step-18.12.0.tar.xz">step-18.12.0</a></td>
   <td align="right">839kB</td>
   <td><tt>5b3a4efebe31a156128e8d4f6e046375cbb5c55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/svgpart-18.12.0.tar.xz">svgpart-18.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>08f33afa44a0d9d4f1daeac2170d37f7d792564c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/sweeper-18.12.0.tar.xz">sweeper-18.12.0</a></td>
   <td align="right">359kB</td>
   <td><tt>3d9dbc101e144dc54eb9bc83806915a206604532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/umbrello-18.12.0.tar.xz">umbrello-18.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f6cfb5a6b88c3420ec8d44adce52bfdf840c1922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.0/src/zeroconf-ioslave-18.12.0.tar.xz">zeroconf-ioslave-18.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>1f0bdcf311e7ed47bc2ee05ba8828db2951b7529</tt></td>
</tr>

</table>
