{{/*
SPDX-FileCopyrightText: 2022 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{- range $index, $value := index .Page.Params (.Get "features") }}
<div class="feature">
  <div>
    <picture class="img-fluid round">
        <img src="{{ $value.src }}" class="img-fluid round" alt="">
    </picture>
  </div>
  <div>
      <p>{{ $value.description | markdownify }}</p>
  </div>
</div>
{{ end -}}
